<!-- heADER -->
<app-header></app-header>
<!--End Header-->
<section class="payment">
    <h1 class="text-center">PAYMENT HISTORY</h1>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-head">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Payment method</th>
                                <th scope="col">Plan</th>
                                <th scope="col">Status</th>
                                <th scope="col">Export & Download</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>5,Oct,2019</td>
                                <td>XXX/-</td>
                                <td>Netbanking</td>
                                <td>Premier Plan</td>
                                <td>Paid</td>
                                <td class="pdf"><a>Download pdf</a></td>
                            </tr>
                            <tr>
                                <td>5,Oct,2019</td>
                                <td>XXX/-</td>
                                <td>Netbanking</td>
                                <td>Premier Plan</td>
                                <td>Paid</td>
                                <td class="pdf"><a>Download pdf</a></td>
                            </tr>
                            <tr>
                                <td>5,Oct,2019</td>
                                <td>XXX/-</td>
                                <td>Netbanking</td>
                                <td>Premier Plan</td>
                                <td>Paid</td>
                                <td class="pdf"><a>Download pdf</a></td>
                            </tr>
                            <tr>
                                <td>5,Oct,2019</td>
                                <td>XXX/-</td>
                                <td>Netbanking</td>
                                <td>Premier Plan</td>
                                <td>Paid</td>
                                <td class="pdf"><a>Download pdf</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>
</section>