<app-header></app-header>
<section class="payment">
    <h1 class="text-center">PAYMENT HISTORY</h1>
    <div class="container">
        <div class="row mt-5">
            <table class="table">
                <thead class="table-head">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Payment method</th>
                        <th scope="col">Plan</th>
                        <th scope="col">Status</th>
                        <th scope="col">Export & Download</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5,Oct,2019</td>
                        <td>999/-</td>
                        <td>Netbanking</td>
                        <td>Premier Plan</td>
                        <td>Paid</td>
                        <td class="pdf"><a>Download pdf</a></td>
                    </tr>
                    <tr>
                        <td>5,Oct,2019</td>
                        <td>999/-</td>
                        <td>Netbanking</td>
                        <td>Premier Plan</td>
                        <td>Paid</td>
                        <td class="pdf"><a>Download pdf</a></td>
                    </tr>
                    <tr>
                        <td>5,Oct,2019</td>
                        <td>999/-</td>
                        <td>Netbanking</td>
                        <td>Premier Plan</td>
                        <td>Paid</td>
                        <td class="pdf"><a>Download pdf</a></td>
                    </tr>
                    <tr>
                        <td>5,Oct,2019</td>
                        <td>999/-</td>
                        <td>Netbanking</td>
                        <td>Premier Plan</td>
                        <td>Paid</td>
                        <td class="pdf"><a>Download pdf</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <section>
            <mat-horizontal-stepper linear id="stepper">

                <ng-template matStepperIcon="done" let-index="index">
                    {{index + 10}}
                </ng-template>


                <ng-template matStepperIcon="edit">
                    <mat-icon>insert_drive_file</mat-icon>
                </ng-template>

                <ng-template matStepperIcon="done">
                    <mat-icon>done_all</mat-icon>
                </ng-template>

                <mat-step label="Step 1">
                    <p>Step 1</p>
                    <button mat-button (click)="complete()" mat-raised-button color="primary">Complete</button>
                    <button mat-button (click)="next()" mat-raised-button color="primary">NextB</button>
                </mat-step>

                <mat-step #step2 label="Step 2">
                    <h3>Step 2</h3>
                    <button mat-button (click)="complete()" mat-raised-button color="primary">Complete</button>
                </mat-step>
                <mat-step #step3 label="Step 3">
                    <h3>Step 3</h3>
                    <button mat-button (click)="complete()" mat-raised-button color="primary">Complete</button>
                </mat-step>
                <mat-step #step3 label="Step 3">
                    <h3>Step 3</h3>
                    <button mat-button (click)="complete()" mat-raised-button color="primary">Complete</button>
                </mat-step>
            </mat-horizontal-stepper>
        </section>
    </div>
</section>