.table-head {
    background: #f1f1f1;
}
.pay-header {
    font-weight: bold;
}
table{
    th {
        border: none !important;
    }
}
.pdf {
    color: #fed501;
}
.payment {
    h1{
        font-weight: 600;
        margin-top: 4%;
    }
}