<!-- heADER -->
<app-header-one></app-header-one>

<!-- HEADER -->

<!-- banner starts from here -->
<section class="banner">
    <div class="container-fluid about-banner">
        <div class="container banner-content">
            <h2>Contact Us</h2>
            <p>GigX is a work marketplace platform that specializes in connecting and facilitating between talent demand
                and supply with the aim to manage talents in the age of uncertainty by providing strategic workforce
                solutions through the XFactors for companies to find the right talent and for talents to find the right
                gig opportunities</p>
        </div>
    </div>

</section>
<!-- banner ends here -->

<!-- our office address -->
<section class="address pt-5 pb-5">
    <div class="container">
        <h1 class="main-heading">OUR OFFICE ADDRESS
        </h1>
        <div class="row pt-5">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2">
                        <img src="../../../assets/images/placeholder.png" class="img-fluid">
                    </div>
                    <div class="col-md-10">
                        <p>Address : No.7A, Jalan Tun Mohd Faud 3,
                            Taman Tun Dr lsmail,
                            60000 Kuala Lumpur,
                            Malaysia</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2">
                        <img src="../../../assets/images/phone-call.png" class="img-fluid">

                    </div>
                    <div class="col-md-10">
                        <p>Contact Number</p>
                        <p><a href="tel:+651967855873">+651 967855873</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2">
                        <img src="../../../assets/images/gmail.png" class="img-fluid">

                    </div>
                    <div class="col-md-10">
                        <p>Mail Us : </p>
                        <p><a href="mailto:expert@gigxglobal.com">expert@gigxglobal.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- our office address -->
<!-- map -->
<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.82192014269!2d101.6285735353515!3d3.141671576229136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc49b5ddcf1569%3A0xea9d98e56d91b144!2sSorga%20Ventures%20Sdn%20Bhd!5e0!3m2!1sen!2sin!4v1575888854633!5m2!1sen!2sin"
    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
<!-- map -->
<!-- get in touch -->
<section class="login pb-5 pt-5">
    <div class="container">
        <h1 class="main-heading">GET IN TOUCH
        </h1>
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <form [formGroup]="contactFrom">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group password-group mb-3">
                                <input type="text" class="form-control password-field" placeholder="Full Name"
                                    formControlName="fullName"
                                    [ngClass]="{'is-invalid':f.fullName.errors && submitted}" />
                                <div class="invalid-feedback" *ngIf="f.fullName.errors">
                                    <div *ngIf="f.fullName.errors.required">Full Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group password-group mb-3">
                                <input type="email" class="form-control password-field" placeholder="Email"
                                    formControlName="email" AlphaNumericOnly
                                    [ngClass]="{'is-invalid':f.email.errors&& submitted}" />
                                <div class="invalid-feedback" *ngIf="f.email.errors">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Enter a valid Email</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group password-group mb-3">
                                <input type="text" class="form-control password-field" placeholder="Mobile Number"
                                    formControlName="mobile" [ngClass]="{'is-invalid':f.mobile.errors&& submitted}" />
                                <div class="invalid-feedback" *ngIf="f.mobile.errors">
                                    <div *ngIf="f.mobile.errors.required">Mobile Number is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group password-group mb-3">
                                <input type="text" class="form-control password-field" placeholder="Subject"
                                    formControlName="subject" [ngClass]="{'is-invalid':f.subject.errors&& submitted}" />
                                <div class="invalid-feedback" *ngIf="f.subject.errors">
                                    <div *ngIf="f.subject.errors.required">Subject is required</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control password-group" placeholder="Message ..." rows="4" type="text"
                                formControlName="message"
                                [ngClass]="{'is-invalid':f.message.errors&& submitted}"></textarea>
                            <div class="invalid-feedback" *ngIf="f.message.errors">
                                <div *ngIf="f.message.errors.required">Message is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <div class="form-group text-center mt-5">
                                <button type="submit" class="btn btn-primary contact-form"
                                    (click)="contactSubmit()">SUBMIT</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<!-- get in touch -->

<!-- footer -->
<div class="pre-footer-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img src="../../../assets/images/footer-logo.png" alt="">
                <!-- <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                <ul class="social-media mt-5">
                    <li><i class="fab fa-facebook-f"></i>
                    </li>
                    <li><i class="fab fa-twitter"></i>
                    </li>
                    <li><i class="fab fa-linkedin-in"></i>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 site-map">
                <h5>Site Map</h5>
                <ul class="">
                    <li><a href="#" routerLink="">Home</a></li>
                    <li><a href="#" routerLink="/about-us">About</a></li>
                    <li><a href="#" routerLink="/contact-us">Contact us</a></li>
                    <li><a href="#" routerLink="/terms-and-conditions">Terms And Conditions</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="address">
                    <h5>Contact</h5>
                    <ul>
                        <li>
                            <p>SORGA INNOVATION SDN BHD</p>
                        </li>
                        <li>
                            <p>No.7A, Jalan Tun Mohd Faud 3,</p>
                        </li>
                        <li>
                            <p>Taman Tun Dr lsmail,</p>
                        </li>
                        <li>
                            <p>60000 Kuala Lumpur,</p>
                        </li>
                        <li>
                            <p>Malaysia</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="mail-block">
                    <h5>Join Our Gigx</h5>
                    <form [formGroup]="subscribeFrom">
                        <div class="input-group password-group mb-3">
                            <input type="email" class="form-control" name="email" placeholder="Enter your email"
                                formControlName="email" [ngClass]="{'is-invalid':sub.email.errors&& submitEmail}">
                            <div class="invalid-feedback" *ngIf="sub.email.errors">
                                <div *ngIf="sub.email.errors.required">Email is required</div>
                                <div *ngIf="sub.email.errors.email">Enter a valid Email</div>
                            </div>
                        </div>
                        <button class="send-btn" type="submit" (click)="submitsubscribe()">SEND</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <p class="footer-text text-center">&copy; 2019 GigxGlobal. All Rights Reserved</p>
    </div>
</div>

<!-- footer -->