<!-- heADER -->
<app-header-one></app-header-one>

<!-- HEADER -->

<!-- banner starts from here -->
<section class="banner">
    <div class="container-fluid about-banner">
        <div class="container banner-content">
            <h1>Future of <br> Work Platform</h1>
            <h2>About Gigx</h2>
            <p>GigX is a work marketplace platform that specializes in connecting and facilitating between talent demand
                and supply with the aim to manage talents in the age of uncertainty by providing strategic workforce
                solutions through the XFactors for companies to find the right talent and for talents to find the right
                gig opportunities</p>
        </div>
    </div>

</section>


<!-- banner ends here -->

<!-- our objectives -->
<section class="objectives pt-5 pb-5">
    <div class="container mt-2">
        <h1 class="main-heading">Our Objectives
        </h1>
        <div class="row mt-3 pt-5">
            <div class="col-md-6">
                <ul>
                    <li>
                        Connect and facilitate talent demand and supply on Future of Work especially for the gig economy
                        and contingent workforce in one marketplace.
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>
                        Match between gig/project to a competent contingent worker
                    </li>
                </ul>
            </div>

        </div>
    </div>

</section>


<!-- our objectives -->

<!-- our features -->

<!-- <section class="our-features ">
    <div class="container-fluid">
        <div class="container pt-5">
            <h1>OUR FEATURES</h1>
            <div class="row pt-5 pb-5">
                <div class="col-md-3 text-center">
                    <img src="../../../assets/images/groups.png">
                    <p>Profiling of talent, firms and gigs.</p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../../../assets/images/magnifying-glass.png">
                    <p>Performance rating mechanism for both talent and firms.</p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../../../assets/images/portfolio.png">
                    <p>Accreditation as safety nets for gig talent e.g. retirement savings and other benefits.</p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../../../assets/images/hand-shake.png">
                    <p>Exciting events on current and upcoming trends, networking with experienced community</p>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="our-features pb-5">
    <div class="container-fluid">
        <div class="container">
            <h1>Our Features</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-fluid" src="../../../assets/images/ou-fea-icon1.svg">
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <p>Profiling of talent, firms and gigs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-fluid" src="../../../assets/images/ou-fea-icon2.svg">
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <p>Performance rating mechanism for both talent and firms.</p>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-fluid" src="../../../assets/images/ou-fea-icon3.svg">
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <p>Accreditation as safety nets for gig talent e.g. retirement savings and other benefits.</p>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-fluid" src="../../../assets/images/ou-fea-icon4.svg">
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <p>Exciting events on current and upcoming trends, networking with experienced community</p>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- our features -->


<!-- our X factory -->
<!-- <section class="xfactory pt-5 pb-5">
    <div class="container">
        <h1 class="main-heading">THE XFACTORS</h1>
        <div class="row">
            <div class="col-md-4">
                <h5><img src="../../../assets/images/check-box.png"> <span>e<span class="X-letter">X</span>perts</span>
                </h5>
            </div>
            <div class="col-md-4">
                <h5><img src="../../../assets/images/check-box.png"> <span>e<span
                            class="X-letter">X</span>perience</span>
                </h5>
            </div>
            <div class="col-md-4">
                <h5><img src="../../../assets/images/check-box.png"> <span>e<span
                            class="X-letter">X</span>pediency</span>
                </h5>
            </div>
        </div>
    </div>
</section> -->


<!-- our X factory -->

<!-- value added -->
<!-- <section class="value-added objectives pt-5 pb-5">
    <div class="container">
        <h1 class="main-heading">VALUE ADDED</h1>
        <div class="row pt-5 pb-5">
            <div class="col-md-6">
                <img src="../../../assets/images/value-1.jpg" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h3>For organisations</h3>
                <ul>
                    <li>
                        Flexible workforce on demand.
                    </li>
                    <li>
                        Avoid disruptions of existing legacy systems and processes.
                    </li>
                    <li>
                        Cost efficient solution to access high value talent.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row pt-3">

            <div class="col-md-6">
                <h3>For organisations</h3>
                <ul>
                    <li>
                        Empowerment and accountability by managing own schedule, performance and development.

                    </li>
                    <li>
                        Short term incentives created.
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/value2.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</section> -->


<!-- value added -->
<!-- click section -->
<section class="click-section pt-5 pb-5">
    <div class="container-fluid">
        <div class="container">
            <h1>JOIN THE GIGX <br>COMMUNITY TODAY!</h1>
            <span>CLICK HERE TO REGISTER!</span><a href="#" routerLink="/coverpage" class="btn">Click Here</a>
        </div>
    </div>
</section>

<!-- click section -->

<!-- World map section -->
<section class="world-map-section pt-5 pb-5">
    <div class="container-fluid">
        <div class="container">
           <h1>Where We Operate</h1>
           <div class="row">
               <div class="col-sm-3">
                   <h4>Find your future</h4>
                    <p>We’re changing the way some of the most important companies in the world work.</p>
                    <button type="button" class="btn btn-primary">Join Our Team</button>
               </div>
               <div class="offset-sm-1 col-sm-8">
                    <img class="img-responsive" src="../../../assets/images/world_map.png" alt="World Map">
                    <ul class="cont_address">
                        <li class="">
                            <div class="add_div malasia2">
                                <span class="spot"></span>
                                <div class="add_con malaysia-con">
                                    <h2>Malaysia</h2>Unit 1-3B,Incubator 3, <br>Technology Park Malaysia,<br> Bukit Jalil 57000, <br>Kuala Lumpur, Malaysia <br>Ph : +60-389940999 
                                </div>
                            </div>
                        </li>
                    </ul>
               </div>
           </div>
        </div>
    </div>
</section>

<!-- click section -->




<!-- footer -->
<div class="pre-footer-block">
    <div class="line"><hr style="border-top: 2px solid #2890c9;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <!-- <img src="../../../assets/images/footer-logo.png" alt=""> -->
                <img src="../../../assets/images/logo.png" alt="">
                <!-- <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                <ul class="social-media mt-5">
                    <li><i class="fab fa-facebook-f"></i>
                    </li>
                    <li><i class="fab fa-twitter"></i>
                    </li>
                    <li><i class="fab fa-linkedin-in"></i>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 site-map">
                <h5>Site Map</h5>
                <ul class="">
                    <li><a href="#" routerLink="">Home</a></li>
                    <li><a href="#" routerLink="/about-us">About</a></li>
                    <li><a href="#" routerLink="/contact-us">Contact us</a></li>
                    <li><a href="#" routerLink="/terms-and-conditions">Terms And Conditions</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="address">
                    <h5>Contact</h5>
                    <ul>
                        <li>
                            <p>SORGA INNOVATION SDN BHD</p>
                        </li>
                        <li>
                            <p>No.7A, Jalan Tun Mohd Faud 3,</p>
                        </li>
                        <li>
                            <p>Taman Tun Dr lsmail,</p>
                        </li>
                        <li>
                            <p>60000 Kuala Lumpur,</p>
                        </li>
                        <li>
                            <p>Malaysia</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="mail-block">
                    <h5>Join Our Gigx</h5>
                    <form [formGroup]="subscribeFrom">
                            <div class="input-group password-group mb-3">
                                <input type="email" class="form-control" name="email" placeholder="Enter your email"
                                    formControlName="email" [ngClass]="{'is-invalid':sub.email.errors&& submitEmail}">
                                <div class="invalid-feedback" *ngIf="sub.email.errors">
                                    <div *ngIf="sub.email.errors.required">Email is required</div>
                                    <div *ngIf="sub.email.errors.email">Enter a valid Email</div>
                                </div>
                            </div>
                            <button class="send-btn" type="submit" (click)="submitsubscribe()">SEND</button>
                        </form>
                </div>
            </div>
        </div>
        <hr>
        <p class="footer-text text-center">&copy; 2019 GigxGlobal. All Rights Reserved</p>
    </div>
</div>

<!-- footer -->