<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand"><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto main-menu">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <!-- <li class="nav-item login-list">|</li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/about-us">About</a>
                    </li>
                    <!-- <li class="nav-item login-list">|</li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/contact-us">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/coverpage"> Login</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ENG
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">English</a>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- header -->
<!-- banner starts from here -->
<section class="banner">
    <div class="container-fluid about-banner">
        <div class="container banner-content">
            <h2>About Gigx</h2>
            <p>GigX is a work marketplace platform that specializes in connecting and facilitating between talent demand
                and supply with the aim to manage talents in the age of uncertainty by providing strategic workforce
                solutions through the XFactors for companies to find the right talent and for talents to find the right
                gig opportunities</p>
        </div>
    </div>

</section>


<!-- banner ends here -->

<!-- our objectives -->
<section class="objectives pt-5 pb-5">
    <div class="container mt-5 mb-3">
        <h1 class="main-heading">OUR OBJECTIVES
        </h1>
        <div class="row mt-3 pt-5 pb-5">
            <div class="col-md-12">
                <ul>
                    <li>
                        Connect and facilitate talent demand and supply on Future of Work especially for the gig economy
                        and contingent workforce in one marketplace.
                    </li>
                    <li>
                        Match between gig/project to a competent contingent worker
                    </li>
                </ul>
            </div>

        </div>
    </div>

</section>


<!-- our objectives -->

<!-- our features -->

<section class="our-features ">
    <div class="container-fluid">
        <div class="container pt-5">
            <h1>OUR FEATURES</h1>
            <div class="row pt-5 pb-5">
                <div class="col-md-3 text-center">
                    <img src="../../../assets/images/groups.png">
                    <p>Profiling of talent, firms and gigs.</p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../../../assets/images/magnifying-glass.png">
                    <p>Performance rating mechanism for both talent and firms.</p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../../../assets/images/portfolio.png">
                    <p>Accreditation as safety nets for gig talent e.g. retirement savings and other benefits.</p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../../../assets/images/hand-shake.png">
                    <p>Exciting events on current and upcoming trends, networking with experienced community</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- our features -->


<!-- our X factory -->
<section class="xfactory pt-5 pb-5">
    <div class="container">
        <h1 class="main-heading">THE XFACTORS</h1>
        <div class="row">
            <div class="col-md-4">
                <h5><img src="../../../assets/images/check-box.png"> <span>e<span class="X-letter">X</span>perts</span>
                </h5>
            </div>
            <div class="col-md-4">
                <h5><img src="../../../assets/images/check-box.png"> <span>e<span
                            class="X-letter">X</span>perience</span>
                </h5>
            </div>
            <div class="col-md-4">
                <h5><img src="../../../assets/images/check-box.png"> <span>e<span
                            class="X-letter">X</span>pediency</span>
                </h5>
            </div>
        </div>
    </div>
</section>


<!-- our X factory -->

<!-- value added -->
<section class="value-added objectives pt-5 pb-5">
    <div class="container">
        <h1 class="main-heading">VALUE ADDED</h1>
        <div class="row pt-5 pb-5">
            <div class="col-md-6">
                <img src="../../../assets/images/value-1.jpg" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h3>For organisations</h3>
                <ul>
                    <li>
                        Flexible workforce on demand.
                    </li>
                    <li>
                        Avoid disruptions of existing legacy systems and processes.
                    </li>
                    <li>
                        Cost efficient solution to access high value talent.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row pt-3">

            <div class="col-md-6">
                <h3>For organisations</h3>
                <ul>
                    <li>
                        Empowerment and accountability by managing own schedule, performance and development.

                    </li>
                    <li>
                        Short term incentives created.
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/value2.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</section>


<!-- value added -->
<!-- click section -->
<section class="click-section pt-5 pb-5">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4>JOIN THE GIGX COMMUNITY TODAY! CLICK HERE TO REGISTER!</h4>
                </div>
                <div class="col-md-3 text-center">
                    <a href="#" routerLink="/coverpage" class="btn">Click Here</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- click section -->
<!-- footer -->
<div class="pre-footer-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img src="../../../assets/images/footer-logo.png" alt="">
                <!-- <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                <ul class="social-media mt-5">
                    <li><i class="fab fa-facebook-f"></i>
                    </li>
                    <li><i class="fab fa-twitter"></i>
                    </li>
                    <li><i class="fab fa-linkedin-in"></i>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 site-map">
                <h5>Site Map</h5>
                <ul class="">
                    <li><a href="#" routerLink="">Home</a></li>
                    <li><a href="#" routerLink="/about-us">About</a></li>
                    <li><a href="#" routerLink="/contact-us">Contact us</a></li>
                    <li><a href="#" routerLink="/terms-and-conditions">Terms And Conditions</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="address">
                    <h5>Contact</h5>
                    <ul>
                        <li>
                            <p>SORGA INNOVATION SDN BHD</p>
                        </li>
                        <li>
                            <p>No.7A, Jalan Tun Mohd Faud 3,</p>
                        </li>
                        <li>
                            <p>Taman Tun Dr lsmail,</p>
                        </li>
                        <li>
                            <p>60000 Kuala Lumpur,</p>
                        </li>
                        <li>
                            <p>Malaysia</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="mail-block">
                    <h5>Join Our Gigx</h5>
                    <!-- <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                    <input type="text" name="text" placeholder="Enter your email">
                    <button class="send-btn" type="submit">SEND</button>
                </div>
            </div>
        </div>
        <hr>
        <p class="footer-text text-center">&copy; 2019 GigxGlobal. All Rights Reserved</p>
    </div>
</div>

<!-- footer -->