<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand" routerLink=""><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="/companydashboard">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/postagig">Post a Gig</a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/talentsearch">Talent Search</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- HEADER -->
<section class="login company-registration mt-3 mb-5">
    <div class="container create-account">
        <div class="row justify-content-center mb-5">
            <div class="col-md-6">
                <h1 class="text-center mb-5">RATINGS & REVIEW
                </h1>
                <!-- search results buttons -->
                <div class="row search-category justify-content-center">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn" (click)="review()"
                                    [ngStyle]="{'background': ShowReview ==true?'#fed501':''}"> REVIEW</button>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn" (click)="rating()"
                                    [ngStyle]="{'background':ShowRating ==true?'#fed501':''}"> RATE</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- search results buttons -->
            </div>
        </div>
        <!-- ratings details  -->
        <div class="ratings" *ngIf="ShowReview">
            <!-- reviews and ratings -->
            <div class="row review ">

                <div class="col-md-12">
                    <ul>
                        <li>
                            <img src="../../../assets/images/profile-image-2.jpg">
                        </li>
                        <li>
                            <p>Bramble</p>
                            <p>
                                <span>3 days ago</span>
                            </p>
                        </li>
                        <li class="star">
                            <img src="../../../assets/images/star.png">
                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star-1.png">

                        </li>
                    </ul>


                </div>
                <div class="col-md-12 pt-3">

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>

            </div>
            <!-- review and rartings -->
            <!-- reviews and ratings -->
            <div class="row review ">

                <div class="col-md-12">
                    <ul>
                        <li>
                            <img src="../../../assets/images/profile-image-2.jpg">
                        </li>
                        <li>
                            <p>Bramble</p>
                            <p>
                                <span>3 days ago</span>
                            </p>
                        </li>
                        <li class="star">
                            <img src="../../../assets/images/star.png">
                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star-1.png">

                        </li>
                    </ul>


                </div>
                <div class="col-md-12 pt-3">

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>

            </div>
            <!-- review and rartings -->
            <!-- reviews and ratings -->
            <div class="row review ">

                <div class="col-md-12">
                    <ul>
                        <li>
                            <img src="../../../assets/images/profile-image-2.jpg">
                        </li>
                        <li>
                            <p>Bramble</p>
                            <p>
                                <span>3 days ago</span>
                            </p>
                        </li>
                        <li class="star">
                            <img src="../../../assets/images/star.png">
                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star-1.png">

                        </li>
                    </ul>


                </div>
                <div class="col-md-12 pt-3">

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>

            </div>
            <!-- review and rartings -->
            <!-- reviews and ratings -->
            <div class="row review ">

                <div class="col-md-12">
                    <ul>
                        <li>
                            <img src="../../../assets/images/profile-image-2.jpg">
                        </li>
                        <li>
                            <p>Bramble</p>
                            <p>
                                <span>3 days ago</span>
                            </p>
                        </li>
                        <li class="star">
                            <img src="../../../assets/images/star.png">
                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star-1.png">

                        </li>
                    </ul>


                </div>
                <div class="col-md-12 pt-3">

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>

            </div>
            <!-- review and rartings -->
            <!-- reviews and ratings -->
            <div class="row review ">

                <div class="col-md-12">
                    <ul>
                        <li>
                            <img src="../../../assets/images/profile-image-2.jpg">
                        </li>
                        <li>
                            <p>Bramble</p>
                            <p>
                                <span>3 days ago</span>
                            </p>
                        </li>
                        <li class="star">
                            <img src="../../../assets/images/star.png">
                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star-1.png">

                        </li>
                    </ul>


                </div>
                <div class="col-md-12 pt-3">

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>

            </div>
            <!-- review and rartings -->
            <!-- reviews and ratings -->
            <div class="row review ">

                <div class="col-md-12">
                    <ul>
                        <li>
                            <img src="../../../assets/images/profile-image-2.jpg">
                        </li>
                        <li>
                            <p>Bramble</p>
                            <p>
                                <span>3 days ago</span>
                            </p>
                        </li>
                        <li class="star">
                            <img src="../../../assets/images/star.png">
                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star.png">

                            <img src="../../../assets/images/star-1.png">

                        </li>
                    </ul>


                </div>
                <div class="col-md-12 pt-3">

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>

            </div>
            <!-- review and rartings -->
        </div>
        <!-- ratings details -->
        <div class="review" *ngIf="ShowRating">
            <!-- reviews and ratings -->
            <div class="row review rating-star">

                <div class="col-md-12">
                    <form>
                        <ul>
                            <li>
                                <img src="../../../assets/images/profile-image-2.jpg">
                            </li>
                            <li class="star">
                                <p>Bramble</p>
                                <fieldset class="rating">
                                    <input type="radio" id="star5" name="rating" value="5" />
                                    <label class="full" for="star5" title="rating - 5 stars"></label>
                                    <input type="radio" id="star4half" name="rating" value="4 and a half" />
                                    <label class="half" for="star4half" title="rating - 4.5 stars"></label>
                                    <input type="radio" id="star4" name="rating" value="4" />
                                    <label class="full" for="star4" title="rating - 4 stars"></label>
                                    <input type="radio" id="star3half" name="rating" value="3 and a half" />
                                    <label class="half" for="star3half" title="rating - 3.5 stars"></label>
                                    <input type="radio" id="star3" name="rating" value="3" />
                                    <label class="full" for="star3" title="rating - 3 stars"></label>
                                    <input type="radio" id="star2half" name="rating" value="2 and a half" />
                                    <label class="half" for="star2half" title="rating - 2.5 stars"></label>
                                    <input type="radio" id="star2" name="rating" value="2" />
                                    <label class="full" for="star2" title="rating - 2 stars"></label>
                                    <input type="radio" id="star1half" name="rating" value="1 and a half" />
                                    <label class="half" for="star1half" title="rating - 1.5 stars"></label>
                                    <input type="radio" id="star1" name="rating" value="1" />
                                    <label class="full" for="star1" title="rating - 1 star"></label>
                                    <input type="radio" id="starhalf" name="rating" value="half" />
                                    <label class="half" for="starhalf" title="rating - 0.5 stars"></label>
                                </fieldset>


                            </li>
                        </ul>
                        <div class="form-group mt-3">
                            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Type here ..."
                                rows="6"></textarea>
                        </div>
                        <div class="row justify-content-center mt-5">
                            <div class="col-md-5 text-right">
                                <button type="submit" class="btn account">Submit</button>
                            </div>
                        </div>
                    </form>



                </div>
                <div class="col-md-12 pt-3">


                </div>

            </div>
            <!-- review and rartings -->
        </div>
    </div>
</section>