<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand"><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto main-menu">
                    <li class="nav-item ">
                        <a class="nav-link " href="#" routerLink="" [ngClass]="{'active': currentRoute == '/'}">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <!-- <li class="nav-item login-list">|</li> -->
                    <li class="nav-item">
                        <a class="nav-link " href="#" routerLinkActive="active" routerLink="/about-us"
                        [ngClass]="{'active': currentRoute == '/about-us'}">About Us</a>
                    </li>
                    <!-- <li class="nav-item login-list">|</li> -->
                    <li class="nav-item">
                        <a class="nav-link " href="#" routerLink="/contact-us"
                        [ngClass]="{'active': currentRoute == '/contact-us'}">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://gigxglobal.blogspot.com/" target="_balnk">GIG Talks</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link " href="#" routerLink="/latestannoucements"
                        [ngClass]="{'active': currentRoute == '/latestannoucements'}">Annoucements</a>
                    </li> -->
                    <li class="nav-item" *ngIf="!dataStorage.loggedInUserData.registration_type">
                        <a class="nav-link" href="#" routerLink="/coverpage"> Login</a>
                    </li>
                    <li class="nav-item" *ngIf="dataStorage.loggedInUserData.registration_type">
                        <a class="nav-link" (click)="onDashboardClick()"> Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            English
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">English</a>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- header -->