<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand" routerLink=""><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="/talentdashboard">Home<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/createajobalert">Create a Gig Alert</a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/jobsearch">Gig Serach</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- HEADER -->
<section class="login company-registration mt-3 mb-5" [@fadeInAndOut]>
    <div class="container create-account">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center mb-5">CREATE A GIG ALERT
                </h1>

                <form [formGroup]="createGigForm">


                    <div class="form-group">
                        <type-ahead placeholder="Skills" class="form-control" [suggestions]="skillsList"
                         formControlName="skills" [custom]="true" [multi]="true" [complex]="false"
                         [ngClass]="{'is-invalid':formControls.skills.errors&& submitted}"
                      >
                    </type-ahead>
                    <div *ngIf="formControls.skills.errors&& submitted" class="invalid-feedback">
                            <div *ngIf="formControls.skills.errors.required">Skill is required</div>
                        </div>
                    </div>
                    <div class="row form-group country-city">
                        <div class="col-md-6">
                            <select class="form-control" id="exampleFormControlSelect1"
                                formControlName="country_id"
                                (change)="changeCountryList($event.target.value)"
                                [ngClass]="{ 'is-invalid':formControls.country_id.errors&& submitted }">
                                <option value="" [selected]=true [disabled]="true">Select Country
                                </option>
                                <option *ngFor="let data of CountiresList" [value]="data.country_id">
                                    {{data.country_name}}
                                </option>
                            </select>
                            <div *ngIf="formControls.country_id.errors&& submitted" class="invalid-feedback">
                                <div *ngIf="formControls.country_id.errors.required">Country is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" id="exampleFormControlSelect1"
                                formControlName="state_id"
                                (change)="changeStateList($event.target.value)"
                                [ngClass]="{ 'is-invalid':formControls.state_id.errors&& submitted }">
                                <option [value]=null [selected]="true">Select State </option>
                                <option *ngFor="let data of statesList" [value]="data.state_id">
                                    {{data.state}}</option>
                            </select>
                            <div *ngIf="formControls.state_id.errors&& submitted" class="invalid-feedback">
                                <div *ngIf="formControls.state_id.errors.required">State is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1"
                                    formControlName="city_id"
                                    [ngClass]="{ 'is-invalid':formControls.city_id.errors&& submitted }">
                                    <option [value]=null [selected]="true">Select City </option>
                                    <option *ngFor="let data of citiesList" [value]="data.city_id">
                                        {{data.city}}
                                    </option>
                                </select>
                                <div *ngIf="formControls.city_id.errors&& submitted" class="invalid-feedback">
                                    <div *ngIf="formControls.city_id.errors.required">City is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                           

                            <input type="text" class="form-control" formControlName="location" [ngClass]="{'is-invalid':formControls.location.errors&& submitted}" placeholder="Location" />
                                            <div class="invalid-feedback" *ngIf="formControls.location.errors">
                                                    <div *ngIf="formControls.location.errors.required">Expected Salary is
                                                        required
                                                    </div>
                                                </div>
                        </div>

                    </div>     
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1"
                                    placeholder="Currency Type" formControlName="currency_type"
                                    [ngClass]="{'is-invalid':formControls.currency_type.errors&& submitted}">
                                    <option value="Type" [disabled]="true" [selected]="true">Currency Type
                                    </option>
                                    <!-- <option value="INR">INR </option> -->
                                    <option value="USD">USD</option>
                                    <option value="RM">RM</option>
                                </select>
                                <div class="invalid-feedback" *ngIf="formControls.currency_type.errors">
                                    <div *ngIf="formControls.currency_type.errors.required">Currency Type is
                                        required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                                            <input type="text" class="form-control"
                                            [ngClass]="{'is-invalid':formControls.expected_salary.errors&& submitted}"
                                             formControlName="expected_salary" myNumberOnly placeholder="Expected Salary" />
                                            <div class="invalid-feedback" *ngIf="formControls.expected_salary.errors">
                                                    <div *ngIf="formControls.expected_salary.errors.required">Expected Salary is
                                                        required
                                                    </div>
                                                </div>
                                        
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                                <select class="form-control" id="exampleFormControlSelect1"
                                [ngClass]="{'is-invalid':formControls.work_exp.errors&& submitted}"
                                 placeholder="Work Experience" formControlName="work_exp">
                                        <option value=null disabled [selected]="true">Select Work Experience </option>
                                        <option *ngFor="let data of workExpsList" [value]="data"> {{data}} </option>
                                    </select>
                                    <div *ngIf="formControls.work_exp.errors&& submitted" class="invalid-feedback">
                                        <div *ngIf="formControls.work_exp.errors.required">Work Experience is required</div>
                                    </div>
                        </div>
                        <div class="col-md-6">
                                <select class="form-control" id="exampleFormControlSelect1"
                                placeholder="Industry Type" formControlName="industry_type"
                                [ngClass]="{'is-invalid':formControls.industry_type.errors&& submitted}">
                                <option value=null [disabled]="true" [selected]="true">Industry Type
                                </option>
                                <option *ngFor="let data of industriesList" [value]="data.industry_id">
                                    {{data.industry_name}}
                                </option>
                            </select>
                            <div class="invalid-feedback" *ngIf="formControls.industry_type.errors">
                                <div *ngIf="formControls.industry_type.errors.required">Industry Type is
                                    required
                                </div>
                            </div>
                        </div>
                    </div>          

                    <button type="button" class="btn btn-primary" (click)="onFormSubmit()">CONTINUE</button>
                </form>

            </div>
        </div>
    </div>
</section>