<app-header></app-header>
<section class="talent">
    <h1 class="text-center">GIGX TALENT</h1>
    <div class="container">

        <mat-horizontal-stepper linear id="stepper">

            <!-- <ng-template matStepperIcon="user" let-index="index">
                {{index + 10}}
            </ng-template> -->

            <ng-template matStepperIcon="user">
                <mat-icon>bubble_chart</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="user">
                <mat-icon>home</mat-icon>
            </ng-template>

            <ng-template matStepperIcon="done">
                <mat-icon>done_all</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="user">
                <mat-icon>user</mat-icon>
            </ng-template>

            <mat-step label="" state="user">
                <!-- <p>Step 1</p> -->
                <section class="login company-registration mt-3 mb-5">
                    <div class="container create-account">
                        <div class="row justify-content-center ">
                            <div class="col-md-6">
                                <form>

                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Full Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="test" class="form-control" id="exampleInputPassword1"
                                            placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Create password">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <select class="custom-select" id="inputGroupSelect01">
                                                <option selected>+61</option>
                                                <option value="1">+91 </option>
                                                <option value="2">+852</option>
                                                <option value="3"> +62</option>
                                            </select>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Mobile number">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Location">
                                    </div>



                                    <!-- vamshi upload img -->
                                    <div class="row form-group">
                                        <div class="col-md-5">
                                            <div class="upload-image text-center">
                                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"
                                                    #fileInput (change)="readUrl($event)" />
                                                <img *ngIf="!url1==true" src="/assets/images/upload.png">
                                                <img *ngIf="url1" [src]="url1" height="60">

                                                <p class="drag">Drag & Drop file here</p>
                                                <p class="file-select">or select file to upload</p>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <p class="or-tag">-or-</p>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="upload-image text-center">
                                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"
                                                    #fileInput (change)="readUrl2($event)" />
                                                <img *ngIf="!url3==true" src="/assets/images/upload.png" class="mt-3">
                                                <img *ngIf="url3" [src]="url3" height="60">

                                                <p class="drag mt-3">upload video</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <h6 class="add-details">Additional details</h6>
                                    </div>
                                    <div class="form-group">
                                        <p>Gender</p>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline1">Male</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline2">Female</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <my-date-picker class="my-date-picker" name="mydate"
                                            (dateChanged)="onDateChanged($event)" [selDate]="selDate" required>
                                        </my-date-picker>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" id="exampleFormControlSelect1"
                                            placeholder="Industry Type">
                                            <option value="company">Married </option>
                                            <option value="individual"> Un married</option>

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" id="exampleFormControlSelect1"
                                            placeholder="Industry Type">
                                            <option value="company">Category </option>
                                            <option value="individual">Category1</option>

                                        </select>
                                    </div>
                                    <!-- vamshi upload img -->
                                    <!-- manmohan upload img -->

                                    <!-- <div class="group-gap">
                    
                    
                                            <div class="avatar-upload">
                                                <div class="avatar-edit">
                                                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                                        (change)="uploadFile($event)" />
                                                </div>
                                                <div class="avatar-preview">
                                                    <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-danger btn-lg btn-block" (click)="fileInput.click()">Upload
                                            Image</button> -->
                                    <!-- manmohan upload img -->

                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">I agreed to the
                                                <span><a href="">Terms
                                                        and Conditions </a></span> governing the use of gigx.com, I
                                                have
                                                reviewed the
                                                default mailer & Communications settings</label>
                                        </div>
                                    </div>
                                    <!-- <button mat-button (click)="complete()" mat-raised-button
                                        class="btn btn-primary">Submit</button> -->

                                </form>
                                <button mat-button (click)="complete()" mat-raised-button
                                    class="btn btn-primary">REGISTER & CONTINUE</button>
                            </div>

                        </div>
                    </div>
                </section>
            </mat-step>

            <mat-step #step2 label="">
                <!-- <h3>Step 2</h3> -->

                <section class="login company-registration mt-3 mb-5">
                    <div class="container create-account">
                        <div class="row justify-content-center ">
                            <div class="col-md-6">
                                <form>

                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Highest qualification">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                            placeholder="Specialization">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                            placeholder="Institution">
                                    </div>
                                    <div class="form-group">
                                        <p>Job type</p>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline4" name="customRadioInline4"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline4">Full
                                                time</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline5" name="customRadioInline4"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline5">Part
                                                time</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline6" name="customRadioInline4"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline6">
                                                Correspandence</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <select class="form-control" id="exampleFormControlSelect1"
                                            placeholder="Industry Type">
                                            <option value="company">Passing year </option>
                                            <option value="individual">2018</option>

                                        </select>
                                    </div>

                                    <div>
                                        <p class="add-another text-center"> + ADD ANOTHER EDUCATION</p>
                                    </div>
                                </form>
                                <button type="submit" class="btn btn-primary mt-5"
                                    (click)="complete()">CONTINUE</button>
                            </div>

                        </div>
                    </div>
                </section>
            </mat-step>
            <mat-step #step3 label="">
                <section class="login company-registration mt-3 mb-5">
                    <div class="container create-account">
                        <div class="row justify-content-center ">
                            <div class="col-md-6">
                                <form>

                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Current designation">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                            placeholder="Current company">
                                    </div>
                                    <p>Annual Salary</p>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1"
                                                    placeholder="Industry Type">
                                                    <option value="company" disabled>INR </option>
                                                    <option value="individual">20,000</option>
                                                    <option value="individual">30,000</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1"
                                                    placeholder="Industry Type">
                                                    <option value="company" disabled>Laks </option>
                                                    <option value="individual">2</option>
                                                    <option value="individual">3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1"
                                                    placeholder="Industry Type">
                                                    <option value="company" disabled>Thousands </option>
                                                    <option value="individual">2</option>
                                                    <option value="individual">3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Working since</p>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1"
                                                    placeholder="Industry Type">
                                                    <option value="company" disabled>Date </option>
                                                    <option value="individual">2</option>
                                                    <option value="individual">3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1"
                                                    placeholder="Industry Type">
                                                    <option value="company" disabled>Month </option>
                                                    <option value="individual">2</option>
                                                    <option value="individual">3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1"
                                                    placeholder="Industry Type">
                                                    <option value="company" disabled>Year </option>
                                                    <option value="individual">1999</option>
                                                    <option value="individual">2000</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                            placeholder="Location">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" id="exampleFormControlSelect1"
                                            placeholder="Industry Type">
                                            <option value="company" disabled>Industry </option>
                                            <option value="individual">Software</option>
                                            <option value="individual">Hardware</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                            placeholder="Role">
                                    </div>
                                    <div>
                                        <p class="add-another text-center"> + ADD ANOTHER EMPLOYMENT</p>
                                    </div>
                                </form>
                                <button type="submit" class="btn btn-primary mt-5"
                                    (click)="complete()">CONTINUE</button>
                            </div>

                        </div>
                    </div>
                </section>
            </mat-step>
            <mat-step #step4 label="" state="user">
                <section class="login company-registration mt-3 mb-5">
                    <div class="container create-account">
                        <div class="profile">
                            <div class="upload-image1 text-center">
                                <img *ngIf="!url2==true" src="../../../assets/images/user.png" />
                                <img class="attch-img" src="../../../assets/images/camera.png" />
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                    (change)="readUrl1($event)" />
                                <img *ngIf="url2" [src]="url2" class="uploaded-img">
                            </div>

                        </div>
                        <div class="row justify-content-center mt-5">
                            <div class="col-md-6">
                                <div>
                                    <h6 class="add-details">Job preferrences</h6>
                                </div>
                                <form class="mt-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Location">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                            placeholder="Industry">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                            placeholder="Function">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputPassword1"
                                            placeholder="Role">
                                    </div>
                                    <div class="form-group">
                                        <p class="dark-col">Desired job type</p>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline8" name="customRadioInline8"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline8">Gig</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline9" name="customRadioInline8"
                                                class="custom-control-input">
                                            <label class="custom-control-label"
                                                for="customRadioInline9">Contract</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline10" name="customRadioInline8"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline10">Full
                                                time</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="dark-col">Desired employment type</p>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline12" name="customRadioInline17"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline12">Gig</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline13" name="customRadioInline17"
                                                class="custom-control-input">
                                            <label class="custom-control-label"
                                                for="customRadioInline13">Contract</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline14" name="customRadioInline17"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline14">Full
                                                time</label>
                                        </div>
                                    </div>
                                    <div>
                                        <h6 class="add-details">Add Skills</h6>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea2"> Select 10 to 20 Skills to help
                                            algorithms match you with opportunities</label>
                                        <div>
                                            <textarea class="form-control rounded-0" name="newArr"
                                                id="exampleFormControlTextarea2" rows="3">
{{Data}}
                                        </textarea>
                                        </div>

                                    </div>
                                    <p>Suggested skills based on your profile</p>
                                    <div class="skills">
                                        <p class="skill-dot" (click)="add('HTML 5')">HTML 5</p>
                                        <p class="skill-dot" (click)="add('CSS 3')">CSS 3</p>
                                        <p class="skill-dot" (click)="add('JS')">JS</p>
                                        <p class="skill-dot" (click)="add('ANGULAR JS')">ANGULAR JS</p>
                                        <p class="skill-dot" (click)="add('ANGULAR 1')">ANGULAR 1</p>
                                        <p class="skill-dot" (click)="add('ANGULAR 4')">ANGULAR 4</p>
                                    </div>
                                </form>
                                <button type="submit" class="btn btn-primary mt-5"
                                    (click)="complete()">CONTINUE</button>
                            </div>

                        </div>
                    </div>
                </section>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</section>