<app-header></app-header>
<section [@fadeInAndOut] class="login company-registration mt-3 mb-5">
    <div class=" container create-account">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center mb-5">COMPANY REGISTRATION
                </h1>
                <form [formGroup]="registrationForm" (ngSubmit)="registration()" *ngIf="comType=='company'">
                    <div class="form-group" class="form-group">
                        <select id="exampleFormControlSelect1" class="form-control" placeholder="Industry Type"
                            formControlName="industry_type"
                            [ngClass]="{ 'is-invalid': submitted && f.industry_type.errors }">
                            <option value="" [selected]=true [disabled]="true">Industry type</option>
                            <option *ngFor="let data of IndustryList" [value]="data.industry_id"> {{data.industry_name}}
                            </option>
                            <!-- <option value="IT Industry">IT Industry </option>
                            <option value="Electrical"> Electrical </option>
                            <option value="Networking"> Networking </option>
                            <option value="Others"> Others </option> -->
                        </select>
                        <div *ngIf="submitted && f.industry_type.errors" class="invalid-feedback">
                            <div *ngIf="f.industry_type.errors.required">Industry type is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <p>Employer Type</p>
                        <div class="custom-control custom-radio custom-control-inline" (change)="changeType($event)">
                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                class="custom-control-input" value="company" [checked]='true'>
                            <label class="custom-control-label" for="customRadioInline1">Company</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline" (change)="changeType($event)">
                            <input type="radio" id="customRadioInline3" value="individual" name="customRadioInline1"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline3">Business Owner</label>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="comType=='company'">
                        <input type="text" formControlName="company_name"
                            [ngClass]="{ 'is-invalid': submitted && f.company_name.errors }" class="form-control"
                            id="exampleInputPassword1" placeholder="Company name">
                        <div *ngIf="submitted && f.company_name.errors" class="invalid-feedback">
                            <div *ngIf="f.company_name.errors.required">Company name is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="comType=='company'">
                        <input type="text" formControlName="company_registration"
                            [ngClass]="{ 'is-invalid': submitted && f.company_registration.errors }"
                            class="form-control" id="exampleInputPassword1" placeholder="Company registration number">
                        <div *ngIf="submitted && f.company_registration.errors" class="invalid-feedback">
                            <div *ngIf="f.company_registration.errors.required">Company registration number is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="comType=='company'">
                        <input type="email" formControlName="email"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Company Email Address">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Company email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <input type="password" formControlName="password"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control"
                            id="exampleInputPassword1" placeholder="Create Password">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div> -->
                    <div class="input-group password-group mb-3">
                        <input type="password" class="form-control password-field" placeholder="Create Password"
                            formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                            *ngIf="showEye" />
                        <input type="text" class="form-control password-field" placeholder="Create Password"
                            formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                            *ngIf="!showEye" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" *ngIf="!showEye" type="button"
                                (click)="hidePassword()" id="button-addon2">
                                <img src="../../../assets/images/eye-open.png"></button>
                            <button class="btn btn-outline-secondary" *ngIf="showEye" type="button"
                                (click)="hidePassword()" id="button-addon2">
                                <img src="../../../assets/images/eye-closed.png"></button>
                        </div>

                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>

                    </div>
                    <div class="form-group" *ngIf="comType=='company'">
                        <input type="text" formControlName="company_url"
                            [ngClass]="{ 'is-invalid': submitted && f.company_url.errors }" class="form-control"
                            placeholder="Company Url">
                        <div *ngIf="submitted && f.company_url.errors" class="invalid-feedback">
                            <div *ngIf="f.company_url.errors.required">Company url is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="contact_person_name"
                            [ngClass]="{ 'is-invalid': submitted && f.contact_person_name.errors }"
                            name="contact_person_name" class="form-control" placeholder="Contact Person Name">
                        <div *ngIf="submitted && f.contact_person_name.errors" class="invalid-feedback">
                            <div *ngIf="f.contact_person_name.errors.required">Contact person name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="contact_email"
                            [ngClass]="{ 'is-invalid': submitted && f.contact_email.errors }" class="form-control"
                            placeholder="Email Address">
                        <div *ngIf="submitted && f.contact_email.errors" class="invalid-feedback">
                            <div *ngIf="f.contact_email.errors.required"> Email is required</div>
                            <div *ngIf="f.contact_email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="designation"
                            [ngClass]="{ 'is-invalid': submitted && f.designation.errors }" class="form-control"
                            placeholder="Designation">
                        <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                            <div *ngIf="f.designation.errors.required"> Designation is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="address"
                            [ngClass]="{ 'is-invalid': submitted && f.address.errors }" placeholder="Address">
                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                            <div *ngIf="f.address.errors.required"> Address is required</div>
                        </div>
                    </div>
                    <div class="row form-group country-city">
                        <div class="col-md-6">
                            <!-- <ng-autocomplete [data]="CountiresList" [searchKeyword]="keyword"
                                [itemTemplate]="itemTemplate" (selected)='selectEvent($event)'
                                placeHolder="Select Country" [notFoundTemplate]="notFoundTemplate">
                            </ng-autocomplete>

                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item.country_name"></a>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template> -->
                            <select class="form-control" id="exampleFormControlSelect1" formControlName="country"
                                (change)="changeCountryList($event.target.value)"
                                [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                                <option value="" [selected]=true [disabled]="true">Select Country </option>
                                <option *ngFor="let data of CountiresList" [value]="data.country_id">
                                    {{data.country_name}}
                                </option>
                            </select>
                            <!-- <ng-select [items]="CountiresList" (change)="changeCountryList1($event)"
                                bindLabel="country_name" formControlName="country" placeholder="Select Country">
                            </ng-select> -->
                            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                <div *ngIf="f.country.errors.required">Country is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" id="exampleFormControlSelect1" formControlName="state"
                                (change)="changeStateList($event.target.value)">
                                <option [value]="" [selected]="true">Select State </option>
                                <option *ngFor="let data of statesList" [value]="data.state_id"> {{data.state}}</option>
                            </select>
                            <!-- <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                <div *ngIf="f.state.errors.required">State is required</div>
                            </div> -->
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1" formControlName="city"
                                    [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                                    <option [value]="" [selected]="true">Select City </option>
                                    <option *ngFor="let data of citiesList" [value]="data.city_id"> {{data.city}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                    <div *ngIf="f.city.errors.required">City is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="number" class="form-control" formControlName="pincode"
                                    [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }" placeholder="Post code">
                                <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                                    <div *ngIf="f.pincode.errors.required"> Post code is required</div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <select class="custom-select country-code" id="inputGroupSelect01" name="mobile_code"
                                formControlName="mobile_code" Placeholder="Select Code">
                                <option [value]="" [selected]="true">Select Country Code </option>
                                <option *ngFor="let data of CountiresList" [ngValue]="data.mobile_code"
                                    [selected]="countryId == data.country_id">
                                    {{data.mobile_code}} ({{data.country_name}})
                                </option>
                            </select>
                        </div>
                        <input myNumberOnly type="text" class="form-control" placeholder="Mobile Number" name="mobile"
                            formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }">
                        <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                            <div *ngIf="f.mobile.errors.required"> Mobile number is required</div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="comType=='company'">
                        <div class="custom-control custom-radio custom-control-inline" (change)="changeType1($event)">
                            <input type="radio" id="customRadioInline9" name="customRadioInline9"
                                class="custom-control-input" value="SST Unregistered" [checked]='true'>
                            <label class="custom-control-label" for="customRadioInline9">SST Unregistered</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline" (change)="changeType1($event)">
                            <input type="radio" id="customRadioInline10" value="SST Registered"
                                name="customRadioInline9" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline10">SST Registered</label>
                        </div>
                    </div>
                    <!-- vamshi upload img -->
                    <div class="row form-group">
                        <div class="col-md-4">
                            <div class="upload-image text-center">
                                <button class="btn"> <img *ngIf="!url1==true" src="/assets/images/upload.png"></button>
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                    (change)="readUrl($event)" class="upload-photo" />
                                <img *ngIf="url1" [src]="url1" height="60">
                                <p>Upload Logo</p>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <ul>
                                <li>40% more relevent responses by talents</li>
                                <li>Get spotted easily in pool of talents</li>
                                <li>Trusted more by talent</li>
                            </ul>
                            <p><b>Note :</b> Please Upload logo in PNG format</p>
                        </div>
                    </div>
                    <!-- vamshi upload img -->
                    <!-- manmohan upload img -->
                    <!-- manmohan upload img -->

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" [checked]="true">
                            <label class="custom-control-label" for="customCheck1">I agree to the <span><a href=""
                                        data-toggle="modal" data-target=".bd-example-modal-lg">Terms
                                        and Conditions </a></span> governing the use of gigxglobal.com, I have reviewed
                                the
                                default mailer & Communications settings</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <!-- individual -->

                <form [formGroup]="individualReg" (ngSubmit)="registration1()" *ngIf="comType=='individual'">
                    <div class="form-group" class="form-group">
                        <select id="exampleFormControlSelect20" class="form-control" placeholder="Industry Type"
                            formControlName="industry_type"
                            [ngClass]="{ 'is-invalid': submitted1 && f1.industry_type.errors }">
                            <option value="" [selected]=true [disabled]="true">Industry type</option>
                            <option *ngFor="let data of IndustryList" [value]="data.industry_id"> {{data.industry_name}}
                            </option>
                            <!-- <option value="IT Industry">IT Industry </option>
                            <option value="Electrical"> Electrical </option>
                            <option value="Networking"> Networking </option>
                            <option value="Others"> Others </option> -->
                        </select>
                        <div *ngIf="submitted1 && f1.industry_type.errors" class="invalid-feedback">
                            <div *ngIf="f1.industry_type.errors.required">Industry type is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <p>Employer Type</p>
                        <div class="custom-control custom-radio custom-control-inline" (change)="changeType($event)">
                            <input type="radio" id="customRadioInline20" name="customRadioInline20"
                                class="custom-control-input" value="company">
                            <label class="custom-control-label" for="customRadioInline20">Company</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline" (change)="changeType($event)">
                            <input type="radio" id="customRadioInline21" [checked]='true' value="Business Owner"
                                name="customRadioInline20" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline21">Business Owner</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="email"
                            [ngClass]="{ 'is-invalid': submitted1 && f1.email.errors }" class="form-control"
                            placeholder="Email Address">
                        <div *ngIf="submitted1 && f1.email.errors" class="invalid-feedback">
                            <div *ngIf="f1.email.errors.required"> Email is required</div>
                            <div *ngIf="f1.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>


                    <div class="input-group password-group mb-3">
                        <input type="password" class="form-control password-field" placeholder="Create Password"
                            formControlName="password" [ngClass]="{ 'is-invalid': submitted1 && f1.password.errors }"
                            *ngIf="showEye" />
                        <input type="text" class="form-control password-field" placeholder="Create Password"
                            formControlName="password" [ngClass]="{ 'is-invalid': submitted1 && f1.password.errors }"
                            *ngIf="!showEye" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" *ngIf="!showEye" type="button"
                                (click)="hidePassword()" id="button-addon2">
                                <img src="../../../assets/images/eye-open.png"></button>
                            <button class="btn btn-outline-secondary" *ngIf="showEye" type="button"
                                (click)="hidePassword()" id="button-addon2">
                                <img src="../../../assets/images/eye-closed.png"></button>
                        </div>
                        <div *ngIf="submitted1 && f1.password.errors" class="invalid-feedback">
                            <div *ngIf="f1.password.errors.required">Password is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" formControlName="contact_person_name"
                            [ngClass]="{ 'is-invalid': submitted1 && f1.contact_person_name.errors }"
                            name="contact_person_name" class="form-control" placeholder="Contact Person Name">
                        <div *ngIf="submitted1 && f1.contact_person_name.errors" class="invalid-feedback">
                            <div *ngIf="f1.contact_person_name.errors.required">Contact person name is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" formControlName="designation"
                            [ngClass]="{ 'is-invalid': submitted1 && f1.designation.errors }" class="form-control"
                            placeholder="Designation">
                        <div *ngIf="submitted1 && f1.designation.errors" class="invalid-feedback">
                            <div *ngIf="f1.designation.errors.required"> Designation is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="address"
                            [ngClass]="{ 'is-invalid': submitted1 && f1.address.errors }" placeholder="Address">
                        <div *ngIf="submitted1 && f1.address.errors" class="invalid-feedback">
                            <div *ngIf="f1.address.errors.required"> Address is required</div>
                        </div>
                    </div>

                    <div class="row form-group country-city">
                        <div class="col-md-6">
                            <select class="form-control" id="exampleFormControlSelect1" formControlName="country"
                                (change)="changeCountryList($event.target.value)"
                                [ngClass]="{ 'is-invalid': submitted1 && f1.country.errors }">
                                <option value="" [selected]=true [disabled]="true">Select Country </option>
                                <option *ngFor="let data of CountiresList" [value]="data.country_id">
                                    {{data.country_name}}
                                </option>
                            </select>
                            <div *ngIf="submitted1 && f1.country.errors" class="invalid-feedback">
                                <div *ngIf="f1.country.errors.required">Country is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" id="exampleFormControlSelect1" formControlName="state"
                                (change)="changeStateList($event.target.value)">
                                <option [value]="" [selected]="true">Select State </option>
                                <option *ngFor="let data of statesList" [value]="data.state_id"> {{data.state}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1" formControlName="city"
                                    [ngClass]="{ 'is-invalid': submitted1 && f1.city.errors }">
                                    <option [value]="" [selected]="true">Select City </option>
                                    <option *ngFor="let data of citiesList" [value]="data.city_id"> {{data.city}}
                                    </option>
                                </select>
                                <div *ngIf="submitted1 && f1.city.errors" class="invalid-feedback">
                                    <div *ngIf="f1.city.errors.required">City is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="number" class="form-control" formControlName="pincode"
                                    [ngClass]="{ 'is-invalid': submitted1 && f1.pincode.errors }"
                                    placeholder="Post code">
                                <div *ngIf="submitted1 && f1.pincode.errors" class="invalid-feedback">
                                    <div *ngIf="f1.pincode.errors.required"> Post code is required</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <select class="custom-select" id="inputGroupSelect01" name="mobile_code"
                                formControlName="mobile_code">
                                <option *ngFor="let data of CountiresList" [ngValue]="data.mobile_code"
                                    [selected]="countryId == data.country_id">
                                    {{data.mobile_code}} ({{data.country_name}})
                                </option>
                            </select>
                        </div>
                        <input myNumberOnly type="text" class="form-control" placeholder="Mobile Number" name="mobile"
                            formControlName="mobile" [ngClass]="{ 'is-invalid': submitted1 && f1.mobile.errors }">
                        <div *ngIf="submitted1 && f1.mobile.errors" class="invalid-feedback">
                            <div *ngIf="f1.mobile.errors.required"> Mobile number is required</div>
                        </div>
                    </div>

                    <!-- vamshi upload img -->
                    <div class="row form-group">
                        <div class="col-md-4">
                            <div class="upload-image text-center">
                                <button class="btn"> <img *ngIf="!url1==true" src="/assets/images/upload.png"></button>
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                    (change)="readUrl($event)" class="upload-photo" />
                                <img *ngIf="url1" [src]="url1" height="60">
                                <p>Upload Logo</p>
                            </div>

                        </div>
                        <!-- <div class="form-group">
                            <label>Password</label>
                            <input type="password" formControlName="test" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.test.errors }" />
                            <div *ngIf="submitted && f.test.errors" class="invalid-feedback">
                                <div *ngIf="f.test.errors.required">test is required</div>
                                <div *ngIf="f.test.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div> -->
                        <div class="col-md-8">
                            <ul>
                                <li>40% more relevent responses by talents</li>
                                <li>Get spotted easily in pool of talents</li>
                                <li>Trusted more by talents</li>
                            </ul>
                            <p><b>Note :</b> Please Upload logo in PNG format</p>
                        </div>
                    </div>
                    <!-- vamshi upload img -->
                    <!-- manmohan upload img -->
                    <!-- manmohan upload img -->

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" [checked]="true">
                            <label class="custom-control-label" for="customCheck1">I agree to the <span><a href=""
                                        data-toggle="modal" data-target=".bd-example-modal-lg">Terms
                                        and Conditions </a></span> governing the use of gigxglobal.com, I have reviewed
                                the
                                default mailer & Communications settings</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
    </div>
</section>


<!-- Large modal -->
<div class="modal forgot-modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header b-0">
                <h5 class="modal-title" id="exampleModalLabel">Terms and Conditions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Lorem Ipsum</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <h4>Lorem Ipsum</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <h4>Lorem Ipsum</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <h4>Lorem Ipsum</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>

        </div>
    </div>
</div>