<app-header></app-header>
<section class="login company-registration mt-3 mb-5">
    <div class="container create-account">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center mb-5">COMPANY REGISTRATION
                </h1>
                <form>
                    <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1" placeholder="Industry Type">
                            <option value="company" disabled>Industry type</option>
                            <option value="company">Company </option>
                            <option value="individual"> Individual</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <p>Company Type</p>
                        <div class="custom-control custom-radio custom-control-inline" (change)="changeType($event)">
                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                class="custom-control-input" value="company" [checked]='true'>
                            <label class="custom-control-label" for="customRadioInline1">Company</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline" (change)="changeType($event)">
                            <input type="radio" id="customRadioInline2" value="consultant" name="customRadioInline1"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">Consultant</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline" (change)="changeType($event)">
                            <input type="radio" id="customRadioInline3" value="individual" name="customRadioInline1"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline3">Individual</label>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="comType=='company'">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Company Email Id">
                    </div>
                    <div class="form-group" *ngIf="comType=='individual'">
                        <input type="text" class="form-control" placeholder="Email Id">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Create Password">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Company Name">
                    </div>
                    <div class="form-group" *ngIf="comType=='company'">
                        <input type="text" class="form-control" placeholder="Email Id">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Designation">
                    </div>
                    <div class="form-group" *ngIf="comType=='individual'">
                        <input type="text" class="form-control" placeholder="Address">
                    </div>
                    <div class="form-group" *ngIf="comType=='company'">
                        <input type="text" class="form-control" placeholder="Office address">
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <select class="form-control" id="exampleFormControlSelect1" placeholder="Industry Type">
                                <option value="malaysia" disabled>Country </option>
                                <option value="malaysia">Malaysia </option>
                                <option value="india"> India</option>

                            </select>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" id="exampleFormControlSelect1" placeholder="Industry Type">
                                <option value="malaysia" disabled>State </option>
                                <option value="malaysia">Kuala Lumpur </option>
                                <option value="india"> Labuan</option>
                                <option value="india"> Johor</option>
                                <option value="india"> Kedah</option>

                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <select class="form-control" id="exampleFormControlSelect1" placeholder="Industry Type">
                                <option value="malaysia" disabled>City </option>
                                <option value="malaysia">Kuala Lumpur </option>
                                <option value="india"> Victoria</option>
                                <option value="india"> Johor Bahru </option>
                                <option value="india"> Alor Setar</option>

                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Pincode">
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>+61</option>
                                <option value="1">+91 </option>
                                <option value="2">+852</option>
                                <option value="3"> +62</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" placeholder="Mobile Number">
                    </div>
                    <!-- vamshi upload img -->
                    <div class="row form-group">
                        <div class="col-md-4">
                            <div class="upload-image text-center">

                                <button class="btn"> <img *ngIf="!url1==true" src="/assets/images/upload.png"></button>
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                    (change)="readUrl($event)" class="upload-photo" />

                                <img *ngIf="url1" [src]="url1" height="60">

                                <p>Upload Photo</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <ul>
                                <li>40% more relevent responses by candidates</li>
                                <li>Get spotted easily in pool of recruiters</li>
                                <li>Trusted more by jobseekers</li>
                            </ul>
                        </div>
                    </div>
                    <!-- vamshi upload img -->
                    <!-- manmohan upload img -->

                    <!-- <div class="group-gap">


                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                    (change)="uploadFile($event)" />
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger btn-lg btn-block" (click)="fileInput.click()">Upload
                        Image</button> -->
                    <!-- manmohan upload img -->

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">I agreed to the <span><a
                                        href="">Terms
                                        and Conditions </a></span> governing the use of gigx.com, I have reviewed the
                                default mailer & Communications settings</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
    </div>
</section>