<!-- heADER -->
<app-header></app-header>
<!-- HEADER -->
<section class="login company-registration mt-3 mb-5">
    <div class="container create-account">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center mb-5">APPLICATIONS
                </h1>
            </div>
        </div>
        <!-- serach talent -->
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="input-group button-search mb-3">
                    <input type="text" class="form-control" placeholder="Gig Title" [(ngModel)]="filtroString"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><img
                                src="../../../assets/images/search.png"></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- search talent -->
        <div class="row mt-3">

            <!-- search details -->
            <div class="col-md-12 search-results">

                <div class="row">
                    <!-- job preview -->
                    <div class="col-md-12 mt-3"  [@fadeInAndOut]  *ngFor="let item of (appliedGigList | filter:[{field:'gig_title', value: filtroString}]) | paginate: { itemsPerPage: itemsPerPage, currentPage: paginationIndex, totalItems: (appliedGigList | filter:[{field:'gig_title', value: filtroString}]).length }">
                        <div class=" talent-result ">

                            <div class="row">
                                <!-- job details -->
                                <div class="col-md-6">
                                    <h3>{{item.gig_title}}</h3>
                                    <p class="text-color-light">At {{item.company_name}}</p>
                                    <p><img src="../../../assets/images/maps.png" class="maps"> 
                                        {{item.city}}, {{item.state}}, {{item.country}} 
                                    </p>
                                   <p>Skills: {{item.skills}}</p>
                                   <p>Payment: {{item.payment}}</p>
                                   <p>Experience: {{item.years_of_experience}} Years</p>
                                </div>
                                <!-- job details -->
                               <div class="col-md-6 text-right" *ngIf="item.status != 2">
                                    <button class="btn btn-status"  [ngClass]="{
                                        'btn-yellow':item.status == 0,
                                        'btn-blue':item.status == 1,
                                        'btn-green':item.status == 2 || item.status == 4,
                                        'btn-red':item.status == 3 || item.status == 5
                                      }">{{item.status_value}}</button>
                                </div>
                                <div class="col-md-6 text-right" *ngIf="item.status == 2">
                                   <span> You are selected, do you want to accept?</span>
                                   <br/>
                                   <button class="btn btn-selected-actions btn-green" (click)="onAcceptOrRejectGigClick(item, 1)">Accept</button>
                                   <button class="btn btn-selected-actions btn-red" (click)="onAcceptOrRejectGigClick(item, 2)">Reject</button>
                                </div>
                            </div>
                            <div class="row mt-3">
                                    <div class="col-md-12">
                                        <p class="details">
                                            {{item.gig_description}}
                                        </p>
                                    </div>
                                </div>
                            <!-- more details -->
                            <!-- <div class="row">
                                <div class="col-md-12 text-right">

                                    <p>
                                        <a class="hover-effect" data-toggle="collapse" href="#collapseExample2"
                                            role="button" aria-expanded="false" aria-controls="collapseExample2">
                                            View More Details
                                            <img src="../../../assets/images/right-arrow.png">
                                        </a>
                                    </p>
                                    
                                </div>
                            </div> --> 
                            <!-- more details -->

                        </div>
                    </div>
                    <!-- job preview -->
                   
                   

                </div>
            </div>

            <!-- search details -->
        </div>



        <div class="row text-center col-md-12 mt-3" style="display: block;" *ngIf="(appliedGigList| filter:[{field:'gig_title', value: filtroString}]).length > 0"> 
                <pagination-controls (pageChange)="this.paginationIndex = $event">
                    </pagination-controls>
        </div>
    </div>

</section>