<!-- heADER -->
<app-header></app-header>
<!-- HEADER -->
<section class="login company-registration mt-3 mb-5">
    <div class="container create-account talent-profile-details">
        <!-- personal details -->
        <div class="row justify-content-center ">
            <div class="col-md-10 text-center">
                <h1 class="text-center mb-5">TALENT PROFILE
                </h1>
                <img src="../../../assets/images/shareen.jpg">
                <h3>Shareen Abdul Ghani</h3>
                <p>Talent Specialist</p>
                <p class="text-color-light">At Sorga Innovation Sdh Bhd</p>
                <p><img src="../../../assets/images/maps.png" class="maps">Kuala
                    Lumpur, Malaysia
                </p>
                <div class="row matching-details">
                    <div class="col-md-4">
                        <h4>Matched 88%</h4>
                    </div>
                    <div class="col-md-4">
                        <button class="btn review" routerLink="/ratingsreview">RATINGS & REVIEWS</button>
                    </div>
                    <div class="col-md-4">
                        <div class="test-score">
                            <ul>
                                <li> <span>Test Score</span></li>

                                <li>
                                    <h5>80 </h5>
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>


                <ul>
                    <li>
                        <p class="text-color-light">$34.00</p>
                        <p class="text-color-light">Hourly rate</p>
                    </li>
                    <li>
                        <p class="text-color-light">$2k+</p>
                        <p class="text-color-light">Total earned</p>
                    </li>
                    <li>
                        <p class="text-color-light">13</p>
                        <p class="text-color-light">Gigs</p>
                    </li>
                    <li>
                        <p class="text-color-light">54</p>
                        <p class="text-color-light">Hours Worked</p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- personal details -->
        <div class="row  professional-details">
            <div class="col-md-12">
                <h2>ABOUT ME</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                <h2>WORK EXPERIENCE</h2>
                <h5><b>Senior Software Architect / Team Leader | Infopulse</b></h5>
                <p><b>June 2014 - April 2018</b></p>
                <p>- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever.</p>
                <p>- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever.printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever.</p>
                <h5><b>Full Stack Javascript Developer | Fruitware</b></h5>
                <p><b>June 2014 - April 2018</b></p>
                <p>- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever.</p>
                <p>- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever.printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever.</p>
                <h5><b>Web Aplication Developer | Spinbackup LLC</b></h5>
                <p><b>June 2014 - April 2018</b></p>
                <p>- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever.</p>
                <p>- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever.printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever.</p>
                <h2>EDUCATION</h2>
                <h5><b>Bachelor of Applied Science (B.A.Sc), Computer Science | University of Agrara de Stat Moldova</b>
                </h5>
                <p><b>June 2005 - April 2009</b></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin</p>
                <p>It is a long established fact that a reader will be distracted by the readable content</p>
                <h2>SKILLS</h2>
                <h5><b>Full-Stack Development Skills</b>
                </h5>
                <p>HTML5, CSS3, JavaScript. Knowledge of third-party libraries like jQuery, LESS, Angular , React Js
                    ,MySQL, MongoDB, Oracle, SQLServer ,Java, Python, Ruby, . Net etc.</p>
            </div>
            <div class="col-md-12 mt-5 mb-5">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn ">DOWNLOAD PROFILE</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn ">INVITE TO JOB</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>