<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand" routerLink=""><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="/login">Log In <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/createaccount">Sign up</a>
                    </li>


                </ul>
            </div>
        </nav>
    </div>
</div>
<section class="payment">
    <h1 class="text-center"> COMPANY REGISTRATION LIST</h1>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-head">
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Company name</th>
                                <th scope="col">Registration number</th>
                                <th scope="col">Url</th>
                                <th scope="col">Email</th>
                                <th scope="col">Mobile number</th>
                                <th scope="col">Industry type</th>
                                <th scope="col">SST</th>
                                <th scope="col">Contact person</th>
                                <th scope="col">Contact Email</th>
                                <th scope="col">Designation</th>
                                <th scope="col">Logo</th>
                                <th scope="col">Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let company of companyData| paginate:
                            { itemsPerPage: 25, currentPage: p };let i=index">
                                <td>{{i+1}}</td>
                                <td>{{company.company_name}}</td>
                                <td>{{company.company_registration}}</td>
                                <td>{{company.company_url}}</td>
                                <td>{{company.email}}</td>
                                <td>{{company.mobile}}</td>
                                <td>{{company.industry_type}}</td>
                                <td>{{company.sst}}</td>
                                <td>{{company.contact_person}}</td>
                                <td>{{company.contact_email}}</td>
                                <td>{{company.designation}}</td>
                                <td><img class=" logo-img" [src]="imgBaseUrl+''+company.image " />
                                </td>
                                <td>{{company.address}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event" style="float:right; margin-top:15px;">
                    </pagination-controls>


                </div>

            </div>

        </div>

    </div>
</section>