<app-header></app-header>
<section class="login mt-5">
    <div class="container create-account">
        <div class="row justify-content-center mt-5">
            <h1>CREATE YOUR ACCOUNT</h1>
            <div class="col-md-10">
                <div class="row mt-3 text-center">
                    <div class="col-md-6 ">

                        <div class="talent" routerLink="/getstarted">

                            <img src="../../../assets/images/degree.png">
                            <h2>Gigx Talent</h2>


                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="company talent" routerLink="/companyregistration">

                            <img src="../../../assets/images/briefcase.png">
                            <h2>Company</h2>


                        </div>


                    </div>
                </div>

                <div class="row login-form justify-content-center  mt-3">
                    <div class="col-md-8 mt-3">
                        <div class="row mt-5">
                            <div class="col-md-12 text-center">
                                <p>Already have an account?</p>
                            </div>
                            <div class="col-md-12 text-center mt-3">
                                <button type="submit" class="btn account" routerLink="/login">Log In</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>