<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand" routerLink=""><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="/companydashboard">Home<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/postagig">Post a Gig</a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/talentsearch">Talent Search</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- HEADER -->
<section class="login mt-2" *ngIf="page=='individual'|| ''" [@fadeInAndOut]>
    <div class="container profile">
        <form [formGroup]="editIndividualForm">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">INDIVIDUAL PROFILE</h1>
                </div>
            </div>
            <div class="row justify-content-center  mt-2 mb-2">
                <div class="col-md-6 text-center">
                    <div *ngIf="image" class="upload-image">
                        <img src="{{image}}" alt="">
                    </div>
                    <div class="form-group">
                        <img src="{{ProfileImageUrl}}{{ProfileImage}}" alt="" class="profile-image">
                    </div>
                    <input *ngIf="edit==true" class=" custom-file-input" type="file" accept="image/*"
                        (change)="changeListener($event)" [(ngModel)]="profile" name="profile"
                        [ngModelOptions]="{standalone: true}">

                    <h3>{{profileDetails.contact_person}}</h3>
                    <p>{{profileDetails.city}}</p>
                </div>

            </div>
            <div class="row contact-details">



                <div class="col-md-12">
                    <h2>CONTACT DETAILS</h2>
                    <div class="table-responsive">
                        <table class="table b-0">

                            <tbody class="b-0">
                                <tr class="b-0">
                                    <td class="b-0 contact-title">PERSON NAME</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.contact_person}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="Name" formControlName="contact_person_name"
                                                [ngClass]="{'is-invalid':f2.contact_person_name.errors&& submitted}">
                                            <div class="invalid-feedback" *ngIf="f2.contact_person_name.errors">
                                                <div *ngIf="f2.contact_person_name.errors.required">Contact Person Name
                                                    is
                                                    required
                                                </div>
                                            </div>
                                        </span>
                                    </td>

                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">DESIGNATION</td>
                                    <td class="b-0"><span>:</span>

                                        <span *ngIf="edit==false">{{profileDetails.designation}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="Designation" formControlName="designation"
                                                [ngClass]="{'is-invalid':f2.designation.errors&& submitted}">
                                            <div class="invalid-feedback" *ngIf="f2.designation.errors">
                                                <div *ngIf="f2.designation.errors.required">Designation is
                                                    required
                                                </div>
                                            </div>
                                        </span></td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">EMAIL</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.email}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="Email" formControlName="email"
                                                [ngClass]="{'is-invalid':f2.email.errors&& submitted}">
                                            <div class="invalid-feedback" *ngIf="f2.email.errors">
                                                <div *ngIf="f2.email.errors.required">Email is
                                                    required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">MOBILE NO</td>
                                    <td class="b-0"><span>:</span>
                                        <span
                                            *ngIf="edit==false">{{profileDetails.mobile}}{{profileDetails.mobile_code}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <select class="custom-select" id="inputGroupSelect01"
                                                        name="mobileCode" formControlName="mobile_code"
                                                        [ngClass]="{'is-invalid':f2.mobile_code.errors&& submitted}">
                                                        <option value="91">+91 </option>
                                                        <option value="852">+852</option>
                                                        <option value="60"> +60</option>
                                                    </select>
                                                </div>
                                                <input myNumberOnly type="text" class="form-control"
                                                    placeholder="Mobile Number" name="mobile" formControlName="mobile"
                                                    [ngClass]="{'is-invalid':f2.mobile.errors&& submitted}"
                                                    maxlength="10" max="10" min="10">
                                                <div *ngIf="submitted && f2.mobile.errors" class="invalid-feedback">
                                                    <div *ngIf="f2.mobile.errors.required"> Mobile number is required
                                                    </div>
                                                    <div *ngIf="f2.mobile.errors.maxlength">Mobile number must be 10
                                                        digits</div>
                                                    <div *ngIf="f2.mobile.errors.minlength">Mobile number must be 10
                                                        digits</div>
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>

                                <tr class="b-0">
                                    <td class="b-0 contact-title">INDUSTRY TYPE</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.industry_type}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <select id="exampleFormControlSelect1" class="form-control"
                                                placeholder="Industry Type" formControlName="industry_type"
                                                [ngClass]="{'is-invalid':f2.industry_type.errors&& submitted}">

                                                <option value="" [selected]=true [disabled]="true">Industry type
                                                </option>
                                                <option value="IT Industry">IT Industry </option>
                                                <option value="Electrical"> Electrical </option>
                                                <option value="Networking"> Networking </option>
                                                <option value="Others"> Others </option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="f2.industry_type.errors">
                                                <div *ngIf="f2.industry_type.errors.required">Industry type is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">ADDRESS</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.address}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="POSTCODE" formControlName="address"
                                                [ngClass]="{'is-invalid':f2.address.errors&& submitted}">
                                            <div class="invalid-feedback" *ngIf="f2.address.errors">
                                                <div *ngIf="f2.address.errors.required">Address is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">COUNTRY</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.country}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <select class="form-control" formControlName="country"
                                                (change)="changeCountryList($event.target.value)"
                                                [ngClass]="{ 'is-invalid': submitted && f2.country.errors }">
                                                <!-- <option value="" [selected]=true [disabled]="true">Country </option> -->
                                                <option *ngFor="let data of CountiresList" [value]="data.country_name">
                                                    {{data.country_name}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="f2.country.errors">
                                                <div *ngIf="f2.country.errors.required">Country Name is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">STATE</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.state}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <select class="form-control" id="exampleFormControlSelect1"
                                                formControlName="state" (change)="changeStateList($event.target.value)">
                                                <option selected [value]=''>Select State</option>
                                                <option *ngFor="let data of statesList" [value]="data.state">
                                                    {{data.state}}</option>
                                            </select>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">CITY</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.city}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                                <select class="form-control" id="exampleFormControlSelect1"
                                                formControlName="city"
                                                [ngClass]="{ 'is-invalid': submitted && f2.city.errors }"
                                                (change)="changeCityList($event.target.value)">
                                                <option selected [value]=''>Select City</option>
                                                <option *ngFor="let data of citiesList" [value]="data.city">
                                                    {{data.city}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="f2.city.errors">
                                                <div *ngIf="f2.city.errors.required">City  is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">POSTCODE</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.postal_code}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="POSTCODE" formControlName="pincode"
                                                [ngClass]="{'is-invalid':f2.pincode.errors&& submitted}">
                                            <div class="invalid-feedback" *ngIf="f2.pincode.errors">
                                                <div *ngIf="f2.pincode.errors.required">Postal Code is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5 mb-5">
                <div class="col-md-6 text-center" *ngIf="edit==false">
                    <button type="submit" class="btn " (click)="editProfile()">EDIT PROFILE</button>
                </div>
                <div class="col-md-6 text-center" *ngIf="edit==true">
                    <button type="submit" class="btn " (click)="submitEdit()">Save</button>
                </div>
                <div class="col-md-6 text-center" *ngIf="edit==true">
                    <button type="submit" class="btn " (click)="cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</section>
<section class="login mt-2" *ngIf="page=='company'" [@fadeInAndOut]>
    <div class="container profile">
        <form [formGroup]="editCompanyForm">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">COMPANY PROFILE</h1>
                </div>
            </div>
            <div class="row justify-content-center  mt-2 mb-2">
                <div class="col-md-6 text-center">
                    <!-- <img [src]="profileDetails.logo"> -->
                    <div *ngIf="image" class="upload-image">
                        <img src="{{image}}" alt="">
                    </div>
                    <div class="form-group">
                        <img src="{{ProfileImageUrl}}{{ProfileImage}}" alt="" class="profile-image">
                    </div>
                    <input *ngIf="edit==true" class=" custom-file-input" type="file" accept="image/*"
                        (change)="changeListener($event)" [(ngModel)]="profile" name="profile"
                        [ngModelOptions]="{standalone: true}">

                    <h3>{{profileDetails.company_name}}</h3>
                    <p>{{profileDetails.country}}</p>
                </div>

            </div>
            <div class="row contact-details">
                <div class="col-md-12">
                    <h2>COMPANY DETAILS</h2>
                    <div class="table-responsive">
                        <table class="table b-0">

                            <tbody class="b-0">
                                <tr class="b-0">
                                    <td class="b-0 contact-title">COMPANY NAME</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.company_name}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="Name" formControlName="company_name"
                                                [ngClass]="{'is-invalid':f1.company_name.errors && submitted}">
                                            <div class="invalid-feedback" *ngIf="f1.company_name.errors">
                                                <div *ngIf="f1.company_name.errors.required">Company Name is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">URL</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.company_url}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="Url" formControlName="company_url"
                                                [ngClass]="{'is-invalid':f1.company_url.errors && submitted}">
                                            <div class="invalid-feedback" *ngIf="f1.company_url.errors">
                                                <div *ngIf="f1.company_url.errors.required">Company URL is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">EMAIL</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.company_email}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="Email" formControlName="email"
                                                [ngClass]="{'is-invalid':f1.email.errors&& submitted}">
                                            <div class="invalid-feedback" *ngIf="f1.email.errors">
                                                <div *ngIf="f1.email.errors.required">Company Email is required</div>
                                                <div *ngIf="f1.email.errors.email">Company Enter a valid Email</div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">INDUSTRY TYPE</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.industry_type}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <select id="exampleFormControlSelect1" class="form-control"
                                                placeholder="Industry Type" formControlName="industry_type"
                                                [ngClass]="{'is-invalid':f1.industry_type.errors&& submitted}">

                                                <option value="" [selected]=true [disabled]="true">Industry type
                                                </option>
                                                <option value="IT Industry">IT Industry </option>
                                                <option value="Electrical"> Electrical </option>
                                                <option value="Networking"> Networking </option>
                                                <option value="Others"> Others </option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="f1.industry_type.errors">
                                                <div *ngIf="f1.industry_type.errors.required">Industry type is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>

                                <tr class="b-0">
                                    <td class="b-0 contact-title">COMPANY REGISTRATION NO</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.company_registration}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="Sst no" formControlName="company_registration"
                                                [ngClass]="{'is-invalid':f1.company_registration.errors&& submitted}">
                                            <div class="invalid-feedback" *ngIf="f1.company_registration.errors">
                                                <div *ngIf="f1.company_registration.errors.required">Company Name is
                                                    required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">SST Resgistered</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.sst}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <div class="form-group">
                                                <div class="custom-control custom-radio custom-control-inline"
                                                    (change)="changeType1($event)">
                                                    <input type="radio" id="customRadioInline9"
                                                        name="customRadioInline9" class="custom-control-input"
                                                        value="SST Unregistered" [checked]='true'>
                                                    <label class="custom-control-label" for="customRadioInline9">SST
                                                        Unregistered</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline"
                                                    (change)="changeType1($event)">
                                                    <input type="radio" id="customRadioInline10" value="SST Resgistered"
                                                        name="customRadioInline9" class="custom-control-input">
                                                    <label class="custom-control-label" for="customRadioInline10">SST
                                                        Resgistered</label>
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">ADDRESS</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.address}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="Address" formControlName="address"
                                                [ngClass]="{'is-invalid':f1.address.errors&& submitted}">
                                            <div class="invalid-feedback" *ngIf="f1.address.errors">
                                                <div *ngIf="f1.address.errors.required">Address is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">COUNTRY</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.country}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <select class="form-control" formControlName="country"
                                                (change)="changeCountryList($event.target.value)"
                                                [ngClass]="{ 'is-invalid': submitted && f1.country.errors }">
                                                <!-- <option value="" [selected]=true [disabled]="true">Country </option> -->
                                                <option *ngFor="let data of CountiresList" [value]="data.country_name">
                                                    {{data.country_name}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="f1.country.errors">
                                                <div *ngIf="f1.country.errors.required">Country Name is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">STATE</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.state}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <select class="form-control" id="exampleFormControlSelect1"
                                                formControlName="state" (change)="changeStateList($event.target.value)">
                                                <option selected [value]=''>Select State</option>
                                                <option *ngFor="let data of statesList" [value]="data.state">
                                                    {{data.state}}</option>
                                            </select>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">CITY</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.city}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <select class="form-control" id="exampleFormControlSelect1"
                                                formControlName="city"
                                                [ngClass]="{ 'is-invalid': submitted && f1.city.errors }"
                                                (change)="changeCityList($event.target.value)">
                                                <option selected [value]=''>Select City</option>
                                                <option *ngFor="let data of citiesList" [value]="data.city">
                                                    {{data.city}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="f1.city.errors">
                                                <div *ngIf="f1.city.errors.required">City  is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">POSTCODE</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.postal_code}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="POSTCODE" formControlName="pincode"
                                                [ngClass]="{'is-invalid':f1.pincode.errors&& submitted}">
                                            <div class="invalid-feedback" *ngIf="f1.pincode.errors">
                                                <div *ngIf="f1.pincode.errors.required">Postal Code is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>



                            </tbody>
                        </table>
                    </div>



                </div>
            </div>
            <div class="row contact-details">
                <div class="col-md-12">
                    <h2>CONTACT DETAILS</h2>
                    <div class="table-responsive">
                        <table class="table b-0">

                            <tbody class="b-0">
                                <tr class="b-0">
                                    <td class="b-0 contact-title">NAME</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.contact_person}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="Name" formControlName="contact_person_name"
                                                [ngClass]="{'is-invalid':f1.contact_person_name.errors&& submitted}">
                                            <div class="invalid-feedback" *ngIf="f1.contact_person_name.errors">
                                                <div *ngIf="f1.contact_person_name.errors.required">Contact Person Name
                                                    is
                                                    required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>

                                <tr class="b-0">
                                    <td class="b-0 contact-title">DESIGNATION</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.designation}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="Designation" formControlName="designation"
                                                [ngClass]="{'is-invalid':f1.designation.errors&& submitted}">
                                            <div class="invalid-feedback" *ngIf="f1.designation.errors">
                                                <div *ngIf="f1.designation.errors.required">Designation is
                                                    required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">EMAIL</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{profileDetails.contact_email}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="Email" formControlName="contact_email"
                                                [ngClass]="{'is-invalid':f1.contact_email.errors&& submitted}">
                                            <div class="invalid-feedback" *ngIf="f1.contact_email.errors">
                                                <div *ngIf="f1.contact_email.errors.required">Contact Email is
                                                    required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">MOBILE NUMBER</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false"> {{profileDetails.mobile_code}}
                                            {{profileDetails.mobile}}
                                        </span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <select class="custom-select" id="inputGroupSelect01"
                                                        name="mobileCode" formControlName="mobile_code"
                                                        [ngClass]="{'is-invalid':f1.mobile_code.errors&& submitted}">
                                                        <option value="91">+91 </option>
                                                        <option value="852">+852</option>
                                                        <option value="60"> +60</option>
                                                    </select>
                                                </div>
                                                <input myNumberOnly type="text" class="form-control"
                                                    placeholder="Mobile Number" name="mobile" formControlName="mobile"
                                                    [ngClass]="{'is-invalid':f1.mobile.errors&& submitted}"
                                                    maxlength="10" max="10" min="10">
                                                <div *ngIf="submitted && f1.mobile.errors" class="invalid-feedback">
                                                    <div *ngIf="f1.mobile.errors.required"> Mobile number is required
                                                    </div>
                                                    <div *ngIf="f1.mobile.errors.maxlength">Mobile number must be 10
                                                        digits</div>
                                                    <div *ngIf="f1.mobile.errors.minlength">Mobile number must be 10
                                                        digits</div>
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>



                </div>
            </div>
            <div class="row justify-content-center mt-5 mb-5">
                <div class="col-md-6 text-center" *ngIf="edit==false">
                    <button type="submit" class="btn " (click)="editProfile()">EDIT PROFILE</button>
                </div>
                <div class="col-md-6 text-center" *ngIf="edit==true">
                    <button type="submit" class="btn " (click)="submitEdit()">Save</button>
                </div>
                <div class="col-md-6 text-center" *ngIf="edit==true">
                    <button type="submit" class="btn " (click)="cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</section>