<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand" routerLink=""><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/changepassword">Change Password</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- HEADER -->
<section class="login mt-2">
    <div class="container profile">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">INDIVIDUAL PROFILE</h1>
            </div>
        </div>
        <div class="row justify-content-center  mt-2 mb-2">
            <div class="col-md-6 text-center">
                <img src="../../../assets/images/profile-image.jpg">

                <h3>SRIKANTH DOROLA</h3>
                <p>Hyderabad</p>
            </div>

        </div>
        <div class="row contact-details">
            <div class="col-md-12">
                <h2>CONTACT DETAILS</h2>
                <div class="table-responsive">
                    <table class="table b-0">

                        <tbody class="b-0">
                            <tr class="b-0">
                                <td class="b-0 contact-title">PERSON NAME</td>
                                <td class="b-0"><span>:</span> Sriknath Dorola</td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">EMAIL</td>
                                <td class="b-0"><span>:</span>Srikanth@gmail.com</td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">MOBILE NO</td>
                                <td class="b-0"><span>:</span> 9630571452</td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">LOCATION</td>
                                <td class="b-0"><span>:</span> Hyderabad, India</td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">INDUSTRY TYPE</td>
                                <td class="b-0"><span>:</span>Individual</td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">GSTIN NO</td>
                                <td class="b-0"><span>:</span> Nor</td>
                            </tr>
                        </tbody>
                    </table>
                </div>



            </div>
        </div>
    </div>
</section>