.profile {
    h1{
        font-weight: 600;
        margin-top: 4%;
    }
img{
    border-radius: 50%;
    width: 150px;
    margin-bottom:12px;
}
h3{
    font-weight: 600;
}
}

.contact-details {
    h2{
        width:100%;
        background:#f1f1f1;
        font-size: 22px;
        padding: 10px;
    }
    span{
        font-weight: bold;
        margin-right: 12px;
    }
    td{
        color:#8f8f8f;
    }
}
.contact-title {
    font-weight:600;
    width:30%;
    color:#000000!important;
   
}
.search-category{
    button{
        border-radius:50px!important;
        background:none;
        font-weight: 600;
        color:#000000;
    }
    button:hover{
        background:#fed501!important;
        color:#000000;
    }
    ul{
        list-style: none;
        margin:0px;
        padding:0px;
li{
    display:inline-block;
    width:calc(100% / 6);
   
}
    }
}
.edit-profile {
 button{
    font-weight: 600;
    background:#fed501!important;
    width:100%;
 }
}
// HEADER CSS

.login-list{
    margin-top: 3px;
    font-size: 24px;
}
.main-header {
    box-shadow: 2px 3px 6px 0px #e1e1e1;
a{
    font-size:19px;
    color:#000000;
}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    
 }
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

    .search-category{
        li{
width:30%!important;
        }
    }
 }
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .search-category{
        li{
width:50%!important;
        }
    }
.contact-details {
td{
    font-size:14px;
}
}
 }
 .edit-input {
    display: inline-block ;
    padding: 0px;
    margin: 0px;
    width:90%;
}
.list-group-item {
   
 border: none !important;
}

.profile {
    input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
      img.attch-img{
        position: absolute !important;
        bottom: 82% !important;
        left: 53% !important;
        width: 3%;
    }
    
    .uploaded-img {
        border-radius: 50%;
    height: 125px;
    width: 125px;
    }
    .pdf-img {
      width: 50px;  
    }
}
.skills {
    display: inline-flex;
    margin-right: 10px ;
    .skill-dot {
        border-radius: 2px;
        border: 2px dotted #a4a4a4;
        padding: 3px;
        width: fit-content;
        font-size: 11px;
        padding: 0px;
        margin: 7px;
        cursor: pointer;
    }
}
.text-area{
    height: auto;
    ul {
    padding: 18px;
    padding: 0px;
    word-wrap: break-word;
    /* display: inline-block; */
    white-space: initial;

    li{
        list-style: none;
        background: #e6e6e6;
        padding: 1px;
        padding: 4px 13px;
        display: inline-block;
        margin-right: 19px;
        border-radius: 8%;
        margin-top: 12px;
    
    }
    }
    .close {
        position: absolute;
    margin-top: -7px;
    margin-left: -13px;
    font-size: 19px;
    }
}
.upload-image {
    cursor: pointer !important;
    position: relative;
    overflow: hidden;
}
.upload-image {
    height: 100%;
    border-radius: 9px;
    border: 1px dashed #a4a4a4;
    padding: 21px;
}
.upload-image input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.talent input {
    margin-bottom: 12px;
    border: 1px solid #dbdbdb;
    padding: 24px 10px;
    margin: 0px auto;
    box-shadow: 1px 1px 1px 0px #dbdbdb !important;
}

.upload-image {
    height: 100%;
    border-radius: 9px;
    border: 1px dashed #a4a4a4 !important;
    padding: 4px;
    width: 27%;
}
.video-file {
    width: 76px !important;
    
}
.pdf-file {
    width: 43%;
    height: 123%;
}
.add-another {
    background: #f1f1f1;
    padding: 7px;
    color: #818181;
    float: right;
    margin-right: -10px;
}
.delete-icon {
    font-size: 20px !important;
    color: darkred !important;
    float: right !important;
}
.add-bank {
    margin-top: 20%;
}
@media (max-width: 575.98px) { 
    .search-category{
        li{
            width: 100% !important;
            text-align: center;
            margin-bottom: 13px;
        }
    }
 }

 


