<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand" routerLink=""><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="/talentdashboard">Home<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/talentaccount">Profile</a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/jobsearch">Gig Serach</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>


<!-- HEADER -->
<section class="login mt-2" [@fadeInAndOut]>
    <div class="container profile">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">MY PROFILE</h1>
            </div>
        </div>
        <div class="row justify-content-center  mt-2 mb-2">
            <div class="col-md-6 text-center">
                <img [src]="talentJobPreference[0].image">
                <h3>{{talentPersonalDetails.full_name}}</h3>
                <p>{{talentJobPreference[0].role}}</p>
            </div>

        </div>

        <!-- search results buttons -->
        <div class="row search-category justify-content-center">
            <div class="col-md-12">
                <ul>
                    <li><button type="submit" class="btn" (click)="personaldetails()"
                            [ngStyle]="{'background': showPersonalDetails == true?'#fed501':''}"> PERSONAL
                            DETAILS</button>
                    </li>
                    <li><button type="submit" class="btn" (click)="education()"
                            [ngStyle]="{'background': showEducationDetails == true?'#fed501':''  }">EDUCATION
                            DETAILS</button></li>

                    <li> <button type="submit" class="btn" (click)="workexperience()"
                            [ngStyle]="{'background': showWorkExperienceDetails == true?'#fed501':''}"> WORK
                            EXPERIENCE</button>
                    </li>

                    <li> <button type="submit" class="btn" (click)="bankdetails()"
                            [ngStyle]="{'background': showBankDetails == true?'#fed501':''}"> BANK DETAILS</button></li>

                    <li> <button type="submit" class="btn" (click)="gigstalent()"
                            [ngStyle]="{'background': showGigsTrackDetails == true?'#fed501':''}"> GIGS TRACK
                            HISTORY</button></li>

                </ul>

            </div>
        </div>
        <!-- search results buttons -->
        <!-- personal details -->
        <div class="row contact-details mt-5" *ngIf="showPersonalDetails">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table b-0">

                        <tbody class="b-0">
                            <tr class="b-0">
                                <td class="b-0 contact-title">FULL NAME</td>
                                <td class="b-0"><span>:</span>
                                    <span *ngIf="edit==false">{{talentPersonalDetails.full_name}}</span>
                                    <span class="form-group edit-input" *ngIf="edit==true">
                                        <input type="text" value="Shareen Abdul Ghani" class="form-control"
                                            id="exampleInputPassword1" placeholder="John Peter">
                                    </span>
                                </td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">EMAIL</td>
                                <td class="b-0"><span>:</span>
                                    <span *ngIf="edit==false">{{talentPersonalDetails.email}}</span>
                                    <span class="form-group edit-input" *ngIf="edit==true">
                                        <input type="text" value="Shareenabdulghani@gmail.com" class="form-control"
                                            id="exampleInputPassword1" placeholder="email">
                                    </span>
                                </td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">MOBILE NO</td>
                                <td class="b-0"><span>:</span>
                                    <span *ngIf="edit==false">{{talentPersonalDetails.mobile_code}}
                                        {{talentPersonalDetails.mobile}}</span>
                                    <span class="form-group edit-input" *ngIf="edit==true">
                                        <input type="text" value="9630571452" class="form-control"
                                            id="exampleInputPassword1" placeholder="9630571452">
                                    </span>
                                </td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">LOCATION</td>
                                <td class="b-0"><span>:</span>
                                    <span *ngIf="edit==false">{{talentPersonalDetails.location}}</span>
                                    <span class="form-group edit-input" *ngIf="edit==true">
                                        <input type="text" value="Kuala Lumpur , Malaysia" class="form-control"
                                            id="exampleInputPassword1" placeholder="Location">
                                    </span>
                                </td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">DATE OF BIRTH</td>
                                <td class="b-0"><span>:</span>
                                    <span *ngIf="edit==false">{{talentPersonalDetails.dob}}</span>
                                    <span class="form-group edit-input" *ngIf="edit==true">
                                        <input type="text" value="17-07-1970" class="form-control"
                                            id="exampleInputPassword1" placeholder="Date of Birth">
                                    </span>
                                </td>
                            </tr>

                            <tr class="b-0">
                                <td class="b-0 contact-title">GENDER</td>
                                <td class="b-0"><span>:</span>
                                    <span *ngIf="edit==false">{{talentPersonalDetails.gender}}</span>
                                    <span class="form-group edit-input" *ngIf="edit==true">
                                        <input type="text" value="FEMALE" class="form-control"
                                            id="exampleInputPassword1" placeholder="Gender">
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>



            </div>
        </div>
        <!-- personal details-->
        <!-- education details -->
        <div class="row contact-details mt-5" *ngIf="showEducationDetails">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table b-0">

                        <tbody class="b-0" *ngFor="let data of talentEducationDetails ; let i = index">
                            <tr class="b-0">
                                <td class="b-0 contact-title">QUALIFICATION DETAILS {{i+1}}</td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">QUALIFICATION</td>
                                <td class="b-0"><span>:</span>
                                    <span *ngIf="edit==false">{{data.highest_qualification}}</span>
                                    <span class="form-group edit-input" *ngIf="edit==true">
                                        <input type="text" value="Bachelor of Engineering" class="form-control"
                                            id="exampleInputPassword1" placeholder="Bachelor of Engineering">
                                    </span>
                                </td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">SPECIALIZATION</td>
                                <td class="b-0"><span>:</span>
                                    <span *ngIf="edit==false">{{data.specialization}}</span>
                                    <span class="form-group edit-input" *ngIf="edit==true">
                                        <input type="text" value="Computer Science" class="form-control"
                                            id="exampleInputPassword1" placeholder="Computer Science">
                                    </span>
                                </td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">INSTITUTION</td>
                                <td class="b-0"><span>:</span>
                                    <span *ngIf="edit==false">{{data.institution}}</span>
                                    <span class="form-group edit-input" *ngIf="edit==true">
                                        <input type="text" value="University of Brooklyn" class="form-control"
                                            id="exampleInputPassword1" placeholder="University of Brooklyn">
                                    </span>
                                </td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">YEAR OF PASSING</td>
                                <td class="b-0"><span>:</span>
                                    <span *ngIf="edit==false">{{data.year_of_completion}}</span>
                                    <span class="form-group edit-input" *ngIf="edit==true">
                                        <input type="text" value="1990" class="form-control" id="exampleInputPassword1"
                                            placeholder="year">
                                    </span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- education details-->


        <!-- work experience details -->
        <div class="row contact-details mt-5" *ngIf="showWorkExperienceDetails">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table b-0">

                        <tbody class="b-0" *ngFor="let data of talentJobDetails ; let i = index">
                            <tr class="b-0">
                                <td class="b-0 contact-title">WORK EXPERIENCE DETAILS {{i+1}}</td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">DESIGNATION</td>
                                <td class="b-0"><span>:</span>
                                    <span *ngIf="edit==false">{{data.current_designation}}</span>
                                    <span class="form-group edit-input" *ngIf="edit==true">
                                        <input type="text" value="Talent Specialist" class="form-control"
                                            id="exampleInputPassword1" placeholder="description">
                                    </span>
                                </td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">CURRENT COMPANY</td>
                                <td class="b-0"><span>:</span>
                                    <span *ngIf="edit==false">{{data.current_company}}</span>
                                    <span class="form-group edit-input" *ngIf="edit==true">
                                        <input type="text" value="Sorga Innovation Sdh Bhd" class="form-control"
                                            id="exampleInputPassword1" placeholder="Sorga Innovation Sdh Bhd">
                                    </span>
                                </td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">SALARY</td>
                                <td class="b-0"><span>:</span>
                                    <span *ngIf="edit==false">{{data.annual_salary}}</span>
                                    <span class="form-group edit-input" *ngIf="edit==true">
                                        <input type="text" value="RM 9,00,000" class="form-control"
                                            id="exampleInputPassword1" placeholder="RM 9,00,000">
                                    </span>
                                </td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">WORK EXPERIENCE</td>
                                <td class="b-0"><span>:</span>
                                    <span *ngIf="edit==false">{{data.working_period}}</span>
                                    <span class="form-group edit-input" *ngIf="edit==true">
                                        <input type="text" value="20 years" class="form-control"
                                            id="exampleInputPassword1" placeholder="years">
                                    </span>
                                </td>
                            </tr>

                            <tr class="b-0">
                                <td class="b-0 contact-title">INDUSTRY</td>
                                <td class="b-0"><span>:</span>
                                    <span *ngIf="edit==false">{{data.industry_type}}</span>
                                    <span class="form-group edit-input" *ngIf="edit==true">
                                        <input type="text" value="IT Software Industry" class="form-control"
                                            id="exampleInputPassword1" placeholder="IT Software Industry">
                                    </span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <table class="table b-0">
                        <tbody class="b-0">
                            <tr class="b-0">
                                <td class="b-0 contact-title">SKILLS</td>
                                <td class="b-0"><span>:</span>
                                    <span *ngIf="edit==false">{{talentJobPreference[0].skills}}</span>
                                    <span class="form-group edit-input" *ngIf="edit==true">
                                        <input type="text"
                                            value="screening, sourcing, interviewing, and determining the ideal candidate for a position in their company."
                                            class="form-control" id="exampleInputPassword1" placeholder="Skills">
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- work experience details-->
        <!-- Bank details -->
        <div class="row contact-details mt-5" *ngIf="showBankDetails">
            <div class="col-md-12">
                <form [formGroup]="editBankDetailsForm">
                    <div class="table-responsive">
                        <table class="table b-0">

                            <tbody class="b-0">
                                <tr class="b-0">
                                    <td class="b-0 contact-title">ACCOUNT HOLDER NAME</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{talentBankDetails.account_holder_name}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="Name" formControlName="account_holder_name"
                                                [ngClass]="{'is-invalid':f1.account_holder_name.errors && submitted}">
                                            <div class="invalid-feedback" *ngIf="f1.account_holder_name.errors">
                                                <div *ngIf="f1.account_holder_name.errors.required">Account Holder Name
                                                    is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">ACCOUNT NUMBER</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{talentBankDetails.account_number}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="Account Number" formControlName="account_number"
                                                [ngClass]="{'is-invalid':f1.account_number.errors && submitted}">
                                            <div class="invalid-feedback" *ngIf="f1.account_number.errors">
                                                <div *ngIf="f1.account_number.errors.required">Account Number
                                                    is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">BANK NAME</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{talentBankDetails.bank_name}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="Bank Name" formControlName="bank_name"
                                                [ngClass]="{'is-invalid':f1.bank_name.errors && submitted}">
                                            <div class="invalid-feedback" *ngIf="f1.bank_name.errors">
                                                <div *ngIf="f1.bank_name.errors.required">Bank Name
                                                    is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">IFSC CODE</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{talentBankDetails.ifsc}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="IFCS CODE" formControlName="ifsc"
                                                [ngClass]="{'is-invalid':f1.ifsc.errors && submitted}">
                                            <div class="invalid-feedback" *ngIf="f1.ifsc.errors">
                                                <div *ngIf="f1.ifsc.errors.required">IFSC CODE
                                                    is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">BRANCH</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{talentBankDetails.branch}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" value="Kuala Lumpur , Malaysia" class="form-control"
                                                id="exampleInputPassword1" placeholder="Kuala Lumpur , Malaysia"
                                                formControlName="branch"
                                                [ngClass]="{'is-invalid':f1.branch.errors && submitted}">
                                            <div class="invalid-feedback" *ngIf="f1.branch.errors">
                                                <div *ngIf="f1.branch.errors.required">Branch
                                                    is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="b-0">
                                    <td class="b-0 contact-title">LOCATION</td>
                                    <td class="b-0"><span>:</span>
                                        <span *ngIf="edit==false">{{talentBankDetails.location}}</span>
                                        <span class="form-group edit-input" *ngIf="edit==true">
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="Kuala Lumpur , Malaysia" formControlName="location"
                                                [ngClass]="{'is-invalid':f1.location.errors && submitted}">
                                            <div class="invalid-feedback" *ngIf="f1.location.errors">
                                                <div *ngIf="f1.location.errors.required">Location
                                                    is required
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="row justify-content-center mb-5 mt-3">
                        <div class="col-md-4 text-center edit-profile" *ngIf="edit==false">
                            <button type="submit" class="btn " (click)="editProfile()">EDIT PROFILE</button>
                        </div>

                        <div class="col-md-6 text-center edit-profile" *ngIf="edit==true">
                            <button type="submit" class="btn " (click)="addBankAccount()">Save</button>
                        </div>
                        <div class="col-md-6 text-center edit-profile" *ngIf="edit==true">
                            <button type="submit" class="btn " (click)="showData()">Cancel</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- Bank details-->
        <!-- GigsTrack details -->
        <div class="row contact-details mt-5" *ngIf="showGigsTrackDetails">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table b-0">

                        <tbody class="b-0">
                            <tr class="b-0">
                                <td class="b-0 contact-title">NO. OF PROJECTS</td>
                                <td class="b-0"><span>:</span> 06
                                </td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">NO. OF JOBS APPLIED</td>
                                <td class="b-0"><span>:</span>12</td>
                            </tr>
                            <tr class="b-0">
                                <td class="b-0 contact-title">NO. OF JOBS VIEWED</td>
                                <td class="b-0"><span>:</span>34</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- GigsTrack details-->
        <!-- <div class="row justify-content-center mb-5 mt-3" *ngIf="!showGigsTrackDetails">
            <div class="col-md-4 text-center edit-profile" *ngIf="edit==false">
                <button type="submit" class="btn " (click)="editProfile()">EDIT PROFILE</button>
            </div>

            <div class="col-md-6 text-center edit-profile" *ngIf="edit==true">
                <button type="submit" class="btn " (click)="showData()">Save</button>
            </div>
            <div class="col-md-6 text-center edit-profile" *ngIf="edit==true">
                <button type="submit" class="btn " (click)="showData()">Cancel</button>
            </div>
        </div> -->

    </div>
</section>