<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand" routerLink=""><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/postagig">Post a Gig</a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/talentsearch">Talent Search</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- HEADER -->
<section class="login  mt-3 mb-5">
    <div class="container create-account">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center mb-5">PAYMENT
                </h1>
            </div>
        </div>
        <div class="row payment-method" *ngIf="showPaymentType">
            <!-- total payable amount -->
            <div class="col-md-8">
                <h1>Order Details</h1>

                <div class="table-responsive">
                    <table class="table b-0">

                        <tbody class="b-0">
                            <tr class="">
                                <td class="b-0 contact-title">Premier Plan</td>
                                <td class="b-0">1 year</td>
                                <td class="b-0 text-right">XXX/-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table b-0">

                        <tbody class="b-0">
                            <tr class="">
                                <td class="b-0 contact-title">Tax Payable</td>
                                <td class="b-0 text-right">X/-</td>
                            </tr>
                            <tr class="">
                                <td class="b-0 contact-title">Other Charges</td>
                                <td class="b-0 text-right">X/-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table b-0">

                        <tbody class="b-0">
                            <tr class="">
                                <td class="b-0 contact-title">Total Payable</td>
                                <td class="b-0 text-right">XXXX/-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- total payable amount -->
            <!-- payment type -->
            <div class="col-md-4">
                <div class="select-payment">
                    <div class="form-group row">

                        <div class="col-sm-12">
                            <div class="custom-control custom-radio ">
                                <input type="radio" id="customRadioInline1" checked name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline1">Net Banking </label>
                            </div>
                            <div class="custom-control custom-radio ">
                                <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">Debit Card</label>
                            </div>
                            <div class="custom-control custom-radio ">
                                <input type="radio" id="customRadioInline3" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline3">Credit Card</label>
                            </div>
                            <div class="custom-control custom-radio ">
                                <input type="radio" id="customRadioInline4" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline4">Others</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- payment type -->
        </div>
        <div class="row justify-content-center mt-5" *ngIf="showPaymentType">
            <div class="col-md-6">
                <button type="submit" class="btn " (click)="showpaymentmethod()">PROCEED & PAY</button>
            </div>
        </div>

        <div class="row" *ngIf="Showpaymentgateway">
            <div class="col-md-12 payment-method" routerLink="/talentaccount">
                <img src="../../../assets/images/paybuz.png">
            </div>
        </div>
    </div>
</section>