<!-- heADER -->
<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand"><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto main-menu">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <!-- <li class="nav-item login-list">|</li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/about-us">About Us</a>
                    </li>
                    <!-- <li class="nav-item login-list">|</li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/contact-us">Contact Us</a>
                    </li>
                    <li class="nav-item" *ngIf="!dataStorage.loggedInUserData.registration_type">
                        <a class="nav-link" href="#" routerLink="/coverpage"> Login</a>
                    </li>
                    <li class="nav-item" *ngIf="dataStorage.loggedInUserData.registration_type">
                        <a class="nav-link" (click)="onDashboardClick()"> Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            English
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">English</a>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- header -->
<!-- banner starts from here -->
<section class="banner">
    <div class="container-fluid about-banner">
        <div class="container banner-content">
            <h2>Terms And Conditions</h2>
            <p>GigX is a work marketplace platform that specializes in connecting and facilitating between talent demand
                and supply with the aim to manage talents in the age of uncertainty by providing strategic workforce
                solutions through the XFactors for companies to find the right talent and for talents to find the right
                gig opportunities</p>
        </div>
    </div>

</section>
<!-- banner ends here -->


<!-- our office address -->
<section class="address objectives terms pt-5 pb-5">
    <div class="container">
        <h4>Introduction
        </h4>
        <p>
            Welcome to the GigX application (the “Platform”). By accessing, browsing or using this
            Platform, you acknowledge that you have read, understood and agreed to be bound by these Terms of
            Use (these “Terms and Conditions”) provided by Sorga Innovation Sdn. Bhd. or one of its divisions
            (collectively “SORGA”). If you do not agree to these Terms or if you do not comply or meet with its
            provisions, you should not use or access this Platform. SORGA reserves the right to revise and amend
            these Terms at any time. You are encouraged to review these Terms each time you use the Platform
            because your use of the Platform after the posting of changes will constitute your acceptance of the
            changes. We grant you a personal, limited, non-transferable non-exclusive, license to access and use the
            Platform. We reserve the right, in our sole discretion and without notice to you, to revise the products
            and services available on the Platform and to change, suspend or discontinue any aspect of the Platform
            and we will not be liable to you or to any third party for doing so. We may also impose rules for and limits
            on use of the Platform or restrict your access to part, or all, of the Platform without notice or penalty.
            Your continued use of the Platform will constitute your acceptance of any such changes and your
            acceptance of using the Platform at your own risk.
        </p>
        <h4> Binding Agreement</h4>
        <p>These Terms and Conditions (as they may be amended from time to time by
            SORGA), together with your Advertising and Candidate Search Service Agreement (if applicable), form a
            binding agreement (the "Agreement") between you and SORGA. Your access to or use of the Platform
            indicates your acceptance of these Terms and Conditions.</p>
        <h4>Certain Definitions</h4>
        <p>These Terms and Conditions (as they may be amended from time to time by
            SORGA), together with your Advertising and Candidate Search Service Agreement (if applicable), form a
            binding agreement (the "Agreement") between you and SORGA. Your access to or use of the Platform
            indicates your acceptance of these Terms and Conditions.</p>
        <ul>
            <li>
                <b>"SORGA Materials"</b> includes any materials, methodologies, implementation plans or other
                intellectual
                property used during the provision of Services.
            </li>
            <li><b>"Platform" or the "SORGA Site" (collectively, the "SORGA Websites" or the "Sites" or the “Mobile
                    Applications)</b> means any web site under SORGA's control, whether partial or otherwise and
                includes such
                Site's Content, SORGA Materials and Services (as applicable in each context).</li>
            <li>
                <b>"Content"</b> means the Platform’s web pages, web forms, programming (including software code used
                on the Sites and in the Services, including (i) tools, kits, and object libraries, (ii) all third-party
                or open
                source code embedded therein, and (iii) any upgrades, updates, releases, fixes, enhancements or
                modifications to the foregoing), graphics, images, design (color combinations and page layout), text,
                information, data, resumes stored in various commercial databases operated and licensed by SORGA
                (including, among others, its "Resume Database”, "Reviews and Ratings Database”, and "Analytics and
                Trend Report Database") data submitted via the Sites by Users and other content made available through
                the Sites by SORGA
            </li>
            <li><b>"Document"</b> refers to any posting to a Site, whether job or resume</li>
            <li><b></b>"Employer" means a person or entity that is accessing the Platform to post a job or utilizing the
                Services for any reason related to the purpose of seeking candidates for employment.</li>

            <li><b>"Employer Materials"</b> includes any brochures, emails, sample job postings, web site content,
                career
                fair material, audio, videos, photographs, logos, trademarks, service marks, domain names, documents or
                other materials provided by Employer, if any, for use in connection with the Services</li>
            <li><b>"Talent"</b> means a User who is accessing a Site to search for a job or in any other capacity except
                as an
                Employer.</li>
            <li><b>"Services"</b> means any services provided by SORGA or its agents described herein and specified more
                fully in the Service Agreement.</li>

            <li><b>"User"</b> refers to any individual or entity that uses any aspect of the Sites.</li>
            <li><b>"You" or "you"</b> means the person who (or the entity on behalf of whom you are acting) that is
                agreeing to these Terms and Conditions</li>
        </ul>
        <h4>Intellectual Property Rights and Acceptable Use of the Sites and Services</h4>
        <ul>
            <li>
                <b>General Use Rules.</b> The Sites are intended for individuals seeking employment and for employers or
                recruiters seeking candidates for employment. You may use the Sites only for lawful purposes within the
                stated context of SORGA's intended and acceptable use of the Sites. SORGA is the sole interpreter of the
                Sites' intended and acceptable use.
            </li>
            <li>
                <b>SORGA Intellectual Property Rights.</b> The Sites, the SORGA Materials and all right, title and
                interest in
                and to the Sites and SORGA Materials are the sole property of SORGA or its licensors, as the case may
                be.
                Except for the limited licenses expressly granted to you in these Terms and Conditions, SORGA reserves
                for itself and its licensors all other rights, title and interest. Without limitation on the foregoing,
                you may
                not reproduce, modify, display, sell, or distribute the Content or SORGA Materials, or use them in any
                other way for public or commercial purpose. Notwithstanding anything to the contrary contained herein,
                this prohibition includes: (a) copying or adapting the HTML code used to generate web pages on the
                Sites;
                (b) using or attempting to use engines, manual or automated software, tools, devices, agents, scripts,
                robots or other means, devices, mechanisms or processes (including, but not limited to, browsers,
                spiders,
                robots, avatars or intelligent agents) to navigate, search, access, "scrape," "crawl," or "spider" any
                web
                pages or any Services provided on the Sites other than the search engine and search agents available
                from
                SORGA on such SORGA Sites and other than generally available third party web browsers (e.g., Internet
                Explorer, Firefox, Safari); and (c) aggregating, copying or duplicating in any manner any of the Content
                or
                information available from any of the SORGA Sites, without the express written consent of SORGA. The
                use of the Content on any other web site or in a networked computer environment for any purpose is
                strictly prohibited. The SORGA Materials are not considered to be works for hire and you may duplicate
                such SORGA Materials only for the purposes outlined in the Service Agreement. "SORGA," "GigX", the
                SORGA design logo and certain other names or logos are service marks or trademarks of SORGA, and all
                related product and service names, design marks and slogans are the service marks or trademarks of
                SORGA. In addition, the "look" and "feel" of the Sites (including color combinations, button shapes,
                layout,
                design and all other graphical elements) are also protected by SORGA's trademarks, service marks and
                copyrights. Any code that SORGA creates to generate or display the Content or the pages making up the
                Sites is also protected by SORGA's copyright. You must retain all copyright, trademark, service mark and
                other proprietary notices contained on the Content or SORGA Materials on any authorized copy you make
                of the Content or SORGA Materials. All other product and service marks contained on the Sites are the
                trademarks of their respective owners.
            </li>
            <li>
                <b>License to Use by Users who are Talents.</b> SORGA hereby grants you a limited, terminable,
                nonexclusive right to access and use the Sites only for your personal use seeking employment
                opportunities
                for yourself. This authorizes you to view and download a single copy of the material on the Sites solely
                for
                your personal, noncommercial use. You agree that you are solely responsible for the content of any
                Document you post to a Site and any consequences arising from such posting. Your use of the Sites is a
                privilege. SORGA reserves the right to suspend or terminate that privilege for any reason at any time,
                in
                its sole discretion.
            </li>
            <li>
                <b>License to Use by Users who are Employers.</b> SORGA hereby grants you a limited, terminable,
                nonexclusive right to access and use the Sites only for your internal business use seeking candidates
                for
                employment. This authorizes you to view and download a single copy of the material on the Sites solely
                for your personal use directly related to searching for and recruiting job prospects. SORGA also grants
                you
                a limited, terminable, non-exclusive license to use the SORGA Materials and Services for your internal
                use
                only. You may not sell, transfer or assign any of the Services or your rights to any of the Services
                provided
                by SORGA to any third party without the express written authorization of SORGA. You agree that you are
                solely responsible for the content of any Document you post to a Site and any consequences arising from
                such posting. SORGA reserves the right to suspend or terminate your access and use at any time if SORGA
                determines that you are in breach of these Terms and Conditions.

            </li>
            <li>
                <b>Employer Materials.</b> Employer represents, warrants and covenants that any Employer Materials
                provided by Employer for use in connection with the Services will not violate any laws or regulations or
                third-party proprietary rights, including, without limitation, copyright, trademark, obscenity, rights
                of
                publicity or privacy, and defamation laws. Employer hereby grants SORGA a non-exclusive, worldwide,
                royalty-free license to use the Employer Materials and to hyperlink to Employer's website in connection
                with the Services.

            </li>
            <li>
                <b>Use of Aggregate Data.</b> You understand and agree that SORGA owns and has the right to collect,
                extract, compile, synthesize, and analyze Aggregate Data. SORGA may use such Aggregate Data for any
                lawful business purpose without a duty of accounting to you, provided that the data and information is
                used only in an aggregated and anonymized form so that it cannot be identifiable as relating to you,
                your
                Company or to any other Talents. "Aggregate Data" means de-identified aggregated data or information
                regarding Talents’ educational or career history (including, by way of example and not limitation,
                aggregate data relating to Talents’ occupation, location, salary, education and experience).
            </li>
            <li>
                <b>Other Specific Rules Regarding Site Usage.</b> You represent, warrant and agree that you (a) are at
                least
                18 years or the age of majority as that is defined in your jurisdiction; and (b) will not use (or plan,
                encourage or help others to use) the Sites for any purpose or in any manner that is prohibited by these
                Terms and Conditions or by applicable law. It is your responsibility to ensure that your use of the
                Sites
                complies with these Terms and Conditions and all applicable laws.

            </li>
            <li>
                <b>User Submissions.</b> SORGA welcomes your comments regarding the Services and the Sites and
                appreciates hearing from you. Please note, however, that SORGA does not accept or consider creative
                ideas, suggestions, inventions or materials other than those which it has specifically requested. If you
                submit feedback on the Services, please be specific in your comments and do not submit creative ideas,
                inventions, suggestions, or materials. If, despite this notice, you send SORGA creative suggestions,
                ideas,
                drawings, concepts, inventions, or other information (a "User Submission"), you understand and agree
                that the User Submission shall become the property of SORGA. User Submission and any elements
                contained in User Submissions, shall not be subject to any obligation of confidentiality on SORGA's
                part,
                and SORGA will not be liable for any use or disclosure of any User Submission. SORGA shall exclusively
                own all now known or later discovered rights to the User Submission and shall be entitled to
                unrestricted
                use of the User Submission for any purpose whatsoever, commercial or otherwise, without compensation
                to you or any other person.

            </li>
        </ul>
        <h4>Third Party Providers</h4>
        <p> You acknowledge and agree that SORGA may provide the Services using third
            party providers, including subcontractors and consultants (the "Third Party Providers"). You agree that, as
            between SORGA and its Third Party Providers, SORGA will have sole responsibility for handling all billing
            and contract negotiations.
        </p>
        <h4> Disclaimers and Limitations on SORGA's Liability
        </h4>
        <ul>
            <li><b>Allocation of Responsibility</b> SORGA assumes no responsibility for Documents posted by Users and no
                responsibility for the activities, omissions or other conduct of Users. SORGA acts as a portal for the
                online
                distribution and publication of User submitted information and has no obligation to screen
                communications or information in advance and is not responsible for screening or monitoring Documents
                posted by Users. If notified by a User of a Document which allegedly does not conform to these Terms
                and Conditions, SORGA may investigate the allegation and determine in good faith and in its sole
                discretion whether to remove or request the removal of such Document. SORGA has no liability or
                responsibility to Users for performance or nonperformance of such activities. SORGA may take any action
                with respect to User submitted information that it deems necessary or appropriate, in its sole
                discretion.</li>

            <li><b>Warranty Disclaimers</b>
                <ul>
                    <li> The sites are provided on an 'as is' basis without any warranties of any kind, express or
                        implied. SORGA,
                        to the fullest extent permitted by law, disclaims all warranties, including, but not limited to,
                        the warranties
                        of merchantability, title, non-infringement of third parties' rights, and fitness for a
                        particular purpose.
                        SORGA makes no warranties about the accuracy, reliability, completeness, or timeliness of the
                        sites.</li>
                    <li>Without limitation on the foregoing:
                        <ul>
                            <li> SORGA does not warrant that the sites will operate error-free or that the sites and
                                their servers are
                                free of computer viruses or other harmful mechanisms. if your use of the sites results
                                directly or indirectly
                                in the need for servicing or replacing equipment or data, SORGA is not responsible for
                                those costs.</li>

                            <li>SORGA makes no representations or guarantees regarding the truthfulness, accuracy,
                                legality,
                                completeness, timeliness or reliability of any Documents posted by Users, or of any
                                other form of
                                communication engaged in by Users. Documents may contain inaccuracies or typographical
                                errors. You
                                agree that any reliance on Documents posted by Users, or on any other form of
                                communication with
                                Users, will be at your own risk.</li>

                            <li>SORGA makes no representations or guarantees regarding the Content of the Sites,
                                including, but not
                                limited to, broken links, inaccuracies or typographical errors.</li>

                            <li>SORGA makes no representations or guarantees regarding the effectiveness of the services
                                or
                                timeliness of the services in meeting your employment objectives. SORGA does not
                                guarantee that the
                                services will result in candidates being hired, positions being filled or employees
                                being retained, and is not
                                responsible or liable for any business, employment, hiring and/or salary decisions, for
                                whatever reason
                                made, made by you.
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>

            <li><b>Damage limitations, allocations of liability and equitable relief.</b>
                <ul>
                    <li>You assume all responsibility and risk for your use of the Sites, the internet generally, and
                        the
                        documents or employer materials that you post, provide or access and for your conduct on and off
                        the
                        sites.
                    </li>
                    <li>In no event shall SORGA (or any of its officers, directors, shareholders, employees,
                        subsidiaries,
                        affiliates, agents or advertisers), be liable for any non-direct damages whatsoever (including,
                        without
                        limitation, incidental and consequential damages, lost profits, or damages resulting from lost
                        data, lost
                        employment opportunity, or business interruption) resulting from or arising under or in
                        connection with
                        services or the use or access to, or the inability to use or access, the sites and/or any
                        document, whether
                        based on warranty, contract, tort, or any other legal theory, and whether or not SORGA is
                        advised or
                        informed of the possibility of such damages.</li>

                </ul>
            </li>

            <li><b>User Authentication.</b> Because User authentication on the Internet is difficult, SORGA cannot and
                does
                not confirm that each User is who they claim to be. Because SORGA does not and cannot be involved in
                User-to-User dealings or control the behavior of participants on the Sites, in the event that you have a
                dispute with one or more Users, you release SORGA from claims, demands and damages (actual and
                consequential and direct and indirect) of every kind and nature, known and unknown, suspected and
                unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes.</li>

        </ul>
        <h4>Data Protection. (Applicable For Employer)</h4>
        <li>
            To the extent that the provision of the Services under this Agreement involves the processing of
            Employer Personal Data by SORGA on behalf of Employer, SORGA's Data Protection Addendum is
            incorporated into, and hereby forms a part of, this Agreement.
        </li>
        <li>
            To the extent that the provision of the Services under this Agreement involves personal data other
            than Employer Personal Data, such data is provided by SORGA as a data controller to Employer as a data
            controller for the Intended Purpose and:
            <ul>
                <li>
                    SORGA warrants that it has an adequate legal basis for sharing that data with Employer for the uses
                    permitted by Section 4.4; and

                </li>
                <li>
                    Employer will comply with data protection laws with respect to such data, including
                    <ul>
                        <li>
                            processing such
                            data fairly and lawfully and only for the Intended Purpose.
                        </li>
                        <li>
                            Processing such data only for as long as is
                            necessary for the Intended Purpose and deleting such data once the Intended Purpose has been
                            fulfilled.
                        </li>
                        <li>
                            Having in place appropriate technical and organizational measures to protect such data
                            against
                            accidental or unlawful destruction or accidental loss, alternation, unauthorized disclosure
                            or access, and
                            which provide a level of security appropriate to the risk represented by the processing and
                            the nature of
                            the data.
                        </li>
                        <li>
                            Having in place procedures so that any third party it authorizes to have access to such
                            data,
                            including processors, will respect and maintain the confidentiality and security of the
                            data.
                        </li>
                        <li>
                            Not
                            disclosing or transferring such data to a third party unless it does so in compliance with
                            all applicable data
                            protection laws.
                        </li>
                        <li>
                            Complying with data subject requests received by it for access to, or correction,
                            amendment, blocking or deletion of, such data made pursuant to applicable data protection.
                            laws
                        </li>
                    </ul>
                </li>
            </ul>

        </li>

        <h4>
            Links to Other Sites
        </h4>
        <p> SORGA contains links to third party web sites. These links are provided solely as a
            convenience to you and not as an endorsement by SORGA of the contents on such third-party web sites.
            SORGA is not responsible for the content of linked third-party sites and does not make any representations
            regarding the content or accuracy of materials on such third-party web sites. If you decide to access linked
            third-party web sites, you do so at your own risk.</p>
        <h4>Amendments to this Agreement and Changes to Sites</h4>
        <p>
            SORGA may revise these Terms and Conditions
            at any time by updating this page. Changes will be binding on you on the date they are posted on the Sites
            (or as otherwise stated in the any notice of such changes). Any use of a Site will be considered acceptance
            by you of the then-current Terms and Conditions (including any exhibits thereto) contained on such Site.
            If at any time you find the Terms and Conditions unacceptable, you may not use the applicable Site any
            longer. Any new or different terms supplied by you are specifically rejected by SORGA unless SORGA
            agrees to them in a signed writing specifically including those new or different terms. SORGA may change
            the Sites at any time.
        </p>
        <h4> Indemnity</h4>
        <p>
            You agree to defend, indemnify, and hold harmless SORGA (and its subsidiaries, affiliates,
            officers, directors, employees and agents) from and against any third party claims, actions or demands
            (including, without limitation, costs, damages and reasonable legal and accounting fees) alleging or
            resulting from or in connection with your use of the Sites, any Document posted by you, your use of the
            Services or your breach of this Agreement. SORGA shall use reasonable efforts to provide you prompt
            notice of any such claim, suit, or proceeding and may assist you, at your expense, in defending any such
            claim, suit or proceeding.
        </p>
        <h4> User Information and Privacy Policy</h4>
        <ul>
            <li>When you register on any of the SORGA Sites or in connection with the Services, you will be asked
                to create an account and provide SORGA with certain information, including but not limited to, a valid
                email address ("User Information"). You acknowledge and agree that you have no ownership rights in
                your account.</li>
            <li>
                All User Information will be used in accordance with the terms of SORGA's Privacy Policy. Please note
                that SORGA may collect certain User Information and may contact Users periodically in accordance with
                the terms of the Privacy Policy. In addition, SORGA reserves the right to comply, in its sole
                discretion, with
                legal requirements, requests from law enforcement agencies or requests from government entities, even
                to the extent that such compliance may require disclosure of certain User Information. In addition,
                third
                parties may retain cached copies of User Information.
            </li>
        </ul>
        <h4>
            Questions and Notices
        </h4>
        <p>
            Questions concerning the use of the Sites should be directed to
            <a href="mailto:expert@gigxglobal.com">expert@gigxglobal.com</a>. Notices to SORGA should be sent to the
            address listed on the Sites. We will send
            notice to you at the address submitted by you or to such other address as SORGA reasonably determines
            is an appropriate address for you.
        </p>
        <h4>
            General
        </h4>
        <p>
            SORGA’s contact information is listed on the Sites. SORGA makes no claims that the Content
            is appropriate or may be downloaded outside of the United States. Access to the Content may not be legal
            by certain persons or in certain countries, and such persons have no right to access or use the Sites. If
            you
            access SORGA from outside of Malaysia, you do so at your own risk and are responsible for compliance
            with the laws of your jurisdiction. This Agreement and your Service Agreement, if you have one, are
            governed by the laws of Malaysia, without respect to its conflict of laws principles. Jurisdiction for any
            claims arising under this Agreement or your Service Agreement shall lie exclusively with the courts in the
            Malaysia. The sole relationship between you and SORGA is that of independent contractors. If any
            provision of this Agreement is found to be invalid by any court having competent jurisdiction, the
            invalidity
            of all or part of a provision shall not affect the validity of the remaining parts and provisions of this
            Agreement, which shall remain in full force and effect. All provisions of this Agreement shall survive
            termination except those granting access or use to the Sites, and you shall cease all your use and access
            thereof immediately. You may not assign or transfer your obligations under this Agreement. No waiver of
            any term of this Agreement shall be deemed a further or continuing waiver of such term or any other
            term. Except as expressly provided by SORGA in a particular "Legal Notice," or material on particular web
            pages of the Sites, this Agreement and your Service Agreement where applicable, constitute the entire
            agreement between you and SORGA.
        </p>
        <h4>Rules regarding Posting, Conduct and Security</h4>
        <p>The following rules apply to your use of the Sites and/or the Services. The list of rules is for illustration
            only and is not a complete list of all posting, conduct and security rules</p>
        <ul>
            <li>
                <b>Posting Rules:</b>
                <ul>
                    <li>You may not post any Document to a Site that contains: (i) URLs or links to web sites other than
                        to
                        recruitment related pages on your company web site (ii) copyrighted material (unless you own the
                        copyright or have the owner's permission to post the copyrighted material); (iii) trade secrets
                        (unless you
                        own them or have the owner's permission to post them); (iv) material that infringes on or
                        misappropriates
                        any other intellectual property rights, or violates the privacy or publicity rights of others;
                        (v) irrelevant
                        keywords or white text keywords (including any words embedded in the Document and hidden from
                        the
                        User); (vi) anything that is discriminatory, sexually explicit, obscene, libelous, defamatory,
                        threatening,
                        harassing, abusive, or hateful; or (vii) anything that is embarrassing or offensive to another
                        person or
                        entity.
                    </li>

                    <li> You may not use a Document(s) to: (i) impersonate another person, living or dead; (ii) post
                        false,
                        inaccurate or misleading information, opinions or notices (commercial or otherwise) or chain
                        letters; (iii)
                        post advertisements, or solicitations of business (including, but not limited to, email
                        processors, any
                        pyramid scheme or "club membership"); provided, however that SORGA may allow posting of certain
                        training and business opportunities (see 14.1(e) below)</li>

                    <li>Your Document(s) must contain sufficient detail to convey clearly to the User the nature and
                        requirements of the job opportunity, or, in the case of Users seeking employment, your
                        qualifications as
                        a candidate for employment. Documents that encourage the User to "email for more details" are
                        not
                        permitted.
                    </li>

                    <li>Job postings must describe individual openings in a specific manner. You may not advertise
                        multiple
                        job openings in a single posting.
                    </li>

                    <li> In limited circumstances, at SORGA's sole discretion, SORGA allows Partner Service providers
                        (nontraditional job postings such as wellness services, social safety net links, insurance and
                        medical providers
                        education/training, business opportunities, and franchise to be posted on the Sites. These
                        non-traditional
                        job postings may require an investment of time and/or money by the User seeking the position.
                        SORGA
                        reserves the right, in its sole discretion, to move, modify, or remove entirely a
                        non-traditional job posting
                        if SORGA deems such job posting to conflict with the best interests of its Users or detract from
                        the User
                        experience.
                    </li>

                    <li> Resume postings must contain the accurate resume of a living individual seeking employment on a
                        fulltime, part-time, or contractual basis on his or her own behalf.</li>

                    <li>SORGA is under no obligation to monitor the Documents posted on the Sites, but it may monitor
                        Documents at random. Documents found to violate the above Posting Rules may be removed at
                        SORGA's
                        sole discretion</li>

                </ul>
            </li>
            <li>
                <b> Conduct Rules:</b>
                <ul>
                    <li>You may not respond to postings by other Users in any manner or for any purpose other than that
                        which is expected (i.e., to apply for the job or to initiate further discussion with the
                        candidate).
                        Communications soliciting the Employer's business are prohibited.
                    </li>
                    <li>
                        You may not send unsolicited commercial email to Users.
                    </li>
                    <li>
                        Your SORGA account and any related Services accessed through such account are to be accessed and
                        used solely by you. Upon your successful registration for a SORGA account, you will be prompted
                        to create
                        a password that will permit you to access the account. You may not provide your password or
                        otherwise
                        permit access to your SORGA account to any third party. You are responsible for maintaining the
                        confidentiality of your information and password. You agree to protect and keep your password
                        confidential, to change your password on a regular basis, and to maintain appropriate and
                        regularly
                        updated malware scanning and cleaning tools on your network and individual computer(s).You are
                        responsible for all uses of your account, whether or not authorized by you. If others use your
                        password to
                        post inappropriate material on the Sites, you risk losing your access to the Sites. You agree to
                        notify SORGA
                        immediately of any unauthorized use of your account or password.
                    </li>
                    <li>
                        Report inappropriate postings or conduct to our administrator at expert@gigxglobal.com.
                    </li>
                    <li>
                        You may not delete or revise any material posted by any other person or entity
                    </li>
                    <li>
                        If at any time SORGA comes to the understanding that you: (i) misled SORGA regarding your
                        business
                        practices and/or services, or (ii) purchased services that do not represent your precise
                        business, SORGA
                        reserves the right to terminate your Agreement with no further reference to you.
                    </li>
                </ul>
            </li>
            <li>
                <b> Security Rules:
                </b>
                <ul>
                    <li>
                        Users are prohibited from violating or attempting to violate the security of the Sites,
                        including, without
                        limitation: (i) accessing data not intended for such User or logging into a server or account
                        which the User
                        is not authorized to access; (ii) attempting to probe, scan or test the vulnerability of a
                        system or network
                        or to breach security or authentication measures without proper authorization; (iii) attempting
                        to
                        interfere with service to any User, host or network, including, without limitation, via means of
                        submitting
                        a virus to the Sites, overloading, "flooding", "mail bombing" or "crashing"; (iv) sending
                        unsolicited e-mail,
                        including promotions and/or advertising of products or services; (v) forging any TCP/IP packet
                        header or
                        any part of the header information in any e-mail or newsgroup posting.

                    </li>
                    <li>
                        Violation of these Security Rules may result in civil or criminal liability. SORGA will
                        investigate
                        occurrences which may involve such violations and may involve, and cooperate with, law
                        enforcement
                        authorities in prosecuting Users who are involved in such violations.
                    </li>
                </ul>
            </li>
        </ul>
        <h4>Copyright Complaints.
        </h4>
        <ul>
            <li>
                SORGA respects the intellectual property of others. It is SORGA's policy to respond to claims of
                copyright and other intellectual property infringement. SORGA will promptly process and investigate
                notices of alleged infringement and will take appropriate actions under the Copyright Act 1987 ("CA")
                and
                other applicable intellectual property laws. Upon receipt of notices complying with the CA, SORGA may
                act expeditiously to remove or disable access to any material claimed to be infringing or claimed to be
                the
                subject of infringing activity and may act expeditiously to remove or disable access to any reference or
                link to material or activity that is claimed to be infringing. SORGA will terminate access for Users who
                are
                repeat infringers.
            </li>
            <li>
                To provide SORGA notice of an infringement, you must provide a written communication to
                expert@gigxglobal.com that sets forth the information alleging the said infringement. Please also note
                that you may be liable for damages (including costs and attorneys' fees) if you materially misrepresent
                that an activity is infringing your copyright.

            </li>
            <li>
                If we remove or disable access to content in response to an infringement notice, we will make
                reasonable attempts to contact the owner or administrator of the affected site or content. If you feel
                that
                your material does not constitute infringement, you may provide SORGA with a counter notification by
                written communication to <a href="mailto:expert@gigxglobal.com">expert@gigxglobal.com</a> thatsets forth
                all of the necessary information. Please
                note that you may be liable for damages (including costs and attorneys' fees) if you materially
                misrepresent that an activity is not infringing the copyrights of others. If you are uncertain whether
                an
                activity constitutes infringement, we recommended seeking advice of an attorney.

            </li>
        </ul>
        <h4> Additional Terms in Connection with Use of Resume Database</h4>
        <p>In your Service Agreement with
            SORGA, you have access to the SORGA Resume Database of Talents you have matched and the following
            additional terms apply to you:
        </p>
        <ul>
            <li>
                SORGA grants you a limited, personal, terminable, non-transferable, non-exclusive right to access
                the SORGA Resume Database via the Sites for the purpose of viewing and/or downloading a single copy
                of available paper and/or video resumes (collectively "Resumes") solely for your use.
            </li>
            <li>
                The Resume Database is to be accessed and used solely by those Users whom you authorize to access
                the Resume Database through your account (each an "Authorized Database User"). Each Authorized
                Database User will be issued a unique Resume Database Seat (a "Seat") through which they can perform
                the actions described in 16.1. Each Seat must be purchased in advance by you and may be accessed by
                using unique login credentials. You are only permitted to assign one Seat per Authorized Databas User
                and Authorized Database Users may not share their login credentials or Seat access amongst themselves,
                with any other co-workers or with any other third parties.

            </li>
            <li>
                Authorized Database Users may download the Resume Database of Talents that you have matched
                in accordance with the terms of your Agreement. Please note that the term "download" shall include: (i)
                viewing or clicking on a Resume page; (ii) saving a Resume to a folder; (iii) printing a Resume; (iv)
                copying
                a Resume; (v) emailing or forwarding a Resume; and/or (vi) any other action that results or could result
                in
                your use of a Resume or any of the information contained therein
            </li>
            <li>
                Neither you nor your Authorized Database Users may use the Resume Database in any way which, in
                SORGA's sole judgment, adversely affects SORGA's business, business prospects, the performance or
                function of any Site or the Resume Database, or interferes with the ability of other subscribers to
                access
                the Resume Database. Further, use of the Resume Database by you or by your Authorized Database Users
                may not interfere with or violate, in any manner, the privacy election of the Talents. You understand
                and
                agree that any violation of section 16 will give SORGA the right to immediately terminate any and all
                access
                to the Resume database and to terminate any corresponding Agreements.

            </li>
            <li>
                You and your Authorized Database Users may use your subscription to the Resume Database only
                for seeking candidates for employment and are specifically prohibited from using information contained
                in the Resume Database to (i) sell or promote any products or services, (ii) send emails that, in
                SORGA's
                sole judgment, are excessive in frequency or contain job postings that are irrelevant to the work
                history
                of particular classes of Talents or (iii) take any other action that is, in SORGA's sole judgment,
                inconsistent
                with these Terms and Conditions, misleading or incomplete, or in violation of any law, statute, code,
                rule,
                or regulation. Company understands and agrees that if Company uses the Resume Database in violation
                of the preceding restrictions, then SORGA may, at its sole discretion, either terminate Company's
                Agreement or transfer Company's Seats from the Resume Database.
            </li>
            <li>
                SORGA may terminate, suspend, update, alter or supplement, at its sole discretion, all or any part of
                the Resume Database at any time. By permitting access to the SORGA Resume Database, SORGA does not
                convey any interest in or to the Resume Database or any other SORGA property or Services. All right,
                title
                and interest in and to the Resume Database is and shall remain in SORGA.
            </li>
        </ul>
        <h4> Additional Terms in Connection with Use of Reviews and Ratings</h4>
        <p>If, in your Service Agreement with
            SORGA, you are purchasing our Packages that includes the Reviews and Ratings Database (“Reviews and
            Ratings”), the following additional terms apply to you:</p>
        <ul>
            <li>SORGA grants Company a limited, personal, terminable, non-transferable, non-exclusive right to
                access the Reviews and Ratings Database and via the Sites for the purpose of viewing and/or downloading
                a single copy of available profiles (collectively, "Profiles") solely for Company's internal use.
                Reviews and
                Ratings is to be accessed and used solely by Company through its authorized Users. Please note that the
                term "download" shall include: (i) viewing or clicking on a Profile page; (ii) saving a Profile to a
                folder; (iii)
                printing a Profile; (iv) copying a Profile; (v) emailing or forwarding a Profile; and/or (vi) any other
                action
                that results or could result in Company's use of a Profile or any of the information contained therein.
            </li>
        </ul>
        <h4>
            Additional Terms in Connection with Use of Analytics and Trend Report
        </h4>
        <p>If, in your Service Agreement
            with SORGA, you are purchasing any of our Analytics and Trend Report, the following additional terms
            apply to you:</p>
        <ul>
            <li><b>Use of Reports</b>
                SORGA hereby grants you a limited, non-exclusive, non-assignable (except as
                otherwise provided in this Agreement), worldwide right and license to: (a) store and use any Analytics
                and
                Trend Report for your internal management, reference or informational purposes, and (b) distribute
                copies of any reports generated by the Analytics and Trend Report (each a "Report"), subject to the
                conditions that (i) such copies may be distributed only in printed or static electronic PDF format, (ii)
                in
                providing a copy of any Report to a recipient, you may not charge the recipient any kind of fee or other
                consideration, and (iii) you shall not remove or modify any branding, marks, copyright or trademark
                notices, or any other notices or disclaimers set forth in any Report without SORGA's prior written
                consent,
                or otherwise modify the Report in any way so as to falsely or otherwise misrepresent its content.
                Further,
                you may not issue press releases or make other public statements regarding any Report, or the contents
                or conclusions in same, without the express written consent of SORGA.
            </li>
            <li>
                <b>Use of Your Data</b> If you have purchased Analytics and Trend Report, then you may provide SORGA
                with the names, addresses, telephone numbers, e-mail addresses, resumes and other personally
                identifiable information of Talents sourced from your own files ("Talent Data"). You hereby grant SORGA
                a non-exclusive license to use, copy, modify, store, transmit and display Talent Data solely to the
                extent
                reasonably required to provide and maintain the Services for Company's use. Notwithstanding the
                foregoing, you understand and agree that SORGA may derive Aggregate Data from the Talent Data and
                may use such Aggregate Data in accordance with section 4.6.
            </li>
        </ul>
    </div>

</section>
<!-- our office address -->


<!-- click section -->
<!-- <section class="click-section pt-5 pb-5">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4>JOIN THE GIGX COMMUNITY TODAY! CLICK HERE TO REGISTER!</h4>
                </div>
                <div class="col-md-3 text-center">
                    <a href="#" routerLink="/coverpage" class="btn">Click Here</a>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- click section -->
<section class="click-section pt-5 pb-5">
    <div class="container-fluid">
        <div class="container">
            <h1>JOIN THE GIGX <br>COMMUNITY TODAY!</h1>
            <span>CLICK HERE TO REGISTER!</span><a href="#" routerLink="/coverpage" class="btn">Click Here</a>
        </div>
    </div>
</section>


<!-- click section -->

<!-- footer -->
<div class="pre-footer-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img src="../../../assets/images/footer-logo.png" alt="">
                <!-- <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                <ul class="social-media mt-5">
                    <li><i class="fab fa-facebook-f"></i>
                    </li>
                    <li><i class="fab fa-twitter"></i>
                    </li>
                    <li><i class="fab fa-linkedin-in"></i>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 site-map">
                <h5>Site Map</h5>
                <ul class="">
                    <li><a href="#" routerLink="">Home</a></li>
                    <li><a href="#" routerLink="/about-us">About</a></li>
                    <li><a href="#" routerLink="/contact-us">Contact us</a></li>
                    <li><a href="#" routerLink="/terms-and-conditions">Terms And Conditions</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="address">
                    <h5>Contact</h5>
                    <ul>
                        <li>
                            <p>SORGA INNOVATION SDN BHD</p>
                        </li>
                        <li>
                            <p>No.7A, Jalan Tun Mohd Faud 3,</p>
                        </li>
                        <li>
                            <p>Taman Tun Dr lsmail,</p>
                        </li>
                        <li>
                            <p>60000 Kuala Lumpur,</p>
                        </li>
                        <li>
                            <p>Malaysia</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="mail-block">
                    <h5>Join Our Gigx</h5>
                    <form [formGroup]="subscribeFrom">
                        <div class="input-group password-group mb-3">
                            <input type="email" class="form-control" name="email" placeholder="Enter your email"
                                formControlName="email" [ngClass]="{'is-invalid':sub.email.errors&& submitEmail}">
                            <div class="invalid-feedback" *ngIf="sub.email.errors">
                                <div *ngIf="sub.email.errors.required">Email is required</div>
                                <div *ngIf="sub.email.errors.email">Enter a valid Email</div>
                            </div>
                        </div>
                        <button class="send-btn" type="submit" (click)="submitsubscribe()">SEND</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <p class="footer-text text-center">&copy; 2019 GigxGlobal. All Rights Reserved</p>
    </div>
</div>

<!-- footer -->