<!-- heADER -->
<app-header></app-header>
<!--End Header-->

<section [@fadeInAndOut] class="login mt-5">
    <!-- test cat -->
    <div class="container create-account" *ngIf="showTest == true">
        <div class="row justify-content-center mt-5">
            <h3>CLICK BELOW TO START TEST</h3>
            <div class="col-md-10">
                <div class="row mt-3 text-center">
                    <div class="col-md-4" *ngFor="let battery of allBatteries">
                            <div class="company talent" (click)="onBatteryClick(battery)">
                                <h2>{{battery.batteryName}}</h2>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- test cat -->

    <!-- click to start test -->
    <div class="container create-account" *ngIf="showResult == true">
        <div class="row justify-content-center mt-5">
            <h3 class="pt-3">Your test has been started, please complete the test and come back....
            </h3>
            <div class="col-md-10 mt-5 text-center ">
                <a href="#" routerLink="/testlist">Click to see completed Tests</a>
            </div>
        </div>
    </div>

    <!-- click to start test -->
</section>