<!-- heADER -->
<app-header></app-header>

<!-- HEADER -->
<section class="login company-registration mt-3 mb-5">
    <div class="container create-account">
        <div class="row justify-content-center ">
            <div class="col-md-10">
                <h1 class="text-center mb-5">{{gigDetails.gig_title }} {{gigDetails.gig_title &&  '-' }} TALENT PROFILES
                </h1>
            </div>
        </div>

        <!-- serach talent -->
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="input-group button-search mb-3">
                    <input type="text" class="form-control" placeholder="Profile Name" [(ngModel)]="filtroString" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><img
                                src="../../../assets/images/search.png"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                    <button class="btn btn-back" [routerLink]="['/viewpostedgigs']">Back</button>
            </div>
        </div>
        <!-- search talent -->
        <div class="row">

            <!-- search details -->
            <div class="col-md-12 search-results" [@fadeInAndOut]>

                <div class="row">
                    <!-- job preview -->
                    <div class="col-md-12 mt-3" *ngFor="let item of (talentProfilesList | filter:[{field:'first_name', value: filtroString}, {field:'last_name', value: filtroString}]) | paginate: { itemsPerPage: itemsPerPage, currentPage: paginationIndex, totalItems: (talentProfilesList | filter:[{field:'first_name', value: filtroString}, {field:'last_name', value: filtroString}]).length }">
                        <div class=" talent-result ">

                            <div class="row">
                                <!-- job details -->
                                <div class="col-md-2">
                                    <img [src]="item.image" class="img-profile img-fluid" *ngIf="item.image" onerror="this.style.display='none'">
                                </div>
                                <div class="col-md-7">
                                        <h3>{{item.first_name}} {{item.last_name}}</h3>

                                        <p><img src="../../../assets/images/maps.png" class="maps">
                                            {{item.city}}, {{item.state}},  {{item.country}}
                                        </p>
                                        <p>Mobile Number: <span class="span-info">{{item.mobile}}</span></p>
                                        <p>Email: <span class="span-info">{{item.email}}</span></p>
                                        <p>Skills: <span class="span-info">{{item.skills}}</span></p>
                                        <p *ngIf="item.about_me">About me: <span class="span-info">{{item.about_me}}</span></p>
                                </div>
                                <!--div class="col-md-1">
                                    <circle-progress [percent]="item.percentage" [radius]="100" [outerStrokeWidth]="16"
                                    [innerStrokeWidth]="8" [outerStrokeColor]="'#0ac629'" [innerStrokeColor]="'#fed501'"
                                    [animation]="true" [animationDuration]="1000" [showSubtitle]="false">
                                </circle-progress>
                                </div-->
                                <!-- job details -->
                                <!-- apply job -->
                                <div class="col-md-3 text-right">
                                        <button class="btn-applied mb-4"  *ngIf="item.is_applied">Already Applied</button>
                                        <button class="btn-invite mb-4" *ngIf="!item.is_applied && !item.is_invited" (click)="onInviteClick(item)">Invite</button>
                                        <button class="btn-applied mb-4" *ngIf="!item.is_applied && item.is_invited">Already Invited</button>
                                        <!-- <div class="progress blue">
                                            <span class="progress-left">
                                                <span class="progress-bar"></span>
                                            </span>
                                            <span class="progress-right">
                                                <span class="progress-bar"></span>
                                            </span>
                                            <div class="progress-value">{{matchPercentage}}</div>
                                        </div> -->

                                        <circle-progress [percent]="matchPercentage" [radius]="50" [outerStrokeWidth]="8"
                                            [innerStrokeWidth]="8" [outerStrokeColor]="'#0ac629'" [space] = "-9" [innerStrokeColor]="'#fff'"
                                            [animation]="true" [animationDuration]="4000" [showSubtitle]="false">
                                        </circle-progress>
                                        <p  class="text-right mt-2">
                                            <a class="hover-effect" [routerLink]="['/profiledetails', this.postId, item.talent_id, 1]">
                                                View More Details
                                                <img src="../../../assets/images/right-arrow.png">
                                            </a>
                                        </p>

                                </div>
                                <!-- apply job -->
                            </div>

                                <!-- <div class="row">
                                        <div class="row col-md-12 text-right">
                                            <p  class="col-md-12 text-right">
                                                <a class="hover-effect" [routerLink]="['/profiledetails', this.postId, item.talent_id, 1]">
                                                    View More Details
                                                    <img src="../../../assets/images/right-arrow.png">
                                                </a>
                                            </p>
                                        </div>
                                    </div> -->

                        </div>
                    </div>
                    <!-- job preview -->

                </div>
            </div>

            <!-- search details -->
        </div>


        <div class="row text-center col-md-12 mt-3" style="display: block;" *ngIf="(talentProfilesList| filter:[{field:'first_name', value: filtroString}, {field:'last_name', value: filtroString}]).length > 0">
                <pagination-controls (pageChange)="this.paginationIndex = $event">
                    </pagination-controls>
        </div>

        <!-- <nav aria-label="Page navigation example ">
            <ul class="pagination justify-content-end mt-5">

                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>

            </ul>
        </nav> -->
    </div>

</section>
