

<!-- heADER -->
<app-header-one></app-header-one>

<!-- HEADER -->

<div class="header-main-block text-center">
    <div class="container">
        <h1>Future of work platform</h1>
        <p>Experts and Professionals, On Demand</p>
        <h2>Gig economy&nbsp;</h2> <h3 id="changeText"> Solution</h3>
        <!-- <div class="gig-animation"><h2>Gig</h2><h3>X</h3></div>  -->
        <div class="row">
            <div class="col-sm-4">
                <div class="box-design">
                    <img class="img-responsive" src="../../../assets/images/home-bottom-1.jpg" alt="">
                    <h4>Experts on Demand</h4>
                    <ol>
                        <li>Access to top talent</li>
                        <li>Accurate fit</li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-design">
                    <img class="img-responsive" src="../../../assets/images/home-bottom-2.jpg" alt="">
                    <h4>Global Reach</h4>
                    <ol>
                        <li>Regional &amp; Global Opportunities</li>
                        <li>Top talent Community</li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-design">
                    <img class="img-responsive" src="../../../assets/images/home-bottom-3.jpg" alt="">
                    <h4>People Solutions</h4>
                    <ol>
                        <li>Talent Strategies &amp; Solutions</li>
                        <li>Learning &amp; Development</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="marketplace-block second">
    <h1 class="main-heading">Explore the Marketplace</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 market-grid">
                <div class="Marketplace-sub-tile text-center">
                    <img src="../../../assets/images/mar-pla-1.svg" alt="">
                    <h4 class="Marketplace-sub-heading custom-clr ">Business Development,<br />Sales & Marketing
                    </h4>
                    <p class="para">Social Media & Content Marketing, Digital Marketing</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 market-grid">
                <div class="Marketplace-sub-tile text-center">
                    <img src="../../../assets/images/mar-pla-2.svg" alt="">
                    <h4 class="Marketplace-sub-heading custom-clr ">Business Strategy,<br />Management and Research
                    </h4>
                    <p class="para">Subject Matter Experts, Consulting, Planning & Analysis, PMO, M&E

                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 market-grid">
                <div class="Marketplace-sub-tile text-center">
                    <img src="../../../assets/images/mar-pla-3.svg" alt="">
                    <h4 class="Marketplace-sub-heading custom-clr ">Climate Change &<br />Sustainability
                    </h4>
                    <p class="para">Environment, Green Technology, Resilience and Communities</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 market-grid">
                <div class="Marketplace-sub-tile text-center">
                    <img src="../../../assets/images/mar-pla-4.svg" alt="">
                    <h4 class="Marketplace-sub-heading custom-clr ">Creative & <br />Digital Media
                    </h4>
                    <p class="para">Graphics & Design, Video & Animation, Music & Audio


                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 market-grid">
                <div class="Marketplace-sub-tile text-center">
                    <img src="../../../assets/images/mar-pla-5.svg" alt="">
                    <h4 class="Marketplace-sub-heading custom-clr ">Science, Engineering<br /> &
                        Technology
                    </h4>
                    <p class="para">Technical Expertise, Development and Planning, Integration, Architecture, Safety &
                        Security


                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 market-grid">
                <div class="Marketplace-sub-tile text-center">
                    <img src="../../../assets/images/mar-pla-6.svg" alt="">
                    <h4 class="Marketplace-sub-heading custom-clr ">Customer Service
                    </h4>
                    <p class="para">Call Centre, Service Management, Virtual Assistance


                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 market-grid">
                <div class="Marketplace-sub-tile text-center">
                    <img src="../../../assets/images/mar-pla-7.svg" alt="">
                    <h4 class="Marketplace-sub-heading custom-clr ">Strategic, Human,<br />Capital & Leadership
                    </h4>
                    <p class="para">Assessment, People Alignment, Culture and Development</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 market-grid">
                <div class="Marketplace-sub-tile text-center">
                    <img src="../../../assets/images/mar-pla-8.svg" alt="">
                    <h4 class="Marketplace-sub-heading custom-clr ">Education <br />and Coaching
                    </h4>
                    <p class="para">Teach and Lecture, Class Assistance,Coaching

                    </p>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 market-grid">
                <div class="Marketplace-sub-tile text-center">
                    <div class="icon-hover icon-image9">
                    </div>
                    <h4 class="Marketplace-sub-heading custom-clr ">Finance
                    </h4>
                    <p class="para">Budgeting , Planning and Tracking</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 market-grid">
                <div class="Marketplace-sub-tile text-center">
                    <div class="icon-hover icon-image10">
                    </div>
                    <h4 class="Marketplace-sub-heading custom-clr ">Healthcare
                    </h4>
                    <p class="para">Patient Care, Caregiver and Wellness</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 market-grid">
                <div class="Marketplace-sub-tile text-center">
                    <div class="icon-hover icon-image11">
                    </div>
                    <h4 class="Marketplace-sub-heading custom-clr ">Humanitarian,<br />CSO and NGO
                    </h4>
                    <p class="para">Medical, Volunteer Management, Logistics, Stakeholder and Policy and Training</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 market-grid">
                <div class="Marketplace-sub-tile text-center">
                    <div class="icon-hover icon-image12">
                    </div>
                    <h4 class="Marketplace-sub-heading custom-clr ">Public Relations,<br />Communications &
                        Publication
                    </h4>
                    <p class="para">Branding, Speech Writing, Translation & Report Writing</p>
                </div>
            </div>
        </div> -->
    </div>
</div>

<div class="quality-block">
    <div class="container">
        <div class="quality-block-content text-center">
            <h3> Accredited Experts / Professionals.</h3>
            <p>Rated by experts. Trusted by leading firms</p>
            <button class="send-btn" routerLink="/login" type="submit">Explore Experts / Professionals</button>
        </div>
    </div>
</div>

<!-- <div class="first-step-block  text-center">
    <div class="container">
        <h1 class="main-heading">
            Take the first step into the Gig Economy.<br>Whatever your goal, here are a few places
            to get started
        </h1>
        <div class="row">
            <div class="col-md-goal">
                <div class="first-step-strip">
                    <img src="../../../assets/images/first-step-img1.png" class="rounded-circle" alt="">
                    <h5>Accredited Contingent Workforce</h5>
                    <h5>Get productive faster</h5>
                    <p class="para">Access shared talent who can seamlessly plug in to work across the business in a
                        project-oriented way.</p>
                </div>
            </div>
            <div class="col-md-goal col-md-mid">
                <div class="first-step-strip">
                    <img src="../../../assets/images/first-step-img2.png" class="rounded-circle" alt="">
                    <h5>Approved Firms </h5>
                    <h5>Drive value though excellence.</h5>
                    <p class="para">connect to approved firms and drive better performance.</p>
                </div>
            </div>
            <div class="col-md-goal">
                <div class="first-step-strip">
                    <img src="../../../assets/images/first-step-img3.png" class="rounded-circle" alt="">
                    <h5>Experienced Community</h5>
                    <h5>Acquire knowledge and skills</h5>
                    <p class="para">continuous learning and enhanced knowledge for higher performance</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="first-step-block">
    <div class="container">
        <h1 class="main-heading text-center">
           Converge &amp; Diverge
        </h1>
        <div class="row">
            <div class="col-md-goal">
                <div class="first-step-strip">
                    <img src="../../../assets/images/first-step-new-img1.jpg" class="img-responsive" alt="">
                    <h4>Gig Economy – Futurising the Future</h4>
                    <p class="para">Everyone recognizes that digital disruption is happening and many organizations across ...</p>
                    <a href="https://gigxglobal.blogspot.com/2020/02/gig-economy-futurising-future_11.html" target="_balnk">Read More >></a>
                </div>
            </div>
            <div class="col-md-goal col-md-mid">
                <div class="first-step-strip">
                    <img src="../../../assets/images/first-step-new-img2.jpg" class="img-responsive" alt="">
                    <h4>HR fit for the future – Being brave and courageous </h4>
                    <p class="para">Is bravery and courage in the workplace now ‘coming of age’? Bravery and courage are generally considered ...</p>
                    <a href="https://gigxglobal.blogspot.com/2020/02/hr-fit-for-future-being-brave-and_11.html" target="_balnk">Read More >></a>
                </div>
            </div>
            <div class="col-md-goal">
                <div class="first-step-strip">
                    <img src="../../../assets/images/first-step-new-img3.jpg" class="img-responsive" alt="">
                    <h4>Upping the Ante for HR</h4>
                    <p class="para">Reading Charles Handy’s book ‘The Empty Raincoat’, I reflected on the application of the Sigmoid curve ...</p>
                    <a href="https://gigxglobal.blogspot.com/2020/02/upping-ante-for-hr_11.html" target="_balnk">Read More >></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pre-footer-block">
    <div class="line"><hr style="border-top: 2px solid #2890c9;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <!-- <img src="../../../assets/images/footer-logo.png" alt=""> -->
                <img src="../../../assets/images/logo.png" alt="">
                <!-- <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                <ul class="social-media mt-5">
                    <li><a href="https://www.facebook.com/GigxGlobal-104848717767145/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/Gigxglobal1" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/gigxglobal/" target="_blank" title="Linked In"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="https://www.instagram.com/gigxglobal/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 site-map">
                <h5>Site Map</h5>
                <ul class="">
                    <li><a href="#" routerLink="">Home</a></li>
                    <li><a href="#" routerLink="/about-us">About us</a></li>
                    <li><a href="#" routerLink="/contact-us">Contact us</a></li>
                    <li><a href="#" routerLink="/terms-and-conditions">Terms And Conditions</a></li>

                </ul>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="address">
                    <h5>Contact</h5>
                    <ul>
                        <li>
                            <p>SORGA INNOVATION SDN BHD</p>
                        </li>
                        <li>
                            <p>Unit 21-08, 21st Floor, Q Sentral,</p>
                        </li>
                        <li>
                            <p>Kuala Lumpur Sentral,</p>
                        </li>
                        <li>
                            <p>50470 Kuala Lumpur</p>
                        </li>
                        <li>
                            <p>Malaysia</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="mail-block">
                    <h5>Join Our Gigx</h5>
                    <form [formGroup]="subscribeFrom">
                        <div class="input-group password-group mb-3">
                            <input type="email" class="form-control" name="email" placeholder="Enter your email"
                                formControlName="email" [ngClass]="{'is-invalid':sub.email.errors&& submitEmail}">
                            <div class="invalid-feedback" *ngIf="sub.email.errors">
                                <div *ngIf="sub.email.errors.required">Email is required</div>
                                <div *ngIf="sub.email.errors.email">Enter a valid Email</div>
                            </div>
                        </div>
                        <button class="send-btn" type="submit" (click)="submitsubscribe()">SEND</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <p class="footer-text text-center">&copy; 2019 GigxGlobal. All Rights Reserved</p>
    </div>
</div>

<ngx-spinner bdColor="#ffffff" size="medium" color="#208ac4" type="square-jelly-box">

</ngx-spinner>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />