<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand"><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto main-menu">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <!-- <li class="nav-item login-list">|</li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/about-us">About</a>
                    </li>
                    <!-- <li class="nav-item login-list">|</li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/contact-us">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/coverpage"> Login</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ENG
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">English</a>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- HEADER -->
<!-- boot 3 carousel -->
<!-- boot 3 carousel -->
<!-- boot 4 carousel -->
<div class="header-block">
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators carousel-indicators-numbers ">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active">01</li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1">02</li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2">03</li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/images/banner1.png.jpg" alt="..." class="img-responsive">

                </div>
                <div class="carousel-item">
                    <img src="../../../assets/images/banner2.png.jpg" alt="..." class="img-responsive">

                </div>
                <div class="carousel-item">
                    <img src="../../../assets/images/banner3.png.jpg" alt="..." class="img-responsive">

                </div>
            </div>
            <a class="carousel-control-next carousel-control" href="#carouselExampleCaptions" role="button"
                data-slide="next">
                Explore the platform
                <img src="../../../assets/images/right-arrow.png">
            </a>

            <a class="swaip-to-discover" id="swaip-to-discover" href="#"> <span class="swaip-to-discover-span">Swipe
                    Down to Discover</span><br><img src="../../../assets/images/caret-down.png"> </a>
            <div class="carousel-caption-main">
                <p class="carousel-caption-txt">Future of work platform</p>
                <small class="sm-text">Experts and Professionals,On Demand
                </small>
                <ul>
                    <li class="normal-color slideInDown animated">Gig</li>
                    <li class="custom-color slideInRight animated">Economy</li>
                    <li class="normal-color slideInUp animated">Solution</li>
                </ul>

            </div>
            <!-- <div class="banner-cloud  floating">
                <img src="../../../assets/images/cloud.png" class="">
            </div> -->
        </div>
    </div>
</div>

<!-- boot 4 carousel -->


<div class="marketplace-block" id="marketplace-block">
    <h1 class="main-heading">Explore the Marketplace</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="Marketplace-sub-tile text-center">
                    <div class="icon-hover icon-image1">
                    </div>
                    <h4 class="Marketplace-sub-heading custom-clr mb-3">Business Development,<br />Sales & Marketing
                    </h4>
                    <p class="para">Social Media & Content Marketing, Digital Marketing</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="Marketplace-sub-tile text-center">
                    <div class="icon-hover icon-image2">
                    </div>
                    <h4 class="Marketplace-sub-heading custom-clr mb-3">Business Strategy,<br />Management and Research
                    </h4>
                    <p class="para">Subject Matter Experts, Consulting, Planning & Analysis, PMO, M&E

                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="Marketplace-sub-tile text-center">
                    <div class="icon-hover icon-image3">
                    </div>
                    <h4 class="Marketplace-sub-heading custom-clr mb-3">Climate Change &<br />Sustainability
                    </h4>
                    <p class="para">Environment, Green Technology, Resilience and Communities</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="Marketplace-sub-tile text-center">
                    <div class="icon-hover icon-image4">
                    </div>
                    <h4 class="Marketplace-sub-heading custom-clr mb-3">Creative & <br />Digital Media
                    </h4>
                    <p class="para">Graphics & Design, Video & Animation, Music & Audio


                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="Marketplace-sub-tile text-center">
                    <div class="icon-hover icon-image5">
                    </div>
                    <h4 class="Marketplace-sub-heading custom-clr mb-3">Science, Engineering<br /> &
                        Technology
                    </h4>
                    <p class="para">Technical Expertise, Development and Planning, Integration, Architecture, Safety &
                        Security


                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="Marketplace-sub-tile text-center">
                    <div class="icon-hover icon-image6">
                    </div>
                    <h4 class="Marketplace-sub-heading custom-clr mb-3">Customer Service
                    </h4>
                    <p class="para">Call Centre, Service Management, Virtual Assistance


                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="Marketplace-sub-tile text-center">
                    <div class="icon-hover icon-image7">
                    </div>
                    <h4 class="Marketplace-sub-heading custom-clr mb-3">Strategic, Human,<br />Capital & Leadership
                    </h4>
                    <p class="para">Assessment, People Alignment, Culture and Development</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="Marketplace-sub-tile text-center">
                    <div class="icon-hover icon-image8">
                    </div>
                    <h4 class="Marketplace-sub-heading custom-clr mb-3">Education <br />and Coaching
                    </h4>
                    <p class="para">Teach and Lecture, Class Assistance,Coaching

                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="Marketplace-sub-tile text-center">
                    <div class="icon-hover icon-image9">
                    </div>
                    <h4 class="Marketplace-sub-heading custom-clr mb-3">Finance
                    </h4>
                    <p class="para">Budgeting , Planning and Tracking</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="Marketplace-sub-tile text-center">
                    <div class="icon-hover icon-image10">
                    </div>
                    <h4 class="Marketplace-sub-heading custom-clr mb-3">Healthcare
                    </h4>
                    <p class="para">Patient Care, Caregiver and Wellness</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="Marketplace-sub-tile text-center">
                    <div class="icon-hover icon-image11">
                    </div>
                    <h4 class="Marketplace-sub-heading custom-clr mb-3">Humanitarian,<br />CSO and NGO
                    </h4>
                    <p class="para">Medical, Volunteer Management, Logistics, Stakeholder and Policy and Training</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="Marketplace-sub-tile text-center">
                    <div class="icon-hover icon-image12">
                    </div>
                    <h4 class="Marketplace-sub-heading custom-clr mb-3">Public Relations,<br />Communications &
                        Publication
                    </h4>
                    <p class="para">Branding, Speech Writing, Translation & Report Writing</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="quality-block">
    <div class="container">
        <div class="quality-block-content text-center">
            <h3> Accredited Experts / Professionals.</h3>
            <p>Rated by experts. Trusted by leading firms</p>
            <button class="send-btn" type="submit">Explore Experts / Professionals</button>
        </div>
    </div>
</div>

<div class="first-step-block  text-center">
    <div class="container">
        <h1 class="main-heading">Take the first step into the Gig Economy.<br>Whatever your goal, here are a few places
            to get started
        </h1>
        <div class="row">
            <div class="col-md-goal">
                <div class="first-step-strip">
                    <img src="../../../assets/images/first-step-img1.png" class="rounded-circle" alt="">
                    <h5>Accredited Contingent Workforce</h5>
                    <h5>Get productive faster</h5>
                    <p class="para">Access shared talent who can seamlessly plug in to work across the business in a
                        project-oriented way.</p>
                </div>
            </div>
            <div class="col-md-goal col-md-mid">
                <div class="first-step-strip">
                    <img src="../../../assets/images/first-step-img2.png" class="rounded-circle" alt="">
                    <h5>Approved Firms </h5>
                    <h5>Drive value though excellence.</h5>
                    <p class="para">connect to approved firms and drive better performance.</p>
                </div>
            </div>
            <div class="col-md-goal">
                <div class="first-step-strip">
                    <img src="../../../assets/images/first-step-img3.png" class="rounded-circle" alt="">
                    <h5>Experienced Community</h5>
                    <h5>Acquire knowledge and skills</h5>
                    <p class="para">continuous learning and enhanced knowledge for higher performance</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pre-footer-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img src="../../../assets/images/footer-logo.png" alt="">
                <!-- <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                <ul class="social-media mt-5">
                    <li><i class="fab fa-facebook-f"></i>
                    </li>
                    <li><i class="fab fa-twitter"></i>
                    </li>
                    <li><i class="fab fa-linkedin-in"></i>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h5>Services</h5>
                <ul class="">
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact us</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="address">
                    <h5>Contact</h5>
                    <ul>
                        <li>
                            <p>SORGA INNOVATION SDN BHD</p>
                        </li>
                        <li>
                            <p>No.7A, Jalan Tun Mohd Faud 3,</p>
                        </li>
                        <li>
                            <p>Taman Tun Dr lsmail,</p>
                        </li>
                        <li>
                            <p>60000 Kuala Lumpur,</p>
                        </li>
                        <li>
                            <p>Malaysia</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="mail-block">
                    <h5>Join Our Gigx</h5>
                    <!-- <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                    <input type="text" name="text" placeholder="Enter your email">
                    <button class="send-btn" type="submit">SEND</button>
                </div>
            </div>
        </div>
        <hr>
        <p class="footer-text text-center">&copy; 2019 GigxGlobal. All Rights Reserved</p>
    </div>
</div>

<ngx-spinner bdColor="#ffffff" size="medium" color="#208ac4" type="square-jelly-box">

</ngx-spinner>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />