<app-header></app-header>
<!-- HEADER -->


<section class="login company-registration mt-3 mb-5" [@fadeInAndOut]>
    <div class="container create-account">

        <!-- serach talent -->
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="input-group button-search mb-3 mt-3">
                    <input type="text" class="form-control" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><img
                                src="../../../assets/images/search.png"></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- search talent -->

        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center mb-3">Welcome, {{companyName}}!
                </h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row dashboard">
            <!-- search details -->
            <div class="col-md-8 search-results">

                <!-- search results -->
                <div class="row ">
                    <!-- talent preview -->
                    <div class="col-md-4 mt-3">
                        <div class=" talent-result ">
                            <div class="row">


                                <div class="col-md-10">
                                    <div class="row">
                                        <!-- talent details -->
                                        <div class="col-md-12">
                                            <h3>Posted Gigs</h3>


                                        </div>
                                        <!-- talent details -->
                                        <!-- invite job -->
                                        <div class="col-md-12 number">
                                            <div class="row mt-5">
                                                <div class="col-md-6">
                                                    <img src="../../../assets/images/custom1.png">
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <h3>{{dashBoardCount.postedGigsCount}}</h3>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- invite job -->
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- talent preview -->
                    <!-- talent preview -->
                    <div class="col-md-4 mt-3">
                        <div class=" talent-result ">
                            <div class="row">


                                <div class="col-md-10">
                                    <div class="row">
                                        <!-- talent details -->
                                        <div class="col-md-12">
                                            <h3>Applied Gigs</h3>
                                        </div>
                                        <!-- talent details -->
                                        <!-- invite job -->
                                        <div class="col-md-12 number">
                                            <div class="row mt-5">
                                                <div class="col-md-6">
                                                    <img src="../../../assets/images/custom2.png">
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <h3>{{dashBoardCount.appliedTalentCount}}</h3>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- invite job -->
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- talent preview -->
                    <!-- talent preview -->
                    <div class="col-md-4 mt-3">
                        <div class=" talent-result ">
                            <div class="row">


                                <div class="col-md-10">
                                    <div class="row">
                                        <!-- talent details -->
                                        <div class="col-md-12">
                                            <h3>Shortlisted Gigs</h3>


                                        </div>
                                        <!-- talent details -->
                                        <!-- invite job -->
                                        <div class="col-md-12 number">
                                            <div class="row mt-5">
                                                <div class="col-md-6">
                                                    <img src="../../../assets/images/custom3.png">
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <h3>{{dashBoardCount.shortListedTalentCount}}</h3>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- invite job -->
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- talent preview -->
                    <!-- talent preview -->
                    <div class="col-md-4 mt-3">
                        <div class=" talent-result ">
                            <div class="row">


                                <div class="col-md-10">
                                    <div class="row">
                                        <!-- talent details -->
                                        <div class="col-md-12">
                                            <h3>Accepted Gigs</h3>


                                        </div>
                                        <!-- talent details -->
                                        <!-- invite job -->
                                        <div class="col-md-12 number">
                                            <div class="row mt-5">
                                                <div class="col-md-6">
                                                    <img src="../../../assets/images/custom4.png">
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <h3>{{dashBoardCount.acceptedTalentCount}}</h3>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- invite job -->
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- talent preview -->
                    <!-- talent preview -->
                    <div class="col-md-4 mt-3">
                        <div class=" talent-result ">
                            <div class="row">


                                <div class="col-md-10">
                                    <div class="row">
                                        <!-- talent details -->
                                        <div class="col-md-12">
                                            <h3>Rejected Gigs</h3>


                                        </div>
                                        <!-- talent details -->
                                        <!-- invite job -->
                                        <div class="col-md-12 number">
                                            <div class="row mt-5">
                                                <div class="col-md-6">
                                                    <img src="../../../assets/images/custom5.png">
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <h3>{{dashBoardCount.rejectedTalentCount}}</h3>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- invite job -->
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- talent preview -->
                    <!-- talent preview -->

                    <!-- talent preview -->
                </div>
                <!-- search results -->

            </div>
            <!-- search details -->
            <div class="col-md-4">
                <div class="company-profile">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="{{profileDetails.logo_url}}{{profileDetails.logo}}">
                            <div class="online"></div>
                            <h3> {{companyName}}</h3>

                            <p>{{profileDetails.address}}</p>
                            <button class="btn review" (click)="gotoProfile()">EDIT PROFILE</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>