<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand" routerLink=""><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="/companydashboard">Home<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/talentsearch">Talents & Projects</a>
                    </li>



                </ul>
                <span class="navbar-text"> <a href="#"><img src="../../../assets/images/bell.png"
                            class="bell"></a></span>
                <span class="navbar-text">
                    <div class="dropdown dropdown-button">
                        <a class="nav-item " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="../../../assets/images/vm.png" class="vm-image"> Versatile <img
                                src="../../../assets/images/down-arrow.png">
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" (click)="gotoProfile()">My Profile</a>
                            <a class="dropdown-item" href="#" routerLink="/changepassword">Change Password</a>
                            <a class="dropdown-item" href="#" routerLink="/subscriptions">Subscriptions</a>
                            <a class="dropdown-item" href="#" routerLink="/coverpage">Logout</a>

                        </div>
                    </div>
                </span>
            </div>
        </nav>
    </div>
</div>

<!-- HEADER -->


<section class="login company-registration mt-3 mb-5">
    <div class="container create-account">

        <!-- serach talent -->
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="input-group button-search mb-3 mt-3">
                    <input type="text" class="form-control" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><img
                                src="../../../assets/images/search.png"></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- search talent -->

        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center mb-3">Welcome, Versatile Mobitech!
                </h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row dashboard">
            <!-- search details -->
            <div class="col-md-8 search-results">

                <!-- search results -->
                <div class="row ">
                    <!-- talent preview -->
                    <div class="col-md-12 mt-3">
                        <div class=" talent-result " routerLink="/talentprofile">
                            <div class="row">
                                <!-- talent image -->
                                <div class="col-md-2 image-talent">
                                    <img src="../../../assets/images/profile-image.jpg">
                                    <h4>Matched 88%</h4>
                                    <div class="test-score">
                                        <h5>80</h5>
                                        <p>Test Score</p>
                                    </div>
                                </div>
                                <!-- talent image -->

                                <div class="col-md-10">
                                    <div class="row">
                                        <!-- talent details -->
                                        <div class="col-md-8">
                                            <h3>John Mark</h3>
                                            <p>React | Angular | Vue | Node Js | ASP.NET | Java Developer</p>
                                            <p class="text-color-light">At Versatile Mobitech Pvt. Ltd</p>
                                            <p><img src="../../../assets/images/maps.png" class="maps"> Malaysia Kuala
                                                Lumpur
                                            </p>
                                            <ul>
                                                <li>
                                                    <p class="text-color-light">$34.00</p>
                                                    <p class="text-color-light">Hourly rate</p>
                                                </li>
                                                <li>
                                                    <p class="text-color-light">$2k+</p>
                                                    <p class="text-color-light">Total earned</p>
                                                </li>
                                                <li>
                                                    <p class="text-color-light">13</p>
                                                    <p class="text-color-light">Jobs</p>
                                                </li>
                                                <li>
                                                    <p class="text-color-light">54</p>
                                                    <p class="text-color-light">Hours Worked</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- talent details -->
                                        <!-- invite job -->
                                        <div class="col-md-4">
                                            <button class="btn invite-job">INVITE TO JOB</button>
                                            <button class="btn review" routerLink="/ratingsreview">RATINGS &
                                                REVIEWS</button>
                                        </div>
                                        <!-- invite job -->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>I have 8 years of experience in developing web & mobile applications for
                                                ecommerce , health , transport , education and games industries. For
                                                Past 3 Years ...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <p>

                                        <a href="#" class="hover-effect" routerLink="/talentprofile">View More Details
                                            <img src="../../../assets/images/right-arrow.png"></a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- talent preview -->
                    <!-- talent preview -->
                    <div class="col-md-12 mt-3">
                        <div class=" talent-result " routerLink="/talentprofile">
                            <div class="row">
                                <!-- talent image -->
                                <div class="col-md-2 image-talent">
                                    <img src="../../../assets/images/profile-image.jpg">
                                    <h4>Matched 94%</h4>
                                    <div class="test-score">
                                        <h5>90</h5>
                                        <p>Test Score</p>
                                    </div>
                                </div>
                                <!-- talent image -->

                                <div class="col-md-10">
                                    <div class="row">
                                        <!-- talent details -->
                                        <div class="col-md-8">
                                            <h3>John Mark</h3>
                                            <p>React | Angular | Vue | Node Js | ASP.NET | Java Developer</p>
                                            <p class="text-color-light">At Versatile Mobitech Pvt. Ltd</p>
                                            <p><img src="../../../assets/images/maps.png" class="maps"> Malaysia Kuala
                                                Lumpur
                                            </p>
                                            <ul>
                                                <li>
                                                    <p class="text-color-light">$34.00</p>
                                                    <p class="text-color-light">Hourly rate</p>
                                                </li>
                                                <li>
                                                    <p class="text-color-light">$2k+</p>
                                                    <p class="text-color-light">Total earned</p>
                                                </li>
                                                <li>
                                                    <p class="text-color-light">13</p>
                                                    <p class="text-color-light">Jobs</p>
                                                </li>
                                                <li>
                                                    <p class="text-color-light">54</p>
                                                    <p class="text-color-light">Hours Worked</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- talent details -->
                                        <!-- invite job -->
                                        <div class="col-md-4">
                                            <button class="btn invite-job">INVITE TO JOB</button>
                                            <button class="btn review" routerLink="/ratingsreview">RATINGS &
                                                REVIEWS</button>
                                        </div>
                                        <!-- invite job -->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>I have 8 years of experience in developing web & mobile applications for
                                                ecommerce , health , transport , education and games industries. For
                                                Past 3 Years ...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <p>

                                        <a href="#" class="hover-effect" routerLink="/talentprofile">View More Details
                                            <img src="../../../assets/images/right-arrow.png"></a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- talent preview -->
                    <!-- talent preview -->
                    <div class="col-md-12 mt-3">
                        <div class=" talent-result" routerLink="/talentprofile">
                            <div class="row">
                                <!-- talent image -->
                                <div class="col-md-2 image-talent">
                                    <img src="../../../assets/images/profile-image.jpg">
                                    <h4>Matched 98%</h4>
                                    <div class="test-score">
                                        <h5>40</h5>
                                        <p>Test Score</p>
                                    </div>
                                </div>
                                <!-- talent image -->

                                <div class="col-md-10">
                                    <div class="row">
                                        <!-- talent details -->
                                        <div class="col-md-8">
                                            <h3>John Mark</h3>
                                            <p>React | Angular | Vue | Node Js | ASP.NET | Java Developer</p>
                                            <p class="text-color-light">At Versatile Mobitech Pvt. Ltd</p>
                                            <p><img src="../../../assets/images/maps.png" class="maps"> Malaysia Kuala
                                                Lumpur
                                            </p>
                                            <ul>
                                                <li>
                                                    <p class="text-color-light">$34.00</p>
                                                    <p class="text-color-light">Hourly rate</p>
                                                </li>
                                                <li>
                                                    <p class="text-color-light">$2k+</p>
                                                    <p class="text-color-light">Total earned</p>
                                                </li>
                                                <li>
                                                    <p class="text-color-light">13</p>
                                                    <p class="text-color-light">Jobs</p>
                                                </li>
                                                <li>
                                                    <p class="text-color-light">54</p>
                                                    <p class="text-color-light">Hours Worked</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- talent details -->
                                        <!-- invite job -->
                                        <div class="col-md-4">
                                            <button class="btn invite-job">INVITE TO JOB</button>
                                            <button class="btn review">RATINGS & REVIEWS</button>
                                        </div>
                                        <!-- invite job -->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>I have 8 years of experience in developing web & mobile applications for
                                                ecommerce , health , transport , education and games industries. For
                                                Past 3 Years ...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <p>

                                        <a href="#" class="hover-effect" routerLink="/talentprofile">View More Details
                                            <img src="../../../assets/images/right-arrow.png"></a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- talent preview -->
                    <!-- talent preview -->
                    <div class="col-md-12 mt-3">
                        <div class=" talent-result" routerLink="/talentprofile">
                            <div class="row">
                                <!-- talent image -->
                                <div class="col-md-2 image-talent">
                                    <img src="../../../assets/images/profile-image.jpg">
                                    <h4>Matched 88%</h4>
                                    <div class="test-score">
                                        <h5>80</h5>
                                        <p>Test Score</p>
                                    </div>
                                </div>
                                <!-- talent image -->

                                <div class="col-md-10">
                                    <div class="row">
                                        <!-- talent details -->
                                        <div class="col-md-8">
                                            <h3>John Mark</h3>
                                            <p>React | Angular | Vue | Node Js | ASP.NET | Java Developer</p>
                                            <p class="text-color-light">At Versatile Mobitech Pvt. Ltd</p>
                                            <p><img src="../../../assets/images/maps.png" class="maps"> Malaysia Kuala
                                                Lumpur
                                            </p>
                                            <ul>
                                                <li>
                                                    <p class="text-color-light">$34.00</p>
                                                    <p class="text-color-light">Hourly rate</p>
                                                </li>
                                                <li>
                                                    <p class="text-color-light">$2k+</p>
                                                    <p class="text-color-light">Total earned</p>
                                                </li>
                                                <li>
                                                    <p class="text-color-light">13</p>
                                                    <p class="text-color-light">Jobs</p>
                                                </li>
                                                <li>
                                                    <p class="text-color-light">54</p>
                                                    <p class="text-color-light">Hours Worked</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- talent details -->
                                        <!-- invite job -->
                                        <div class="col-md-4">
                                            <button class="btn invite-job">INVITE TO JOB</button>
                                            <button class="btn review" routerLink="/ratingsreview">RATINGS &
                                                REVIEWS</button>
                                        </div>
                                        <!-- invite job -->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>I have 8 years of experience in developing web & mobile applications for
                                                ecommerce , health , transport , education and games industries. For
                                                Past 3 Years ...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <p>

                                        <a href="#" class="hover-effect" routerLink="/talentprofile">View More Details
                                            <img src="../../../assets/images/right-arrow.png"></a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- talent preview -->

                </div>
                <!-- search results -->

            </div>
            <!-- search details -->
            <div class="col-md-4">
                <div class="company-profile">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="../../../assets/images/vm-logo.png">
                            <div class="online"></div>
                            <h3>Versatile Mobitech Pvt. Ltd.</h3>
                            <p>UX / UI Designer</p>
                            <p>Secunderabad , Telangana, India</p>
                            <button class="btn review" (click)="gotoProfile()">EDIT PROFILE</button>
                        </div>
                    </div>

                </div>
                <div class="company-profile">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Account Settings</h3>
                            <div class="row account-settings">
                                <div class="col-md-2">
                                    <img src="../../../assets/images/account.png" class="img-fluid">
                                </div>
                                <div class="col-md-10">
                                    <h4>Account Settings</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing .</p>
                                </div>
                            </div>
                            <div class="row account-settings">
                                <div class="col-md-2">
                                    <img src="../../../assets/images/message.png" class="img-fluid">
                                </div>
                                <div class="col-md-10">
                                    <h4>Communication Preferences</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing .</p>
                                </div>
                            </div>
                            <div class="row account-settings">
                                <div class="col-md-2">
                                    <img src="../../../assets/images/payment.png" class="img-fluid">
                                </div>
                                <div class="col-md-10">
                                    <h4>Payment Information</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing .</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="company-profile">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Market Research</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                            <p>Lorem ipsum dolor sit amet</p>
                            <p>Lorem ipsum dolor sit amet</p>
                            <p>Lorem ipsum dolor sit amet</p>
                            <p>Lorem ipsum dolor sit amet</p>
                            <p>Lorem ipsum dolor sit amet</p>

                        </div>
                    </div>

                </div>
                <div class="company-profile">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Finance & Accounting</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                            <p>Lorem ipsum dolor sit amet</p>
                            <p>Lorem ipsum dolor sit amet</p>
                            <p>Lorem ipsum dolor sit amet</p>
                            <p>Lorem ipsum dolor sit amet</p>
                            <p>Lorem ipsum dolor sit amet</p>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>