// HEADER CSS
app-subscriptions{
    .plan-expiry{
        color: #dc3545;
        font-weight: 600;
        .expire-days{
            font-size: 26px;
        }
        .credits {
            font-size: 20px;
        }
    }
}
.login-list{
    margin-top: 3px;
    font-size: 24px;
}
.main-header {
    box-shadow: 2px 3px 6px 0px #e1e1e1;
a{
    font-size:19px;
    color:#000000;
}
}
.subscriptions {
    padding: 0px 64px;
}
.group-buttons{
    text-align: center;
    background: #f1f1f1;
    padding: 13px 18px;
    border-radius: 50px;
    margin-top:7%;
    button{
        border-radius: 50px!important;
    }
   .btn-group{
    width: 100%;
   }
}

.plans{
    height: 125px;
}
.login {
    h1{
        font-weight: 600;
        margin-top: 4%;
        text-align: center;
        font-size: 32px;
    }
   
         button{
            width: 100%;
        font-weight: 600;
            border: 0px;
            border-radius: 3px ;
            padding: 6px;
            color: #000000;
            font-size: 17px;
        }
     

}
.subscription-plan:hover{
    transition: 0.8s;
    border: 1px solid #fed501;
    h2{
        background: #fed501;
    }
}

.individual-plans{
    .subscription-plan {
        box-shadow: none!important;
    border-radius: 5px;
        padding-bottom: 2%;
        h2{
        background: none;
        }
    }
    li{
       display: inline-block;
    }
    ul{
    margin: 0px auto;
    }
    .subscription-plan:hover{
        transition: 0;
        border: 0px solid #fed501;
        h2{
            background: none!important;
        }
    }
    button{
        margin-bottom:12px;
    }
}
.individual-features{
    .plans{
        height:238px;
    }
    .col-md-3{
        flex: 0 0 20%;
        max-width: 20%;
    }
}
.cutom-package{
    text-align:right;
    a{
        color:#fed501;
    }
}
.subscription-plan {
    box-shadow: 0px 0px 6px 0px #cccbcb;
    border-radius: 5px;
    padding-bottom: 22%;
    h1{
        text-align: center;
        font-weight: 600;
        padding: 21px 4px 1px;
        font-size: 22px;
        height: 80px;
    }
    h2{
        text-align: center;
    font-weight: 600;
    background: #fef2f2;
    padding: 16px;
    font-size: 30px;
    margin-bottom:18px;
    }
    span{
        font-weight:500;
        font-size: 14px;
        color:#000000;
    }
    .divider{
        font-size: 30px;
        color: #736f6e;
        font-weight: 100;
    }
    p{
        text-align:center;
    }
}
.account{
    background:#fed501;
    font-weight: 600;
    border-radius:3px!important;
}