<!-- heADER -->
<app-header></app-header>
<!-- HEADER -->
<section class="login  mt-3 mb-2">
    <div class="container-fluid subscriptions">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center ">SUBSCRIPTION PLANS
                </h1>
            </div>
        </div>
        <!-- switch buttons  -->

        <!-- switch buttons -->
        <!-- subscriptions plans -->
        <div class="row mt-5 individual-features" *ngIf="type=='company' || 'individual'">

            <!-- plan 1 -->
            <div class="col-md-3" *ngFor="let data of CompanySubscriptions" [@fadeInAndOut]>
                <div class="subscription-plan">
                    <h1>{{data.membership_name}}</h1>
                    <h2>{{data.currency_code}} {{data.price}} <span class="divider">/</span><span> Year</span></h2>
                    <div class="plans">
                        <p>Up to {{data.max_limit}} postings</p>
                        <div class="" *ngFor="let service of data.services">
                            <p>{{service.service_name}}</p>
                        </div>

                    </div>

                    <div class="row justify-content-center mt-5">
                        <div class="col-md-8 text-right">
                            <button type="submit" class="btn account" routerLink="/payment">SUBSCRIBE NOW</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- plan 1 -->

            <div class="col-md-12 mt-5" [@fadeInAndOut]>
                <div class="cutom-package">
                    <p>For customized package, please contact us at <a
                            href="mailto:expert@gigxglobal.com">expert@gigxglobal.com</a></p>
                </div>
            </div>
        </div>
        <!-- subscriptions plans -->


        <!-- subscriptions plans -->

        <!-- subscriptions plans -->
    </div>
</section>