<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand" routerLink=""><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="/login">Log In <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/createaccount">Sign Up</a>
                    </li>


                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- HEADER -->
<section class="login  mt-3 mb-2">
    <div class="container subscriptions">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center mb-2">SUBSCRIPTIONS
                </h1>
            </div>
        </div>
        <!-- switch buttons  -->
        <!-- <div class="row justify-content-center">
            <div class="col-md-6 group-buttons">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" (click)="gigx('talent')" class="btn"
                        [ngStyle]="{'background':type=='talent'?'#fed501':''}">GIGX
                        TALENT</button>
                    <button type="button" (click)="gigx('company')"
                        [ngStyle]="{'background':type=='company'?'#fed501':''}" class="btn ">COMPANY</button>
                </div>
            </div>

        </div> -->
        <!-- switch buttons -->
        <!-- subscriptions plans -->
        <div class="row mt-5 individual-features" *ngIf="type=='company'">
            <div class="col-md-12 individual-plans mb-5">
                <div class="row justify-content-center" [@fadeInAndOut]>
                    <div class="col-md-8">
                        <div class="subscription-plan">
                            <ul>
                                <li>
                                    <h1>Individual Package</h1>
                                </li>
                                <li>
                                    <h2>RM 300 / Gig</h2>
                                </li>
                                <li> <button type="submit" class="btn account" routerLink="/payment">SUBSCRIBE
                                        NOW</button></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- plan 1 -->
            <div class="col-md-3" [@fadeInAndOut]>
                <div class="subscription-plan">
                    <h1>Basic</h1>
                    <h2>RM 5,000 <span class="divider">/</span><span> Year</span></h2>
                    <div class="plans">
                        <p>Up to 30 postings</p>
                        <p>Reviews & Ratings</p>
                        <p>Analytics & Trend Report </p>
                    </div>

                    <div class="row justify-content-center mt-5">
                        <div class="col-md-8 text-right">
                            <button type="submit" class="btn account" routerLink="/payment">SUBSCRIBE NOW</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- plan 1 -->
            <!-- plan 2 -->
            <div class="col-md-3" [@fadeInAndOut]>
                <div class="subscription-plan">
                    <h1> Standard </h1>
                    <h2>RM 8,000 <span class="divider">/</span><span> Year</span></h2>
                    <div class="plans">
                        <p>31-60 postings</p>
                        <p>Reviews & Ratings</p>
                        <p>Analytics & Trend Report </p>
                        <p>Knowledge Portal & content </p>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-8 text-right">
                            <button type="submit" class="btn account" routerLink="/payment">SUBSCRIBE NOW</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- plan 2 -->
            <!-- plan 3 -->
            <div class="col-md-3" [@fadeInAndOut]>
                <div class="subscription-plan">
                    <h1>Premium </h1>
                    <h2>RM 15,000 <span class="divider">/</span><span> Year</span></h2>
                    <div class="plans">
                        <p>61-150 postings</p>
                        <p>Reviews & Ratings</p>
                        <p>Analytics & Trend Report </p>
                        <p>Knowledge Portal & content </p>
                        <p>Premium Positioning of Gigs</p>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-8 text-right">
                            <button type="submit" class="btn account" routerLink="/payment">SUBSCRIBE NOW</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- plan 3 -->
            <div class="col-md-3" [@fadeInAndOut]>
                <div class="subscription-plan">
                    <h1>Platinum </h1>
                    <h2>RM 30,000 <span class="divider">/</span><span> Year</span></h2>
                    <div class="plans">
                        <p>150-250 postings</p>
                        <p>Reviews & Ratings</p>
                        <p>Analytics & Trend Report </p>
                        <p>Knowledge Portal & content </p>
                        <p>Premium Positioning of Gigs</p>
                        <p>Promotional Corporate content and banner</p>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-8 text-right">
                            <button type="submit" class="btn account" routerLink="/payment">SUBSCRIBE NOW</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-5" [@fadeInAndOut]>
                <div class="cutom-package">
                    <p>For customised package, please contact us at <a
                            href="mailto:expert@gigxglobal.com">expert@gigxglobal.com</a></p>
                </div>
            </div>
        </div>
        <!-- subscriptions plans -->


        <!-- subscriptions plans -->
        <div class="row mt-5" *ngIf="type=='talent'">
            <!-- plan 1 -->
            <div class="col-md-4" [@fadeInAndOut]>
                <div class="subscription-plan">
                    <h1>Basic</h1>
                    <h2>RM 100 <span class="divider">/</span><span> Year</span></h2>
                    <div class="plans">

                        <p>Apply Gigs</p>
                        <p>Knowledge Platform</p>
                    </div>

                    <div class="row justify-content-center mt-5">
                        <div class="col-md-8 text-right">
                            <button type="submit" class="btn account" routerLink="/payment">SUBSCRIBE NOW</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- plan 1 -->
            <!-- plan 2 -->
            <div class="col-md-4" [@fadeInAndOut]>
                <div class="subscription-plan">
                    <h1> Standard </h1>
                    <h2>RM 150 <span class="divider">/</span><span> Year</span></h2>
                    <div class="plans">
                        <p>Profiling Reviews</p>
                        <p>Apply Gigs</p>
                        <p>Knowledge Platform</p>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-8 text-right">
                            <button type="submit" class="btn account" routerLink="/payment">SUBSCRIBE NOW</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- plan 2 -->
            <!-- plan 3 -->
            <div class="col-md-4" [@fadeInAndOut]>
                <div class="subscription-plan">
                    <h1>Premium </h1>
                    <h2>RM 250 <span class="divider">/</span><span> Year</span></h2>
                    <div class="plans">

                        <p>Performance Ratings</p>
                        <p>Profiling Reviews</p>
                        <p>Apply Gigs</p>
                        <p>Knowledge Platform</p>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-8 text-right">
                            <button type="submit" class="btn account" routerLink="/payment">SUBSCRIBE NOW</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- plan 3 -->

        </div>
        <!-- subscriptions plans -->
    </div>
</section>