<!-- heADER -->
<app-header></app-header>
<!-- HEADER -->
<section class="login company-registration mt-3 mb-5" [@fadeInAndOut]>
    <div class="container create-account">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center mb-5">POST A GIG
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="postGigForm">
                    <div class="form-group row">
                        <label for="gigTitle" class="col-sm-2 col-form-label">GIG TITLE :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="gig_title" placeholder="Gig Title"
                                [ngClass]="{ 'is-invalid': submitted && f.gig_title.errors }">
                            <div *ngIf="submitted && f.gig_title.errors" class="invalid-feedback">
                                <div *ngIf="f.gig_title.errors.required">Gig Title is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">GIG DESCRIPTION :</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" placeholder="Type here ..." rows="3"
                                formControlName="gig_desc"
                                [ngClass]="{ 'is-invalid': submitted && f.gig_desc.errors }"></textarea>
                            <div *ngIf="submitted && f.gig_desc.errors" class="invalid-feedback">
                                <div *ngIf="f.gig_desc.errors.required">Gig Description is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">INDUSTRY TYPE :</label>
                        <div class="col-sm-10">
                            <select id="exampleFormControlSelect1" class="form-control" placeholder="Industry Type"
                                formControlName="industry_type"
                                [ngClass]="{ 'is-invalid': submitted && f.industry_type.errors }">
                                <option value="" [selected]=true [disabled]="true">Industry type</option>
                                <option *ngFor="let data of IndustryList" [value]="data.industry_id">
                                    {{data.industry_name}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="submitted && f.industry_type.errors" class="invalid-feedback">
                            <div *ngIf="f.industry_type.errors.required">Industry type is required</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">YEARS OF EXPERIENCE
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control" id="exampleFormControlSelect1"
                                placeholder="Select Qualification" formControlName="years_of_exp"
                                [ngClass]="{ 'is-invalid': submitted && f.years_of_exp.errors }">
                                <option value="" [selected]="true" [disabled]="true">Select Years</option>
                                <option value="0"> 0 Year</option>
                                <option value="1"> 1 Year </option>
                                <option value="2"> 2 Years </option>
                                <option value="3"> 3 Years </option>
                                <option value="4"> 4 Years </option>
                                <option value="5"> 5 Years </option>
                                <option value="6"> 6 Years </option>
                                <option value="7"> 7 Years </option>
                                <option value="8"> 8 Years </option>
                                <option value="9"> 9 Years </option>
                                <option value="10"> 10+ Years </option>

                            </select>
                            <div *ngIf="submitted && f.years_of_exp.errors" class="invalid-feedback">
                                <div *ngIf="f.years_of_exp.errors.required">Experience is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">ROLE
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control" id="exampleFormControlSelect1" placeholder="Select Role"
                                formControlName="role" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                                <option value="" [selected]=true [disabled]="true">Select Role</option>
                                <option *ngFor="let data of rolesList" [value]="data.role_id">
                                    {{data.role}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                                <div *ngIf="f.role.errors.required">Role is required
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">REQUIRED SKILLS :
                        </label>
                        <div class="col-sm-10">
                                <type-ahead placeholder="Skills" class="form-control" [suggestions]="skillsList"
                                formControlName="skills" [custom]="true" [multi]="true" idField="skill_id" nameField="skill_name" [complex]="true"
                                [ngClass]="{'is-invalid':f.skills.errors&& submitted}"
                             >
                           </type-ahead>
                            <div *ngIf="submitted && f.skills.errors" class="invalid-feedback">
                                <div *ngIf="f.skills.errors.required">Skills are required</div>
                            </div>
                        </div>
                    </div>

                    <h2>LOCATION</h2>
                    <div class="row mt-3">
                        <!-- required skills -->
                        <div class="col-md-6 mt-3">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">COUNTRY
                                </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="exampleFormControlSelect1"
                                        formControlName="country" (change)="changeCountryList($event.target.value)"
                                        [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                                        <option [value]=null [selected]=true [disabled]="true">Select Country </option>
                                        <option *ngFor="let data of CountiresList" [value]="data.country_id">
                                            {{data.country_name}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                        <div *ngIf="f.country.errors.required">Country is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">CITY
                                </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="exampleFormControlSelect1" formControlName="city"
                                        [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                                        <option [value]=null [selected]="true">Select City </option>
                                        <option *ngFor="let data of citiesList" [value]="data.city_id"> {{data.city}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                        <div *ngIf="f.city.errors.required">City is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- required skills -->
                        <div class="col-md-6 mt-3">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">STATE
                                </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="exampleFormControlSelect1" formControlName="state"
                                    [ngClass]="{ 'is-invalid': submitted && f.state.errors }"
                                        (change)="changeStateList($event.target.value)">
                                        <option [value]=null [selected]="true">Select State </option>
                                        <option *ngFor="let data of statesList" [value]="data.state_id"> {{data.state}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                        <div *ngIf="f.state.errors.required">State is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">JOB LOCATION
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="inputPassword" placeholder="Job Location"
                                        formControlName="location"
                                        [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
                                    <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                                        <div *ngIf="f.location.errors.required">Job Location is required</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- required skills -->
                    </div>
                    <h2>PROJECT DETAILS</h2>
                    <div class="form-group row mt-3">
                        <label for="inputPassword" class="col-sm-3 col-form-label">TYPE OF PROJECTS :</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="exampleFormControlSelect1"
                                placeholder="Select Qualification" formControlName="type_of_project"
                                [ngClass]="{ 'is-invalid': submitted && f.type_of_project.errors }">
                                <option value="" [selected]="true" [disabled]="true">Select Type</option>
                                <option value="Full Time">Full Time</option>
                                <option value="Part Time">Part Time</option>
                            </select>
                            <div *ngIf="submitted && f.type_of_project.errors" class="invalid-feedback">
                                <div *ngIf="f.type_of_project.errors.required">Type of project is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">NO OF VACANCIES :</label>
                        <div class="col-sm-9">
                            <input type="text" myNumberOnly class="form-control" formControlName="no_of_vacancies"
                                placeholder="No of Vacancies"
                                [ngClass]="{ 'is-invalid': submitted && f.no_of_vacancies.errors }">
                            <div *ngIf="submitted && f.no_of_vacancies.errors" class="invalid-feedback">
                                <div *ngIf="f.no_of_vacancies.errors.required">No of Vacancies is required</div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">PROJECT START DATE
                                    :</label>
                                <div class="col-sm-6">
                                    <my-date-picker name="project_start_date" formControlName="project_start_date" (dateChanged)="onProjectStartDateChanged($event)"
                                        [options]="projectStartDateOptions" placeholder="28/08/2020">
                                    </my-date-picker>
                                    <div *ngIf="submitted && f.project_start_date.errors" class="custom-invalid-feedback">
                                            <div *ngIf="f.project_start_date.errors.required">Project Start Date is
                                                required</div>
                                        </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">PROJECT END DATE
                                    :</label>
                                <div class="col-sm-6">
                                    <my-date-picker name="project_end_date" formControlName="project_end_date" (dateChanged)="onProjectEndDateChanged($event)"
                                        [options]="projectEndDateOptions" placeholder="28/08/2020">
                                    </my-date-picker>
                                    <div *ngIf="submitted && f.project_end_date.errors" class="custom-invalid-feedback">
                                            <div *ngIf="f.project_end_date.errors.required">Project End Date is
                                                required</div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- hiring process -->
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">PROJECT PROCESS
                            :</label>
                        <div class="col-sm-9">
                            <div class="custom-control custom-radio custom-control-inline"
                                >
                                <input type="radio" formControlName="project_process"  id="customRadioInline9" 
                                    class="custom-control-input" value="Individual" [checked]='true'>
                                <label class="custom-control-label" for="customRadioInline9">Individual</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline"
                                >
                                <input type="radio" formControlName="project_process" id="customRadioInline10" value="Team Project"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline10">Team Project</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">PROJECT TYPE
                            :</label>
                        <div class="col-sm-9">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="type1" class="custom-control-input"
                                    value="Local / Domestic Project" formControlName="project_type" [checked]='true'>
                                <label class="custom-control-label" for="type1">Local / Domestic
                                    Project</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" formControlName="project_type" id="type2" 
                                value="Global / International" 
                                    class="custom-control-input">
                                <label class="custom-control-label" for="type2">Global /
                                    International</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">MODE OF ENGAGEMENT
                            :</label>
                        <div class="col-sm-9">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" formControlName="mode_of_engagement" id="incountry" 
                                    class="custom-control-input" value="Contract in country" [checked]='true'>
                                <label class="custom-control-label" for="incountry">Contract in country</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="remotelocation" formControlName="mode_of_engagement"
                                 value="Contract Remote Location"  class="custom-control-input">
                                <label class="custom-control-label" for="remotelocation">Contract Remote
                                    Location</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">EXCLUSIVITY :
                        </label>
                        <div class="col-sm-9">
                            <div class="custom-control custom-radio custom-control-inline"
                              >
                                <input type="radio" id="exclusivity_yes" formControlName="exclusivity"
                                    class="custom-control-input" value="Yes" [checked]='true'>
                                <label class="custom-control-label" for="exclusivity_yes">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline"
                              >
                                <input type="radio" id="exclusivity_no" formControlName="exclusivity" value="No" 
                                    class="custom-control-input">
                                <label class="custom-control-label" for="exclusivity_no">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">PROJECT MILESTONE :</label>
                        <div class="col-sm-9">
                            <div class="custom-control custom-radio custom-control-inline"
                                (change)="changeMileStone($event.target.value)" >
                                <input type="radio" id="milestone_yes" 
                                    class="custom-control-input" value="Yes" formControlName="project_milestone">
                                <label class="custom-control-label" for="milestone_yes">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline"
                                (change)="changeMileStone($event.target.value)">
                                <input type="radio" id="milestone_no" value="No" 
                                    class="custom-control-input" [checked]='true' formControlName="project_milestone">
                                <label class="custom-control-label" for="milestone_no">No</label>
                            </div>

                            <div *ngIf="submitted && !isMileStoneInfoValid && this.f.project_milestone.value == 'Yes'" class="custom-invalid-feedback">
                                    <div>Atleast one Milestone info is
                                        required</div>
                                </div>
                        </div>
                    </div>
                    <div class="mile-stone-list container" [formGroup]="mileStoneForm"  *ngIf="showMileStoneInputs == true">
                            
                            <div style="background: #fafafa; margin-bottom: 1rem;" *ngFor="let mileStone of projectMileStones;  let i = index">
                                <div class="">
                                        <h2>PROJECT MILESTONE : {{i + 1}} <i class="fa fa-times-circle delete-icon"
                                            (click)="removeMileStone(i)"></i> </h2> 
                                </div>
                                <div class="row col-sm-12">
                                    <label class="col-sm-2 col-form-label">TITLE:</label>
                                    <label class="col-sm-4 col-form-label">{{mileStone.milestone_title}}</label>    
                                    
                                    <label class="col-sm-2 col-form-label">PRICE:</label>
                                    <label class="col-sm-4 col-form-label">{{mileStone.milestone_price}}</label>
                                </div>

                                <div class="row  col-sm-12">
                                        <label class="col-sm-2 col-form-label">START DATE:</label>
                                        <label class="col-sm-4 col-form-label">{{mileStone.milestone_start_date}}</label>
    
                                        <label class="col-sm-2 col-form-label">END DATE:</label>
                                        <label class="col-sm-4 col-form-label"> {{mileStone.milestone_end_date}}</label>

                                       
                                    </div>

                                <div class="row  col-sm-12">
                                        <label class="col-sm-2 col-form-label">DESCRIPTION:</label>
                                        <label class="col-sm-8 col-form-label"> {{mileStone.milestone_description}}</label>
                                </div>
                            </div>


                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">MILESTONE TITLE:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="milestone_title"
                                    placeholder="Mile Stone Title"
                                    [ngClass]="{ 'is-invalid': submitted_MS && f_ms.milestone_title.errors }">
                                <div *ngIf="submitted_MS && f_ms.milestone_title.errors" class="invalid-feedback">
                                    <div *ngIf="f_ms.milestone_title.errors.required">Mile Stone Price is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">MILESTONE DESCRIPTION :
                            </label>
                            <div class="col-sm-9">
                                <!-- <textarea  -->
                                <textarea type="text" class="form-control" placeholder="Type here ..." rows="3"
                                    formControlName="milestone_desc"
                                    [ngClass]="{ 'is-invalid': submitted_MS && f_ms.milestone_desc.errors }"></textarea>
                                <div *ngIf="submitted_MS && f_ms.milestone_desc.errors" class="invalid-feedback">
                                    <div *ngIf="f_ms.milestone_desc.errors.required">MileStone Description is
                                        required</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">MILESTONE START
                                        DATE:</label>
                                    <div class="col-sm-6">
                                        <my-date-picker name="mydate1"  formControlName="milestone_start_date" (dateChanged)="onMLStartDateChanged($event)"
                                            [options]="MLStartDateOptions" placeholder="28/08/2020"
                                            [ngClass]="{ 'is-invalid': submitted_MS && f_ms.milestone_start_date.errors }">
                                        </my-date-picker>
                                        <div *ngIf="submitted_MS && f_ms.milestone_start_date.errors" class="custom-invalid-feedback">
                                                <div *ngIf="f_ms.milestone_start_date.errors.required">MileStone Start Date is
                                                    required</div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">MILESTONE END
                                        DATE:</label>
                                    <div class="col-sm-6">
                                        <my-date-picker name="mydate1" formControlName="milestone_end_date" (dateChanged)="onMLEndDateChanged($event)"
                                            [options]="MLEndDateOptions" placeholder="28/08/2020"
                                            [ngClass]="{ 'is-invalid': submitted_MS && f_ms.milestone_end_date.errors }">
                                        </my-date-picker>
                                        <div *ngIf="submitted_MS && f_ms.milestone_end_date.errors" class="custom-invalid-feedback">
                                                <div *ngIf="f_ms.milestone_end_date.errors.required">MileStone End Date is
                                                    required</div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">CURRENCY:</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="exampleFormControlSelect1"
                                            formControlName="milestone_currency"
                                            [ngClass]="{ 'is-invalid': submitted_MS && f_ms.milestone_currency.errors }">
                                            <option value="" selected disabled>Select Currency</option>
                                            <option value="USD">USD</option>
                                            <option value="RM">RM</option>
                                        </select>
                                        <div *ngIf="submitted_MS && f_ms.milestone_currency.errors" class="invalid-feedback">
                                            <div *ngIf="f_ms.milestone_currency.errors.required">Currency is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">MILESTONE PRICE:</label>
                                    <div class="col-sm-6">
                                        <input type="text" myNumberOnly class="form-control" formControlName="milestone_price"
                                            placeholder="Mile Stone Price"
                                            [ngClass]="{ 'is-invalid': submitted_MS && f_ms.milestone_price.errors }">
                                        <div *ngIf="submitted_MS && f_ms.milestone_price.errors" class="invalid-feedback">
                                            <div *ngIf="f_ms.milestone_price.errors.required">Mile Stone Price is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-right mb-5">
                            <div class="col-md-9"></div>
                            <div class="col-md-3">
                                <button type="button" (click)="onAddMilestoneClick()">ADD TO MILESTONE</button>
                            </div>
                            <!-- <div class="col-md-4">
                                <button class="add-more" type="submit()">+ ADD ANOTHER MILESTONE</button>
                            </div> -->
                        </div>
                    </div>

                    <div class="form-group hiring row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">MODE OF PROJECT KICK OFF : </label>
                        <div class="col-sm-9">
                            <div class="custom-control custom-checkbox custom-control-inline" *ngFor="let option of modeOfKickOffProjects">
                                <input type="checkbox" class="custom-control-input" value="{{option.value}}"
                                [(ngModel)]="option.checked" [ngModelOptions]="{standalone: true}" [id]="option.value">
                                <label class="custom-control-label" [for]="option.value">{{option.value}}</label>
                            </div>
                            <!-- <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" value="Video" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">Video</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" value="Conference Call Interview"
                                    id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">Conference Call Interview</label>
                            </div> -->
                            <div *ngIf="submitted && !validateModeOfKickOffProjects()" class="custom-invalid-feedback">
                                    <div>Mode of Project Kick off is required</div>
                                </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">PROJECT OWNER :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="project_owner"
                                placeholder="Project Owner"
                                [ngClass]="{ 'is-invalid': submitted && f.project_owner.errors }">
                            <div *ngIf="submitted && f.project_owner.errors" class="invalid-feedback">
                                <div *ngIf="f.project_owner.errors.required">Project Owner is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">KEY DELIVERABLES :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="key_deliverables" placeholder="Key Deliverables"
                                [ngClass]="{ 'is-invalid': submitted && f.key_deliverables.errors }">
                            <div *ngIf="submitted && f.key_deliverables.errors" class="invalid-feedback">
                                <div *ngIf="f.key_deliverables.errors.required">Key Deliverables is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">PAYMENT :</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="exampleFormControlSelect1" formControlName="payment_currency"
                                [ngClass]="{ 'is-invalid': submitted && f.payment_currency.errors }">
                                <option value='' selected disabled>Select Currency</option>
                                <option value="USD">USD</option>
                                <option value="RM">RM</option>
                            </select>
                            <div *ngIf="submitted && f.payment_currency.errors" class="invalid-feedback">
                                <div *ngIf="f.payment_currency.errors.required">Currency is required</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" myNumberOnly class="form-control" formControlName="payment_price" placeholder="Price"
                                [ngClass]="{ 'is-invalid': submitted && f.payment_price.errors }">
                            <div *ngIf="submitted && f.payment_price.errors" class="invalid-feedback">
                                <div *ngIf="f.payment_price.errors.required">Price is required</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" id="payment_type" formControlName="payment_type"
                                [ngClass]="{ 'is-invalid': submitted && f.payment_type.errors }"
                                placeholder="Select Payment Type">
                                <option value="" [selected]="true" [disabled]="true">Select Payment Type</option>
                                <option value="Per Hour">Per Hour</option>
                                <option value="Per Project">Per Project</option>
                            </select>
                            <div *ngIf="submitted && f.payment_type.errors" class="invalid-feedback">
                                <div *ngIf="f.payment_type.errors.required">Payment Type is required</div>
                            </div>
                        </div>
                    </div>
                    <!-- hiring process -->

                    <!-- company details -->



                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck33"
                                formControlName="acceptTerms"
                                [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }">
                            <label class="custom-control-label" for="customCheck33">I agreed to the <span><a
                                        href="">Terms
                                        and Conditions </a></span> and <span><a href="">Privacy Policy
                                    </a></span></label>
                            <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
                                <div *ngIf="f.acceptTerms.errors.required">Accept Terms is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <button type="button" class="btn " (click)="onPostAGigSubmit()">POST A GIG</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>