<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand" routerLink=""><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="/companydashboard">Home<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/postagig">Post a Gig</a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/talentsearch">Talent Search</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- HEADER -->
<section class="login company-registration mt-3 mb-5" [@fadeInAndOut]>
    <div class="container create-account">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center mb-5">POST A GIG
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="postGigForm">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">GIG DESCRIPTION :</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" placeholder="Type here ..." rows="3"
                                formControlName="gigdescription"
                                [ngClass]="{ 'is-invalid': submitted && f.gigdescription.errors }"></textarea>
                            <div *ngIf="submitted && f.gigdescription.errors" class="invalid-feedback">
                                <div *ngIf="f.gigdescription.errors.required">Gig Description is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">INDUSTRY TYPE :</label>
                        <div class="col-sm-10">
                            <select id="exampleFormControlSelect1" class="form-control" placeholder="Industry Type"
                                formControlName="industry_type"
                                [ngClass]="{ 'is-invalid': submitted && f.industry_type.errors }">
                                <option value="" [selected]=true [disabled]="true">Industry type</option>
                                <option *ngFor="let data of IndustryList" [value]="data.industry_id">
                                    {{data.industry_name}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="submitted && f.industry_type.errors" class="invalid-feedback">
                            <div *ngIf="f.industry_type.errors.required">Industry type is required</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">YEARS OF EXPERIENCE
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control" id="exampleFormControlSelect1"
                                placeholder="Select Qualification" formControlName="yearofexp"
                                [ngClass]="{ 'is-invalid': submitted && f.yearofexp.errors }">
                                <option value="" [selected]="true" [disabled]="true">Select Years</option>
                                <option value="0"> 0 Year</option>
                                <option value="1"> 1 Year </option>
                                <option value="2"> 2 Years </option>
                                <option value="3"> 3 Years </option>
                                <option value="4"> 4 Years </option>
                                <option value="5"> 5 Years </option>
                                <option value="6"> 6 Years </option>
                                <option value="7"> 7 Years </option>
                                <option value="8"> 8 Years </option>
                                <option value="9"> 9 Years </option>
                                <option value="10"> 10+ Years </option>

                            </select>
                            <div *ngIf="submitted && f.yearofexp.errors" class="invalid-feedback">
                                <div *ngIf="f.yearofexp.errors.required">Experience is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">ROLE
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control" id="exampleFormControlSelect1" placeholder="Select Role"
                                formControlName="role" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                                <option value="" [selected]=true [disabled]="true">Select Role</option>
                                <option *ngFor="let data of rolesList" [value]="data.role_id">
                                    {{data.role}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                                <div *ngIf="f.role.errors.required">Role is required
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">REQUIRED SKILLS :
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="skills"
                                placeholder="Required Skills"
                                [ngClass]="{ 'is-invalid': submitted && f.skills.errors }">
                            <div *ngIf="submitted && f.skills.errors" class="invalid-feedback">
                                <div *ngIf="f.skills.errors.required">Required Skills is required</div>
                            </div>
                        </div>
                    </div>

                    <h2>LOCATION</h2>
                    <div class="row mt-3">
                        <!-- required skills -->
                        <div class="col-md-6 mt-3">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">COUNTRY
                                </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="exampleFormControlSelect1"
                                        formControlName="country" (change)="changeCountryList($event.target.value)"
                                        [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                                        <option value="" [selected]=true [disabled]="true">Select Country </option>
                                        <option *ngFor="let data of CountiresList" [value]="data.country_id">
                                            {{data.country_name}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                        <div *ngIf="f.country.errors.required">Country is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">CITY
                                </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="exampleFormControlSelect1" formControlName="city"
                                        [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                                        <option [value]="" [selected]="true">Select City </option>
                                        <option *ngFor="let data of citiesList" [value]="data.city_id"> {{data.city}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                        <div *ngIf="f.city.errors.required">City is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- required skills -->
                        <div class="col-md-6 mt-3">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">STATE
                                </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="exampleFormControlSelect1" formControlName="state"
                                        (change)="changeStateList($event.target.value)">
                                        <option [value]="" [selected]="true">Select State </option>
                                        <option *ngFor="let data of statesList" [value]="data.state_id"> {{data.state}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                        <div *ngIf="f.state.errors.required">State is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">JOB LOCATION
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="inputPassword" placeholder=""
                                        formControlName="joblocation"
                                        [ngClass]="{ 'is-invalid': submitted && f.joblocation.errors }">
                                    <div *ngIf="submitted && f.joblocation.errors" class="invalid-feedback">
                                        <div *ngIf="f.joblocation.errors.required">joblocation is required</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- required skills -->
                    </div>
                    <h2>PROJECT DETAILS</h2>
                    <div class="form-group row mt-3">
                        <label for="inputPassword" class="col-sm-3 col-form-label">TYPE OF PROJECTS :</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="exampleFormControlSelect1"
                                placeholder="Select Qualification" formControlName="projecttype"
                                [ngClass]="{ 'is-invalid': submitted && f.projecttype.errors }">
                                <option value="" [selected]="true" [disabled]="true">Select Type</option>
                                <option value="individual">Full Time</option>
                                <option value="individual">Part Time</option>
                            </select>
                            <div *ngIf="submitted && f.projecttype.errors" class="invalid-feedback">
                                <div *ngIf="f.projecttype.errors.required">Type of project is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">RESOURCE AVAILABILITY :</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="availability"
                                placeholder="Resource Count"
                                [ngClass]="{ 'is-invalid': submitted && f.availability.errors }">
                            <div *ngIf="submitted && f.availability.errors" class="invalid-feedback">
                                <div *ngIf="f.availability.errors.required">Availability is required</div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">PROJECT START DATE
                                    :</label>
                                <div class="col-sm-6">
                                    <my-date-picker name="mydate" (dateChanged)="onDateChanged($event)"
                                        [options]="myDateOptions1" placeholder="28/08/2020">
                                    </my-date-picker>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">PROJECT END DATE
                                    :</label>
                                <div class="col-sm-6">
                                    <my-date-picker name="mydate" (dateChanged)="onDateChanged($event)"
                                        [options]="myDateOptions1" placeholder="28/08/2020">
                                    </my-date-picker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- hiring process -->
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">PROJECT PROCESS
                            :</label>
                        <div class="col-sm-9">
                            <div class="custom-control custom-radio custom-control-inline"
                                (change)="changeType1($event)">
                                <input type="radio" id="customRadioInline9" name="customRadioInline8"
                                    class="custom-control-input" value="Individual" [checked]='true'>
                                <label class="custom-control-label" for="customRadioInline9">Individual</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline"
                                (change)="changeType1($event)">
                                <input type="radio" id="customRadioInline10" value="Team Project"
                                    name="customRadioInline8" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline10">Team Project</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">PROJECT TYPE
                            :</label>
                        <div class="col-sm-9">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="type1" name="customRadioInline7" class="custom-control-input"
                                    value="local" [checked]='true'>
                                <label class="custom-control-label" for="type1">Local / Domestic
                                    Project</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="type2" value="global" name="customRadioInline7"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="type2">Global /
                                    International</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">MODE OF ENGAGEMENT
                            :</label>
                        <div class="col-sm-9">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="incountry" name="customRadioInline9"
                                    class="custom-control-input" value="in country" [checked]='true'>
                                <label class="custom-control-label" for="incountry">Contract in country</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="remotelocation" value="remote location"
                                    name="customRadioInline9" class="custom-control-input">
                                <label class="custom-control-label" for="remotelocation">Contract Remote
                                    Location</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">EXCLUSIVITY :
                        </label>
                        <div class="col-sm-9">
                            <div class="custom-control custom-radio custom-control-inline"
                                (change)="changeType1($event)">
                                <input type="radio" id="exclusivity_yes" name="customRadioInline10"
                                    class="custom-control-input" value="Yes" [checked]='true'>
                                <label class="custom-control-label" for="exclusivity_yes">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline"
                                (change)="changeType1($event)">
                                <input type="radio" id="exclusivity_no" value="No" name="customRadioInline10"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="exclusivity_no">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">PROJECT MILESTONE :</label>
                        <div class="col-sm-9">
                            <div class="custom-control custom-radio custom-control-inline"
                                (change)="changeMileStone($event.target.value)">
                                <input type="radio" id="milestone_yes" name="customRadioInline19"
                                    class="custom-control-input" value="Yes">
                                <label class="custom-control-label" for="milestone_yes">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline"
                                (change)="changeMileStone($event.target.value)">
                                <input type="radio" id="milestone_no" value="No" name="customRadioInline19"
                                    class="custom-control-input" [checked]='true'>
                                <label class="custom-control-label" for="milestone_no">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="" *ngIf="showMileStoneInputs == true">
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-6 col-form-label">MILESTONE TITLE:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" formControlName="milestone_title"
                                    placeholder="Mile Stone Price"
                                    [ngClass]="{ 'is-invalid': submitted && f.milestone_title.errors }">
                                <div *ngIf="submitted && f.milestone_title.errors" class="invalid-feedback">
                                    <div *ngIf="f.milestone_title.errors.required">Mile Stone Price is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">MILESTONE DESCRIPTION :
                            </label>
                            <div class="col-sm-9">
                                <!-- <textarea  -->
                                <textarea type="text" class="form-control" placeholder="Type here ..." rows="3"
                                    formControlName="mileStone_Description"
                                    [ngClass]="{ 'is-invalid': submitted && f.mileStone_Description.errors }"></textarea>
                                <div *ngIf="submitted && f.mileStone_Description.errors" class="invalid-feedback">
                                    <div *ngIf="f.mileStone_Description.errors.required">MileStone Description is
                                        required</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">MILESTONE START
                                        DATE:</label>
                                    <div class="col-sm-6">
                                        <my-date-picker name="mydate1" (dateChanged)="onDateChanged1($event)"
                                            [options]="myDateOptions2" placeholder="28/08/2020">
                                        </my-date-picker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">MILESTONE END
                                        DATE:</label>
                                    <div class="col-sm-6">
                                        <my-date-picker name="mydate1" (dateChanged)="onDateChanged1($event)"
                                            [options]="myDateOptions2" placeholder="28/08/2020">
                                        </my-date-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">CURRENCY:</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="exampleFormControlSelect1"
                                            formControlName="currency"
                                            [ngClass]="{ 'is-invalid': submitted && f.currency.errors }">
                                            <option value='' selected disabled>Select Currency</option>
                                            <option value="$">$</option>
                                            <option value="RM">RM</option>
                                        </select>
                                        <div *ngIf="submitted && f.currency.errors" class="invalid-feedback">
                                            <div *ngIf="f.currency.errors.required">Currency is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-6 col-form-label">MILESTONE PRICE:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" formControlName="milestoneprice"
                                            placeholder="Mile Stone Price"
                                            [ngClass]="{ 'is-invalid': submitted && f.milestoneprice.errors }">
                                        <div *ngIf="submitted && f.milestoneprice.errors" class="invalid-feedback">
                                            <div *ngIf="f.milestoneprice.errors.required">Mile Stone Price is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-right mb-5">
                            <div class="col-md-5"></div>
                            <div class="col-md-3">
                                <button type="submit()">ADD TO MILESTONE</button>
                            </div>
                            <div class="col-md-4">
                                <button class="add-more" type="submit()">+ ADD ANOTHER MILESTONE</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group hiring row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">MODE OF PROJECT KICK OFF : </label>
                        <div class="col-sm-9">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" value="In person" id="customCheck5">
                                <label class="custom-control-label" for="customCheck5">In person Interview</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" value="video" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">Video</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" value="conference"
                                    id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">Conference Call Interview</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">PROJECT OWNER :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="projectowner"
                                placeholder="Enter Name"
                                [ngClass]="{ 'is-invalid': submitted && f.projectowner.errors }">
                            <div *ngIf="submitted && f.projectowner.errors" class="invalid-feedback">
                                <div *ngIf="f.projectowner.errors.required">Project Owner is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">KEY DELIVERABLES :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="deliverables" placeholder=""
                                [ngClass]="{ 'is-invalid': submitted && f.deliverables.errors }">
                            <div *ngIf="submitted && f.deliverables.errors" class="invalid-feedback">
                                <div *ngIf="f.deliverables.errors.required">Deliverables is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">PAYMENT :</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="exampleFormControlSelect1" formControlName="currency"
                                [ngClass]="{ 'is-invalid': submitted && f.currency.errors }">
                                <option value='' selected disabled>Select Currencr</option>
                                <option value="$">$</option>
                                <option value="RM">RM</option>
                            </select>
                            <div *ngIf="submitted && f.currency.errors" class="invalid-feedback">
                                <div *ngIf="f.currency.errors.required">Currency is required</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" formControlName="price" placeholder="Price"
                                [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
                            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                                <div *ngIf="f.price.errors.required">Price is required</div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control" id="exampleFormControlSelect1" formControlName="paymenttype"
                                [ngClass]="{ 'is-invalid': submitted && f.paymenttype.errors }">
                                <option value="" selected disabled>Select Payment Type</option>
                                <option value="PerHour">Per Hour</option>
                                <option value="PerProject">Per Project</option>
                            </select>
                            <div *ngIf="submitted && f.paymenttype.errors" class="invalid-feedback">
                                <div *ngIf="f.paymenttype.errors.required">Payment Type is required</div>
                            </div>
                        </div>
                    </div>
                    <!-- hiring process -->

                    <!-- company details -->



                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck33"
                                formControlName="acceptTerms"
                                [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }">
                            <label class="custom-control-label" for="customCheck33">I agreed to the <span><a
                                        href="">Terms
                                        and Conditions </a></span> and <span><a href="">Privacy Policy
                                    </a></span></label>
                            <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
                                <div *ngIf="f.acceptTerms.errors.required">Accept Terms is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <button type="submit" class="btn " (click)="onSubmit()">POST A GIG</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>