<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand" routerLink=""><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="/companydashboard">Home<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/postagig">Post a Gig</a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/talentsearch">Talent Search</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- HEADER -->
<section class="login company-registration mt-3 mb-5" [@fadeInAndOut]>
    <div class="container create-account">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center mb-5">POST A GIG
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="postGigForm">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">TYPE OF GIG : </label>
                        <div class="col-sm-10">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="gigsupto6months" name="typeofgig" class="custom-control-input"
                                    formControlName="typeofgig" value="gigsupto6months">
                                <label class="custom-control-label" for="gigsupto6months">Gigs upto 6 Months
                                </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="gigsupto1year" name="typeofgig" class="custom-control-input"
                                    formControlName="typeofgig" value="gigsupto1year">
                                <label class="custom-control-label" for="gigsupto1year">Gigs upto 1 Year
                                </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="contractof1year" name="typeofgig" class="custom-control-input"
                                    formControlName="typeofgig" value="contractof1year">
                                <label class="custom-control-label" for="contractof1year">Contract of more than one
                                    year</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="fulltime" name="typeofgig" class="custom-control-input"
                                    formControlName="typeofgig" value="fulltime">
                                <label class="custom-control-label" for="fulltime">Full Time</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">DESIGNATION :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPassword"
                                placeholder="Software Engineer / Marketing / Sales Executive etc ..."
                                formControlName="designation"
                                [ngClass]="{ 'is-invalid': submitted && f.designation.errors }">
                            <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                                <div *ngIf="f.designation.errors.required">Designation is required</div>
                            </div>
                        </div>
                    </div>
                    <h2>REQUIRED ELIGIBILITY CRITERIA</h2>
                    <div class="row mt-3">
                        <!-- required skills -->
                        <div class="col-md-6 mt-3">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">QUALIFICATION ELIGIBILITY
                                </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="exampleFormControlSelect1"
                                        placeholder="Select Qualification" formControlName="qualificationeligibility"
                                        [ngClass]="{ 'is-invalid': submitted && f.qualificationeligibility.errors }">
                                        <option selected disabled>Select Qualification </option>
                                        <option value=""></option>
                                        <option value="company">Bachelor's degree </option>
                                        <option value="individual"> Graduation</option>
                                    </select>
                                    <div *ngIf="submitted && f.qualificationeligibility.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="f.qualificationeligibility.errors.required">Qualification is
                                            required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">YEAR OF GRADUATION
                                </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="exampleFormControlSelect1"
                                        placeholder="Select Qualification" formControlName="yearofgraduation"
                                        [ngClass]="{ 'is-invalid': submitted && f.yearofgraduation.errors }">
                                        <option value=""></option>
                                        <option value="individual"> 2019</option>
                                        <option value="company">2018 </option>
                                        <option value="company">2017 </option>
                                        <option value="company">2016 </option>
                                    </select>
                                    <div *ngIf="submitted && f.yearofgraduation.errors" class="invalid-feedback">
                                        <div *ngIf="f.yearofgraduation.errors.required">year of graduation is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">HIGHEST QUALIFICATION
                                </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="exampleFormControlSelect1"
                                        placeholder="Select Qualification" formControlName="highestqualification"
                                        [ngClass]="{ 'is-invalid': submitted && f.highestqualification.errors }">
                                        <option value=""></option>
                                        <option selected disabled>Select Higest Qualification </option>
                                        <option value="company">Bachelor's degree </option>
                                        <option value="individual"> Graduation</option>
                                    </select>
                                    <div *ngIf="submitted && f.highestqualification.errors" class="invalid-feedback">
                                        <div *ngIf="f.highestqualification.errors.required">Highest Qualification is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- required skills -->
                        <div class="col-md-6 mt-3">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">JOB LOCATION
                                </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="exampleFormControlSelect1"
                                        placeholder="Select Qualification" formControlName="joblocation"
                                        [ngClass]="{ 'is-invalid': submitted && f.joblocation.errors }">
                                        <option value=""></option>
                                        <option selected disabled>Select Qualification </option>
                                        <option value="company">Bachelor's degree </option>
                                        <option value="individual"> Graduation</option>

                                    </select>
                                    <div *ngIf="submitted && f.joblocation.errors" class="invalid-feedback">
                                        <div *ngIf="f.joblocation.errors.required">joblocation is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-6 col-form-label">CGPA
                                    :</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="inputPassword" placeholder="/10"
                                        formControlName="cgpa" [ngClass]="{ 'is-invalid': submitted && f.cgpa.errors }">
                                    <div *ngIf="submitted && f.cgpa.errors" class="invalid-feedback">
                                        <div *ngIf="f.cgpa.errors.required">cgpa is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- required skills -->
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">SKILLS :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                placeholder="Ex - java, C++ , Sales , BPO , Communication Skills etc."
                                formControlName="skills" [ngClass]="{ 'is-invalid': submitted && f.skills.errors }">
                            <div *ngIf="submitted && f.skills.errors" class="invalid-feedback">
                                <div *ngIf="f.skills.errors.required">skills are required</div>
                            </div>
                        </div>
                    </div>
                    <!-- experience criteria -->
                    <div class="form-group row">

                        <div class="col-sm-6 experience offset-md-6">
                            <button type="submit">ADD EXPERIENCE CRITERIA +</button>
                        </div>
                    </div>
                    <!-- experience criteria -->
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">JOB DESCRIPTION :</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" placeholder="Type here ..." rows="7"
                                formControlName="jobdescription"
                                [ngClass]="{ 'is-invalid': submitted && f.jobdescription.errors }"></textarea>
                            <div *ngIf="submitted && f.jobdescription.errors" class="invalid-feedback">
                                <div *ngIf="f.jobdescription.errors.required">Job Description is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">MONTHLY SALARY :</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="Min."
                                        formControlName="monthlysalmin"
                                        [ngClass]="{ 'is-invalid': submitted && f.monthlysalmin.errors }">
                                    <div *ngIf="submitted && f.monthlysalmin.errors" class="invalid-feedback">
                                        <div *ngIf="f.monthlysalmin.errors.required">Monthly salary minimum is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="Max."
                                        formControlName="monthlysalmax"
                                        [ngClass]="{ 'is-invalid': submitted && f.monthlysalmax.errors }">
                                    <div *ngIf="submitted && f.monthlysalmax.errors" class="invalid-feedback">
                                        <div *ngIf="f.monthlysalmax.errors.required">Monthly salary maximum is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">HIDE SALARY TO APPLICANTS</label>
                            </div>
                        </div>
                    </div>
                    <!-- hiring process -->
                    <div class="form-group hiring row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">HIRING PROCESS : </label>
                        <div class="col-sm-10">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" value="facetoface"
                                    id="customCheck5" formControlName="hiringprocess">
                                <label class="custom-control-label" for="customCheck5">Face to Face</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" value="writtentest"
                                    id="customCheck2" formControlName="hiringprocess">
                                <label class="custom-control-label" for="customCheck2">Written-Test</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" value="telephonic"
                                    id="customCheck3" formControlName="hiringprocess">
                                <label class="custom-control-label" for="customCheck3">Telephonic</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" value="groupdiscussion"
                                    id="customCheck4" formControlname="hiringprocess">
                                <label class="custom-control-label" for="customCheck4">Group Discussion</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" value="walkin" id="customCheck6" formControlname="hiringprocess">
                                <label class="custom-control-label" for="customCheck6">Walk In</label>
                            </div>
                        </div>
                    </div>
                    <!-- hiring process -->

                    <!-- company details -->

                    <h2 class="mt-5">ENTER THE CAPTCHA TEXT SHOWN IN THE IMAGE</h2>
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-6">
                            <div class="recapcha">
                                <re-captcha></re-captcha>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck33"
                                formControlName="acceptTerms"
                                [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }">
                            <label class="custom-control-label" for="customCheck33">I agreed to the <span><a
                                        href="">Terms
                                        and Conditions </a></span> and <span><a href="">Privacy Policy
                                    </a></span></label>
                            <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
                                <div *ngIf="f.acceptTerms.errors.required">Accept Terms is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <button type="submit" class="btn " (click)="onSubmit()">POST A GIG</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>