<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand" routerLink=""><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="/talentdashboard">Home<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/createajobalert">Create a Gig Alert</a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/jobsearch">Gig Serach</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- HEADER -->
<section class="login company-registration mt-3 mb-5">
    <div class="container create-account">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center mb-5"> GIG AlERTS
                </h1>
            </div>
        </div>
        <!-- serach talent -->
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="input-group button-search mb-3">
                    <input type="text" class="form-control" placeholder="UX / UI designer"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><img
                                src="../../../assets/images/search.png"></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- search talent -->
        <div class="row mt-3">

            <!-- search details -->
            <div class="col-md-12 search-results">

                <div class="row justify-content-center">
                    <!-- job preview -->
                    <div class="col-md-10 mt-3" *ngIf="Showalert1">
                        <div class=" talent-result ">

                            <div class="row">
                                <!-- job details -->
                                <div class="col-md-8">

                                    <p><span class="text-color-light">Keywords</span> : PHP,HTMLJAVASCRIPT</p>
                                    <p><span class="text-color-light">Experience</span> : 4yr(s)</p>
                                    <p><span class="text-color-light">Expected Salary</span> : 6 lakh(s)</p>
                                    <p><span class="text-color-light">Location</span> : Hyderabad / Secunderabad</p>
                                    <p><span class="text-color-light">Industry</span> : IT Software Services</p>
                                    <p><span class="text-color-light">Gig Category</span> : IT Software - All Jobs</p>
                                    <p><span class="text-color-light">Role </span> : Software Developer</p>

                                    <p><span class="text-color-light">Email </span> : johnpark@gmail.com</p>

                                </div>
                                <!-- job details -->
                                <!-- apply job -->
                                <div class="col-md-4 text-right">
                                    <button class="btn invite-job text-right" (click)="hide1()"> <span><img
                                                src="../../../assets/images/cancel-button.png"></span></button>
                                    <button class="btn review" routerLink="/createajobalert">MODIFY</button>
                                </div>
                                <!-- apply job -->
                            </div>


                        </div>
                    </div>
                    <!-- job preview -->
                    <div class="col-md-10 mt-3" *ngIf="Showalert2">
                        <div class=" talent-result ">

                            <div class="row">
                                <!-- job details -->
                                <div class="col-md-8">

                                    <p><span class="text-color-light">Keywords</span> : PHP,HTMLJAVASCRIPT</p>
                                    <p><span class="text-color-light">Experience</span> : 4yr(s)</p>
                                    <p><span class="text-color-light">Expected Salary</span> : 6 lakh(s)</p>
                                    <p><span class="text-color-light">Location</span> : Hyderabad / Secunderabad</p>
                                    <p><span class="text-color-light">Industry</span> : IT Software Services</p>
                                    <p><span class="text-color-light">Gig Category</span> : IT Software - All Jobs</p>
                                    <p><span class="text-color-light">Role </span> : Software Developer</p>

                                    <p><span class="text-color-light">Email </span> : johnpark@gmail.com</p>

                                </div>
                                <!-- job details -->
                                <!-- apply job -->
                                <div class="col-md-4 text-right">
                                    <button class="btn invite-job text-right" (click)="hide2()"> <span><img
                                                src="../../../assets/images/cancel-button.png"></span></button>
                                    <button class="btn review" routerLink="/createajobalert">MODIFY</button>
                                </div>
                                <!-- apply job -->
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <!-- search details -->
        </div>



        <nav aria-label="Page navigation example ">
            <ul class="pagination justify-content-end mt-5">

                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>

            </ul>
        </nav>
    </div>






    <!-- <div class="container">

        <div class="bars">

            <div class="progress--circle progress--25">
                <div class="progress__number">25%</div>
            </div>

            <div class="progress--circle progress--50">
                <div class="progress__number">50%</div>
            </div>

            <div class="progress--circle progress--75">
                <div class="progress__number">75%</div>
            </div>

            <div class="progress--circle progress--100">
                <div class="progress__number">100%</div>
            </div>


        </div>

    </div> -->











</section>