<!-- heADER -->
<app-header></app-header>
<!-- HEADER -->
<section [@fadeInAndOut] class="login company-registration mt-3 mb-5">
    <div class="container create-account">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center mb-5 mt-5">CREATE YOUR ACCOUNT
                </h1>
                <h3>Get Started for free</h3>

                <form [formGroup]="getStartForm">
                    <div class="form-group mt-5">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder=" Email" formControlName="email" maxlength="50"
                            [ngClass]="{'is-invalid':f.email.errors&& submitted}">
                        <div class="invalid-feedback" *ngIf="f.email.errors">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email is invalid</div>
                        </div>
                    </div>
                    <div class="input-group password-group mb-3">
                        <input type="password" class="form-control password-field" placeholder="Create Password"
                            formControlName="password" [ngClass]="{'is-invalid':f.password.errors&& submitted}" maxlength="10"
                            *ngIf="showEye" />
                        <input type="text" class="form-control password-field" placeholder="Create Password"
                            formControlName="password" [ngClass]="{'is-invalid':f.password.errors&& submitted}"
                            *ngIf="!showEye" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" *ngIf="!showEye" type="button"
                                (click)="hidePassword()" id="button-addon2">
                                <img src="../../../assets/images/eye-open.png"></button>
                            <button class="btn btn-outline-secondary" *ngIf="showEye" type="button"
                                (click)="hidePassword()" id="button-addon2">
                                <img src="../../../assets/images/eye-closed.png"></button>
                        </div>
                        <div class="invalid-feedback" *ngIf="f.password.errors">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="start()">GET STARTED</button>
                </form>

            </div>
        </div>
    </div>
</section>