<!-- heADER -->
<app-header></app-header>
<!-- HEADER -->
<section [@fadeInAndOut] class="login company-registration mt-3 mb-5">
    <div class="container create-account">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center mb-5 mt-5">CREATE YOUR ACCOUNT
                </h1>
                <h3>Get Started for free</h3>

                <form [formGroup]="getStartForm" (ngSubmit)="start()">
                    <div class="form-group mt-5">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder=" Email" formControlName="email"
                            [ngClass]="{'is-invalid':f.email.errors&& submit}">
                        <div class="invalid-feedback" *ngIf="f.email.errors">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email is invalid</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" formControlName="password"
                            [ngClass]="{'is-invalid':f.password.errors&& submit}">
                        <div class="invalid-feedback" *ngIf="f.password.errors">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">GET STARTED</button>
                </form>

            </div>
        </div>
    </div>
</section>