<!-- heADER -->
<app-header></app-header>
<!-- HEADER -->
<section class="login company-registration mt-3 mb-5">
    <div class="container create-account">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center mb-5">TALENT SEARCH
                </h1>
            </div>
        </div>
        <!-- serach talent -->
        <!-- <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="input-group button-search mb-3">
                    <input type="text" class="form-control" placeholder="Java Developers"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><img
                                src="../../../assets/images/search.png"></button>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- search talent -->
        <div class="row mt-5">
            <!-- Seaarch filter -->
            <div class="col-md-3 filter-by" [@fadeInAndOut]>
                <!-- <h3>Search Result - 08</h3> -->
                <h5>Filter by</h5>

                <!-- accordian filter -->
                <div class="accordion" id="accordionExample">
                    <!-- all categories -->
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Countries
                                </button>
                                <!-- <input type="button" value="Search" class="btn btn-search" (click)="onSearchClick()"/> -->
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <input type="text" class="form-control" [(ngModel)]="countryName"
                                placeholder="Search County Name" />
                            <div class="card-body">
                                <div class="custom-control custom-checkbox"
                                    *ngFor="let item of countriesList | filter:[{field:'country_name', value: countryName}]">
                                    <input type="checkbox" class="custom-control-input" id="cnt_{{item.country_id}}"
                                        [(ngModel)]="item.checked" (change)="onCountryChange($event)">
                                    <label class="custom-control-label"
                                        for="cnt_{{item.country_id}}">{{item.country_name}} ({{item.count}})</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- all categories -->
                    <!-- University certificate -->

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Industries
                                </button>
                                <!-- <input type="button" value="Search" class="btn btn-search" (click)="onSearchClick()"/> -->
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <input type="text" class="form-control" [(ngModel)]="industryName"
                                placeholder="Search Industry Name" />
                            <div class="card-body">
                                <div class="custom-control custom-checkbox"
                                    *ngFor="let item of industriesList | filter:[{field:'industry_name', value: industryName}]">
                                    <input type="checkbox" class="custom-control-input" id="ind_{{item.industry_id}}"
                                        [(ngModel)]="item.checked" (change)="onIndustryChange($event)" />
                                    <label class="custom-control-label"
                                        for="ind_{{item.industry_id}}">{{item.industry_name}} ({{item.count}})</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- University certificate -->
                    <!-- Emplyoer type -->

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Skills
                                </button>
                                <!-- <input type="button" value="Search" class="btn btn-search" (click)="onSearchClick()"/> -->
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <input type="text" class="form-control" [(ngModel)]="skillName"
                                placeholder="Search Skill Name" />
                            <div class="card-body">
                                <div class="custom-control custom-checkbox"
                                    *ngFor="let item of skillsList | filter:[{field:'skill_name', value: skillName}]">
                                    <input type="checkbox" class="custom-control-input" id="skl_{{item.skill_id}}"
                                        [(ngModel)]="item.checked" (change)="onSkillChange($event)" />
                                    <label class="custom-control-label"
                                        for="skl_{{item.skill_id}}">{{item.skill_name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Emplyoer type -->

                </div>
                <!-- accordian filter -->
            </div>
            <!-- Seaarch filter -->

            <!-- search details -->
            <div class="col-md-9 ">
                <div class="search-results">
                    <div class="row search-category justify-content-center">
                        <div class="col-md-12 text-left">
                            <h1>Filtered Talent Profiles</h1>
                        </div>
                    </div>
                    <div class="row mt-3 filter-section">
                        <div class="col-md-12">
                            <ul>
                                <li [@fadeInAndOut]>
                                    <span class="filter-fileds  " *ngFor="let item of selectedCountries">
                                        {{item.country_name}} <span (click)="onCountryRemoveClick(item)">X</span>
                                    </span>
                                    <span class="filter-fileds  " *ngFor="let item of selectedIndustries">
                                        {{item.industry_name}} <span (click)="onIndustryRemoveClick(item)">X</span>
                                    </span>
                                    <span class="filter-fileds  " *ngFor="let item of selectedSkills">
                                        {{item.skill_name}} <span (click)="onSkillRemoveClick(item)">X</span>
                                    </span>
                                </li>


                            </ul>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="sort-by">
                                <ul>
                                    <li><span>Show</span>
                                        <select class="from-control" (change)="onPaginationDropdownChange($event)">
                                            <option>5</option>
                                            <option>10</option>
                                            <option>15</option>
                                            <option>20</option>
                                        </select>
                                        <span> Per page</span></li>
                                    <!-- <li><span>Sort by</span>
                                <select class="from-control">
                                    <option>Relevence</option>
                                    <option>100% Profie Match</option>
                                    <option>80% Profile Match</option>
                                    <option>50% Profile Match</option>
                                </select>
                            </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- details sorting -->
                    <!-- search results -->
                    <div class="row " [@fadeInAndOut]>
                        <!-- talent preview -->
                        <div class="col-md-12 mt-3"
                            *ngFor="let item of filteredTalentList | paginate: { itemsPerPage: itemsPerPage, currentPage: paginationIndex, totalItems: filteredTalentList.length }">
                            <div class=" talent-result ">

                                <div class="row">
                                    <!-- job details -->
                                    <div class="col-md-8">
                                        <h3>{{item.first_name}} {{item.last_name}}</h3>

                                        <p><img src="../../../assets/images/maps.png" class="maps">
                                            {{item.city}}, {{item.state}}, {{item.country}}
                                        </p>
                                        <p>Mobile Number: <span class="span-info">{{item.mobile}}</span></p>
                                        <p>Email: <span class="span-info">{{item.email}}</span></p>
                                        <p>Skills: <span class="span-info">{{item.skills}}</span></p>
                                        <p *ngIf="item.about_me">About me: <span
                                                class="span-info">{{item.about_me}}</span></p>
                                    </div>
                                    <!-- job details -->
                                    <!-- apply job -->
                                    <div class="col-md-4 text-right" *ngIf="!item.isInviteClicked" (click)="item.isInviteClicked = !item.isInviteClicked">
                                        <button class="btn-invite" >Invite to Gig</button>
                                        <img [src]="item.image" class="img-profile" *ngIf="item.image" onerror="this.style.display='none'">
                                    </div>

                                    <div class="col-md-4 text-right"  *ngIf="item.isInviteClicked">
                                            <select class="from-control" style="width: 100%;" (change)="item.post_id = $event.target.value">
                                                    <option [disabled]="true" value="">Select Gig</option>
                                                    <option *ngFor="let data of postedGigList" [value]="data.post_id">
                                                            {{data.gig_title}}
                                                        </option>
                                            </select>
                                            <div style="width: 100%">
                                            <button class="btn-submit" (click)="onInviteClick(item)"></button>
                                            <button class="btn-cancel" (click)="item.isInviteClicked = !item.isInviteClicked; item.post_id = ''"></button>
                                        </div>
                                            <img [src]="item.image" class="img-profile" *ngIf="item.image" onerror="this.style.display='none'">
                                    </div>
                                    <!-- apply job -->
                                </div>

                                <div class="row">
                                    <div class="row col-md-12 text-right">
                                        <p class="col-md-12 text-right">
                                            <a class="hover-effect"
                                                [routerLink]="['/profiledetails', this.postId, item.talent_id, 6]">
                                                View More Details
                                                <img src="../../../assets/images/right-arrow.png">
                                            </a>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- talent preview -->
                    </div>
                    <!-- search results -->

                    <div class="row" *ngIf="filteredTalentList.length == 0 && selectedCountries.length == 0 && selectedIndustries.length == 0 && selectedSkills.length == 0">
                        <div class="col-md-12 mt-3">
                            <div class="talent-result">
                                <h2 class="text-center">Select filters to get the results</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="filteredTalentList.length == 0 && (selectedCountries.length > 0 || selectedIndustries.length > 0 || selectedSkills.length > 0)">
                            <div class="col-md-12 mt-3">
                                <div class="talent-result">
                                    <h2 class="text-center">No results found</h2>
                                </div>
                            </div>
                        </div>

                </div>
                <div class="row text-center col-md-12 mt-3" style="display: block;"
                    *ngIf="filteredTalentList.length > 0">
                    <pagination-controls (pageChange)="this.paginationIndex = $event">
                    </pagination-controls>
                </div>
            </div>

            <!-- search details -->
        </div>


    </div>

</section>