<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand" routerLink=""><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="/talentdashboard">Home<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/appliedjobs">Applied Gigs</a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/jobsearch">Gig Search</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>

<section [@fadeInAndOut] class="login mt-5">
    <!-- test cat -->
    <div class="container create-account objectives">
        <h3 class="text-center">COMPLETED TESTS</h3>
        <div class="row  mt-5">

            <div class="col-md-10">
                <ul>
                    <li> <a href="#" data-toggle="modal"
                            data-target="#exampleModal">ca115b0a-3af9-436a-bbb4-9bee525b7b5f</a></li>

                    <li> <a href="#" data-toggle="modal"
                            data-target="#exampleModal">ca115b0a-3af9-436a-bbb4-g45657734</a></li>

                    <li> <a href="#" data-toggle="modal"
                            data-target="#exampleModal">ca115b0a-3af9-436a-bbb4-fgwrt34v34</a></li>

                    <li> <a href="#" data-toggle="modal"
                            data-target="#exampleModal">ca115b0a-3af9-436a-bbb4-346364624642</a></li>
                    <li> <a href="#" data-toggle="modal"
                            data-target="#exampleModal">ca115b0a-3af9-436a-bbb4-weyqeryyery</a></li>

                </ul>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade forgot-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header b-0">
                <h5 class="modal-title" id="exampleModalLabel">Test 1</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Battery Name</th>
                            <td>Aptitude</td>
                        </tr>
                        <tr>
                            <th scope="row">Invitation Date</th>
                            <td>12-11-2019</td>
                        </tr>
                        <tr>
                            <th scope="row">Stage Name</th>
                            <td>Stage 01</td>
                        </tr>
                        <tr>
                            <th scope="row">Name</th>
                            <td>Genel Yetenek</td>
                        </tr>
                        <tr>
                            <th scope="row">Score</th>
                            <td>23.68</td>
                        </tr>
                        <tr>
                            <th scope="row">ReportLink</th>
                            <td><a href="https://hrpeak.com/zdyssetd" target="_blank">https://hrpeak.com/zdyssetd"</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Completion Date</th>
                            <td>05-12-2019</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer b-0">
                <div class="w-100 text-center ">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>