<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand" routerLink=""><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="/talentdashboard">Home<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/appliedjobs">Applied Gigs</a>
                    </li>
                    <li class="nav-item login-list">|</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/jobsearch">Gig Search</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>

<section [@fadeInAndOut] class="login mt-5">
    <!-- test cat -->
    <div class="container create-account objectives">
        <h3 class="text-center">COMPLETED TESTS</h3>
        <div class="row  mt-5">

            <div class="col-md-10">
                <ul>
                    <li *ngFor="let item of getCompletedAssessments" (click)="onResultClick(item)"> <a href="#" data-toggle="modal"
                            data-target="#exampleModal">{{item.TrackingNumber}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade forgot-modal" id="exampleModal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog " role="document" >
        <div class="modal-content" *ngIf="assessmentReport.Sets">
            <div class="modal-header b-0 col-md-12" >
                <h5 class="modal-title col-md-8" id="exampleModalLabel">Candidate Assessment</h5>
                <button type="button" class="btn btn-primary col-md-3" *ngIf="assessmentReport.Status == 0" (click)="resumeAssessment()">Start Test</button>
                <button type="button" class="btn btn-primary col-md-3" *ngIf="assessmentReport.Status == 1" (click)="resumeAssessment()">Resume Test</button>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
   

            <div class="modal-body table-responsive">
                <table class="table">
                    <tbody></tbody>
                    <tbody>
                        <tr>
                            <th scope="row">Assessment/Test Name</th>
                            <td>{{assessmentReport.BatteryName}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Invitation Date</th>
                            <td>{{assessmentReport.InvitationDate}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Assessment Type</th>
                            <td>{{assessmentReport.Sets[0].Name}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngFor="let item of assessmentReport.Sets[0].Assessments">
                            <tr>
                                    <th scope="row">Name</th>
                                    <td>{{item.Name}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Score</th>
                                    <td>{{item.Score}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">ReportLink</th>
                                    <td><a [href]="item.ReportLink" target="_blank">{{item.ReportLink}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Completion Date</th>
                                    <td>{{item.CompletionDate}}</td>
                                </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer b-0">
                <div class="w-100 text-center ">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>