<!-- heADER -->
<app-header></app-header>

<!-- HEADER -->
<section class="login company-registration mt-3 mb-5">
    <div class="container create-account talent-profile-details">
        <!-- personal details -->
        <div class="row justify-content-center ">
            <div class="col-md-10 text-center">
                <h1 class="text-center mb-5">{{companyPostDetails.gig_title}}
                </h1>
                <img [src]="companyPostDetails.company_logo" class="img-company" *ngIf="companyPostDetails.company_logo">
                <h3>{{companyPostDetails.company_name}}</h3>
                <p><img src="../../../assets/images/maps.png" class="maps">
                    {{companyPostDetails.city}}, {{companyPostDetails.state}}, {{companyPostDetails.country}}
                </p>



                <ul>
                    <li>
                        <p class="text-color-light">{{getSplitResultValue(companyPostDetails.payment, 0)}}</p>
                        <p class="text-color-light">Currency</p>
                    </li>
                    <li>
                        <p class="text-color-light">{{getSplitResultValue(companyPostDetails.payment, 1)}}</p>
                        <p class="text-color-light">Price</p>
                    </li>
                    <li>
                        <p class="text-color-light">{{getSplitResultValue(companyPostDetails.payment, 2)}} {{getSplitResultValue(companyPostDetails.payment, 3)}}</p>
                        <p class="text-color-light">Payment Type</p>
                    </li>
                    <li>
                        <p class="text-color-light">{{ companyPostDetails.milestones ?  companyPostDetails.milestones.length : 0}}</p>
                        <p class="text-color-light">Milestone Count</p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- personal details -->
        <div class="row  professional-details">
            <div class="col-md-12">
                <h2>Gig Details</h2>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">GIG TITLE</th>
                                <td>{{companyPostDetails.gig_title}}</td>
                            </tr>
                            <tr>
                                <th scope="row">GIG DESCRIPTION</th>
                                <td>{{companyPostDetails.gig_description}}</td>
                            </tr>
                            <tr>
                                <th scope="row">INDUSTRY TYPE</th>
                                <td> {{companyPostDetails.industry}} </td>
                            </tr>
                            <tr>
                                <th scope="row">YEARS OF EXPERIENCE</th>
                                <td>{{companyPostDetails.years_of_experience}} Years</td>
                            </tr>
                            <tr>
                                <th scope="row">ROLE</th>
                                <td>{{companyPostDetails.role}}</td>
                            </tr>
                            <tr>
                                <th scope="row">REQUIRED SKILLS </th>
                                <td>{{companyPostDetails.skills}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h2>LOCATION</h2>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">COUNTRY</th>
                                <td>{{companyPostDetails.country}}</td>
                            </tr>
                            <tr>
                                <th scope="row">STATE</th>
                                <td>
                                        {{companyPostDetails.state}} </td>
                            </tr>
                            <tr>
                                <th scope="row">CITY</th>
                                <td>
                                        {{companyPostDetails.city}} </td>
                            </tr>
                            <tr>
                                <th scope="row">JOB LOCATION</th>
                                <td>
                                        {{companyPostDetails.job_location}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h2>PROJECT DETAILS</h2>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">TYPE OF PROJECTS</th>
                                <td>{{companyPostDetails.type_of_project}}</td>
                            </tr>
                            <tr>
                                <th scope="row">NO OF VACANCIES</th>
                                <td>
                                        {{companyPostDetails.no_of_vacancies}} </td>
                            </tr>
                            <tr>
                                <th scope="row">PROJECT START DATE</th>
                                <td>
                                        {{companyPostDetails.project_start_date}}</td>
                            </tr>
                            <tr>
                                <th scope="row">PROJECT END DATE</th>
                                <td>
                                        {{companyPostDetails.project_end_date}}</td>
                            </tr>
                            <tr>
                                <th scope="row">PROJECT PROCESS</th>
                                <td>  {{companyPostDetails.project_process}}</td>
                            </tr>
                            <tr>
                                <th scope="row">PROJECT TYPE</th>
                                <td>
                                        {{companyPostDetails.project_type}} </td>
                            </tr>
                            <tr>
                                <th scope="row">MODE OF ENGAGEMENT</th>
                                <td>
                                        {{companyPostDetails.mode_of_engagement}} </td>
                            </tr>
                            <tr>
                                <th scope="row">EXCLUSIVITY</th>
                                <td>
                                        {{companyPostDetails.exclusivity}}</td>
                            </tr>
                            <tr>
                                <th scope="row">MODE OF PROJECT KICK OFF</th>
                                <td>
                                        {{companyPostDetails.mode_of_project_kickoff}}</td>
                            </tr>
                            <tr>
                                <th scope="row">PROJECT OWNER</th>
                                <td>
                                        {{companyPostDetails.project_owner}}</td>
                            </tr>
                            <tr>
                                <th scope="row">KEY DELIVERABLES</th>
                                <td>
                                        {{companyPostDetails.key_deliverables}}</td>
                            </tr>
                            <tr>
                                <th scope="row">PAYMENT</th>
                                <td>
                                        {{companyPostDetails.payment}}</td>
                            </tr>
                            <tr>
                                <th scope="row">PROJECT MILESTONE</th>
                                <td>
                                        {{companyPostDetails.project_milestone}}</td>
                            </tr>
                            <tr style="background: #ececec; margin-bottom: 1rem;" *ngFor="let item of companyPostDetails.milestones; let i = index">
                                <th scope="row">PROJECT MILESTONE {{i+1}}</th>
                                <td>
                                    <div class=" milestone table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">TITLE : </th>
                                                    <td>{{item.milestone_title}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">PRICE : </th>
                                                    <td>{{item.milestone_price}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">START DATE:
                                                    </th>
                                                    <td>{{item.milestone_start_date}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">END DATE : </th>
                                                    <td>{{item.milestone_end_date}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">DESCRIPTION:
                                                    </th>
                                                    <td>{{item.milestone_description}}</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12 mt-5 mb-5">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn " (click)="onApplyGigClick()">APPLY NOW</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary" [routerLink]="flag == 1 ? ['/talentdashboard'] : ['/intrestedjobs']">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>