/* You can add global styles to this file, and also import other style files */

body{
    font-family: Muli-Regular;
}
button , input ,textarea ,a{
    box-shadow: none!important;
        outline: none!important;
}
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.b-0{
    border:0px!important;
}
.mydp{height: 50px !important;}
.selbtngroup {
    padding: 15px !important;
}
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #fed501!important ;
    color: #fff;
    padding: 12px;
}
.mydp .selection {
    padding: 22px !important;
}
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    width: 72px !important;
    height: 72px !important;
}
.mat-step-header .mat-step-icon {
    width: 72px !important;
    height: 72px !important;
    background-color: #fed501 !important;
    color: #000;
}
.mat-stepper-horizontal-line {
    border-top-width: 1px;
    border-top-style: dashed!important;
}
.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover {
     background-color: transparent!important; 
}
.mat-horizontal-stepper-header {
    display: block!important;
}
// .mat-step-icon-content{

//     span{
//         display:none;
//     }
// }
// HEADER CSS

