/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: Muli-Black;
    src: url(/assets/fonts/Muli-Black.ttf);
}
@font-face {
    font-family: Muli-Regular;
    src: url(/assets/fonts/Muli-Regular.ttf);
}
@font-face {
    font-family: Muli-Light;
    src: url(/assets/fonts/Muli-Light);
}
body{
    font-family: Muli-Regular;
    overflow-x: hidden!important;
}
a{
    cursor:pointer;
}
.talent-result{
    box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1)!important;
}
.talent-result:hover{
box-shadow: 2px 2px 5px #f2f2f2, 0px 0px 0px #f2f2f2, 0px 0px 0px #f2f2f2!important;
transition: 0.5s;
}
button , input ,textarea ,a{
    box-shadow: none!important;
        outline: none!important;
}
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.login{
    width:100%;
}
.b-0{
    border:0px!important;
}
.mydp{height: 50px !important;}
.selbtngroup {
    padding: 15px !important;
}
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #fed501!important ;
    color: #fff;
    padding: 12px;
}
.mydp .selection {
    padding: 22px !important;
}

.mat-step-header .mat-step-icon {
    width: 72px ;
    height: 72px ;
    background-color: #fed501 !important;
    color: #000;
}
.mat-stepper-horizontal-line {
    border-top-width: 1px;
    border-color:#e6dddd;
    border-top-style: dashed!important;
}
.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover {
     background-color: transparent!important; 
}
.mat-horizontal-stepper-header {
    display: block!important;
}
// .mat-step-icon-content{

//     span{
//         display:none;
//     }
// }
// HEADER CSS


.rc-anchor-alert {
    display: none !important;
}
#rc-anchor-alert, .rc-anchor-alert {
    bottom: 0;
    color:green !important;
    font-size: 13px;
    position: absolute;
    display: none;
    display: none;
}
.dropdown-toggle::after {
    content: "" !important;
    color: black !important;
    width: 0% !important;
    display: inline-block !important; 
    background: none !important;
}
@media (max-width: 1199.98px) { 
    .login{
        width:100%;
    }
    .header-block.carousel-caption-txt  {
	p{
        font-size: 32px;
    }
		
	}
}


@media (max-width: 991.98px) { 
    
    .login-list {
       display: none;
    }
    svg {
        width: 125px!important;
    }
    .mat-step-header .mat-step-icon {
        width: 38px !important;
        height: 38px !important;
        background-color: #fed501 !important;
        color: #000;
        top: 16px!important;
    }
    input{
font-size:14px!important
    }
    select{

    }
    textarea{

    }
    p{
        font-size:14px!important
    }
    span{
        font-size:14px!important
    }
 }
 .form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545 !important;
}
 @media (max-width: 575.98px) { 
   
    body.mat-step-header .mat-step-icon {
        width: 38px !important;
        height: 38px !important;
      
    }
 }