<app-header></app-header>
<section class="login mt-5" [@fadeInAndOut]>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <h1>LOG INTO AN EXISTING ACCOUNT</h1>
            <div class="col-md-8">
                <!-- switch buttons  -->
                <div class="row justify-content-center">
                    <div class="col-md-6 group-buttons">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" (click)="gigx('talent')" class="btn"
                                [ngStyle]="{'background':type=='talent'?'#fed501':''}">GIGX
                                TALENT</button>
                            <button type="button" (click)="gigx('company')"
                                [ngStyle]="{'background':type=='company'?'#fed501':''}" class="btn ">COMPANY</button>
                        </div>
                    </div>

                </div>
                <!-- switch buttons -->
                <div class="row login-form justify-content-center  mt-3">
                    <div class="col-md-8 mt-3">
                        <form [formGroup]="loginForm">
                            <div class="form-group">
                                <input type="email" class="form-control email-field" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Email" formControlName="email"
                                    [ngClass]="{'is-invalid':f.email.errors&& submit}">
                                <div class="invalid-feedback" *ngIf="f.email.errors">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Enter a valid Email</div>
                                </div>
                            </div>
                            <div class="input-group password-group mb-3">
                                <input type="password" class="form-control password-field" placeholder="Password"
                                    formControlName="password" [ngClass]="{'is-invalid':f.password.errors&& submit}"
                                    *ngIf="showEye" />
                                <input type="text" class="form-control password-field" placeholder="Password"
                                    formControlName="password" [ngClass]="{'is-invalid':f.password.errors&& submit}"
                                    *ngIf="!showEye" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" *ngIf="showEye" type="button"
                                        (click)="hidePassword()" id="button-addon2">
                                        <img src="../../../assets/images/eye-open.png"></button>
                                    <button class="btn btn-outline-secondary" *ngIf="!showEye" type="button"
                                        (click)="hidePassword()" id="button-addon2">
                                        <img src="../../../assets/images/eye-closed.png"></button>
                                </div>

                                <div class="invalid-feedback" *ngIf="f.password.errors">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                </div>

                            </div>


                            <div class="form-group forgot-password text-right">
                                <a href="#" data-toggle="modal" data-target="#exampleModal">Forgot Password?</a>
                            </div>
                            <div class="form-group text-center ">
                                <button type="submit" class="btn btn-primary" (click)="login()">LOGIN</button>
                            </div>
                        </form>
                        <div class="row mt-5 new-account">
                            <div class="col-md-7">
                                <p>Don't have an account?</p>
                            </div>
                            <div class="col-md-5 account-sign">
                                <button type="submit" class="btn account" routerLink="/createaccount">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<!-- forgot password -->

<!-- Modal -->
<div class="modal fade forgot-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header b-0">
                <h5 class="modal-title" id="exampleModalLabel">FORGOT PASSWORD</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="forgotForm">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="email" class="form-control email-field" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Email" formControlName="email"
                            [ngClass]="{'is-invalid':f1.email.errors&& submitted}">
                        <div class="invalid-feedback" *ngIf="f1.email.errors">
                            <div *ngIf="f1.email.errors.required">Email is required</div>
                            <div *ngIf="f1.email.errors.email">Enter a valid Email</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer b-0">
                    <div class="w-100 text-center ">
                        <button type="submit" class="btn btn-primary" (click)="forgotPassword()">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- forgot password -->