<!-- heADER -->
<app-header></app-header>
<!-- HEADER -->
<section class="login mt-5" [@fadeInAndOut]>
    <div class="container">
        <h1 class="text-center">CHANGE PASSWORD</h1>
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 lock-image text-center">
                <img src="../../../assets/images/lock-password.png">
            </div>
        </div>
        <div class="row justify-content-center mt-5">

            <div class="col-md-8">
                <div class="row login-form justify-content-center  ">
                    <div class="col-md-8 mt-3">
                        <form [formGroup]="updatePassword">

                            <!-- <div class="form-group">
                                <input type="password" class="form-control password-field" id="exampleInputPassword1"
                                    placeholder="Current Password" formControlName="current_password"
                                    [ngClass]="{ 'is-invalid':submitted&& f.current_password.errors }">
                                <div *ngIf=" submitted && f.current_password.errors" class="invalid-feedback">
                                    <div *ngIf=" submitted && f.current_password.errors.required">Current Password is
                                        required
                                    </div>
                                </div>
                            </div> -->
                            <div class="input-group password-group mb-3">
                                <input type="password" class="form-control password-field"
                                    placeholder="Current Password" formControlName="current_password"
                                    [ngClass]="{ 'is-invalid':submitted&& f.current_password.errors }"
                                    *ngIf="showEye1" />
                                <input type="text" class="form-control password-field" placeholder="Current Password"
                                    formControlName="current_password"
                                    [ngClass]="{ 'is-invalid':submitted&& f.current_password.errors }"
                                    *ngIf="!showEye1" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" *ngIf="!showEye1" type="button"
                                        (click)="hidePassword1()" id="button-addon2">
                                        <img src="../../../assets/images/eye-open.png"></button>
                                    <button class="btn btn-outline-secondary" *ngIf="showEye1" type="button"
                                        (click)="hidePassword1()" id="button-addon2">
                                        <img src="../../../assets/images/eye-closed.png"></button>
                                </div>

                                <div *ngIf=" submitted && f.current_password.errors" class="invalid-feedback">
                                    <div *ngIf=" submitted && f.current_password.errors.required">Current Password is
                                        required
                                    </div>
                                </div>

                            </div>
                            <!-- <div class="form-group">
                                <input type="password" class="form-control password-field" id="exampleInputPassword1"
                                    placeholder="New Password" formControlName="new_password"
                                    [ngClass]="{ 'is-invalid':submitted&& f.new_password.errors }">
                                <div *ngIf=" submitted && f.new_password.errors" class="invalid-feedback">
                                    <div *ngIf=" submitted && f.new_password.errors.required">New Password is
                                        required
                                    </div>
                                </div>
                            </div> -->
                            <div class="input-group password-group mb-3">
                                <input type="password" class="form-control password-field" placeholder="New Password"
                                    formControlName="new_password"
                                    [ngClass]="{ 'is-invalid':submitted&& f.new_password.errors }" *ngIf="showEye2" />
                                <input type="text" class="form-control password-field" placeholder="New Password"
                                    formControlName="new_password"
                                    [ngClass]="{ 'is-invalid':submitted&& f.new_password.errors }" *ngIf="!showEye2" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" *ngIf="!showEye2" type="button"
                                        (click)="hidePassword2()" id="button-addon2">
                                        <img src="../../../assets/images/eye-open.png"></button>
                                    <button class="btn btn-outline-secondary" *ngIf="showEye2" type="button"
                                        (click)="hidePassword2()" id="button-addon2">
                                        <img src="../../../assets/images/eye-closed.png"></button>
                                </div>

                                <div *ngIf=" submitted && f.new_password.errors" class="invalid-feedback">
                                    <div *ngIf=" submitted && f.new_password.errors.required">New Password is
                                        required
                                    </div>
                                </div>

                            </div>
                            <div class="input-group password-group mb-3">
                                <input type="password" class="form-control password-field"
                                    placeholder="Confirm Password" formControlName="confirmpassword"
                                    [ngClass]="{ 'is-invalid':submitted&& f.confirmpassword.errors }"
                                    *ngIf="showEye3" />
                                <input type="text" class="form-control password-field" placeholder="Confirm Password"
                                    formControlName="confirmpassword"
                                    [ngClass]="{ 'is-invalid':submitted&& f.confirmpassword.errors }"
                                    *ngIf="!showEye3" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" *ngIf="!showEye3" type="button"
                                        (click)="hidePassword3()" id="button-addon2">
                                        <img src="../../../assets/images/eye-open.png"></button>
                                    <button class="btn btn-outline-secondary" *ngIf="showEye3" type="button"
                                        (click)="hidePassword3()" id="button-addon2">
                                        <img src="../../../assets/images/eye-closed.png"></button>
                                </div>

                                <div *ngIf=" submitted && f.confirmpassword.errors" class="invalid-feedback">
                                    <div *ngIf=" submitted && f.confirmpassword.errors.required">Confirm Password is
                                        required
                                    </div>
                                </div>

                            </div>
                            <!-- <div class="form-group">
                                <input type="password" class="form-control password-field" id="exampleInputPassword1"
                                    placeholder="Confirm Password" formControlName="confirmpassword"
                                    [ngClass]="{ 'is-invalid':submitted&& f.confirmpassword.errors }">
                                <div *ngIf=" submitted && f.confirmpassword.errors" class="invalid-feedback">
                                    <div *ngIf=" submitted && f.confirmpassword.errors.required">Confirm Password is
                                        required
                                    </div>
                                </div>
                            </div> -->
                            <div class="form-group text-center mt-5">
                                <button type="submit" class="btn btn-primary" (click)="changePassword()">SUBMIT</button>
                            </div>
                        </form>

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>