<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand" routerLink=""><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/jobsearch">Opportunities & Projects</a>
                    </li>



                </ul>
                <span class="navbar-text"> <a href="#" routerLink="/jobalerts"><img
                            src="../../../assets/images/bell.png" class="bell"></a></span>
                <span class="navbar-text">
                    <div class="profile-name">
                        <h4>{{talentFullName}}</h4>
                    </div>
                </span>
                <span class="navbar-text">

                    <div class="dropdown dropdown-button">
                        <a class="nav-item " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{talentPersonalDetails.full_name}} <img src="../../../assets/images/down-arrow.png">
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#" routerLink="/talentaccount">My Profile</a>
                            <a class="dropdown-item" href="#" routerLink="/changepassword">Change Password</a>
                            <a class="dropdown-item" href="#" routerLink="/subscriptions">Subscriptions</a>
                            <a class="dropdown-item" (click)="logout()">Logout</a>

                        </div>
                    </div>
                </span>
            </div>
        </nav>
    </div>
</div>

<!-- HEADER -->


<section class="login company-registration mt-3 mb-5">
    <div class="container create-account">

        <!-- serach talent -->
        <div class="row ">
            <div class="col-md-10">
                <div class="input-group button-search mb-3 mt-3">
                    <input type="text" class="form-control" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><img
                                src="../../../assets/images/search.png"></button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <a href="#" routerLink="/takeatest"> <button class="btn test mb-3 mt-3 anchor-color" type="button"
                        id="button-addon2">Profiling Test</button></a>
            </div>
        </div>
        <!-- search talent -->

        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center mb-3">Welcome, {{talentPersonalDetails.full_name}}!
                </h1>
            </div>
        </div>
    </div>
    <div class="container-fluid" [@fadeInAndOut]>
        <div class="row dashboard">
            <!-- search details -->
            <div class="col-md-8 search-results">

                <!-- search results -->
                <div class="row ">
                    <!-- talent preview -->
                    <div class="col-md-12 mt-3">
                        <div class=" talent-result ">

                            <div class="row">
                                <!-- job details -->
                                <div class="col-md-8">
                                    <h3>Talent Specialist</h3>
                                    <p class="text-color-light">At Versatile Mobitech Pvt. Ltd</p>
                                    <p><img src="../../../assets/images/maps.png" class="maps"> Malaysia Kuala
                                        Lumpur
                                    </p>
                                    <ul>
                                        <li>
                                            <p>Skills : </p>
                                        </li>
                                        <li>
                                            <p>Screening</p>
                                        </li>
                                        <li>
                                            <p>Sourcing </p>
                                        </li>
                                        <li>
                                            <p>Interviewing</p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- job details -->
                                <!-- apply job -->
                                <div class="col-md-4 text-right">
                                    <button class="btn invite-job text-right">Posted :
                                        2days ago</button>
                                    <button class="btn review"><a href="#" routerLink="/jobsearch">VIEW
                                            MORE</a></button>
                                </div>
                                <!-- apply job -->
                            </div>
                            <!-- job description -->
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="details">Employing multiple sourcing strategies for multiple job families
                                        depending on complexity of the position to hire by effectively using sourcing
                                        channels like Naukri, LinkedIn, Internal ATS, and Employee Referrals. Hired Top
                                        Notch Talent for Various Job Families (Software Development Engineers/Data
                                        Engineers, Database Administrators and IT APP Dev Engineers).
                                    </p>
                                </div>
                            </div>
                            <!-- job description -->
                            <!-- package -->
                            <div class="row mt-3 ">
                                <div class="col-md-6">
                                    <p>RM 100 - RM 1,000</p>
                                </div>
                                <div class="col-md-6 featured">
                                    <h4><img src="../../../assets/images/feature.png"> FEATURED</h4>
                                </div>
                            </div>
                            <!-- package -->
                            <!-- more details -->
                            <div class="row">
                                <div class="col-md-12 text-right">

                                    <p>
                                        <a class="hover-effect" data-toggle="collapse" href="#collapseExample1"
                                            role="button" aria-expanded="false" aria-controls="collapseExample1">
                                            View More Details
                                            <img src="../../../assets/images/right-arrow.png">
                                        </a>
                                    </p>
                                    <div class="collapse" id="collapseExample1">
                                        <div class="card card-body">
                                            Handled ERR programs such as LinkedIn programs, Lead generation programs
                                            etc. which helped in quick sourcing of profiles
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- more details -->



                        </div>
                    </div>
                    <!-- talent preview -->
                    <!-- talent preview -->
                    <div class="col-md-12 mt-3">
                        <div class=" talent-result ">

                            <div class="row">
                                <!-- job details -->
                                <div class="col-md-8">
                                    <h3>Talent Specialist</h3>
                                    <p class="text-color-light">At Value Global Services</p>
                                    <p><img src="../../../assets/images/maps.png" class="maps"> Malaysia Kuala
                                        Lumpur
                                    </p>
                                    <ul>
                                        <li>
                                            <p>Skills : </p>
                                        </li>
                                        <li>
                                            <p>Screening</p>
                                        </li>
                                        <li>
                                            <p>Sourcing </p>
                                        </li>
                                        <li>
                                            <p>Interviewing</p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- job details -->
                                <!-- apply job -->
                                <div class="col-md-4 text-right">
                                    <button class="btn invite-job text-right">Posted :
                                        2days ago</button>
                                    <button class="btn review"><a href="#" routerLink="/jobsearch">VIEW
                                            MORE</a></button>
                                </div>
                                <!-- apply job -->


                            </div>
                            <!-- job description -->
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="details">Employing multiple sourcing strategies for multiple job families
                                        depending on complexity of the position to hire by effectively using sourcing
                                        channels like Naukri, LinkedIn, Internal ATS, and Employee Referrals. Hired Top
                                        Notch Talent for Various Job Families (Software Development Engineers/Data
                                        Engineers, Database Administrators and IT APP Dev Engineers).
                                    </p>
                                </div>
                            </div>
                            <!-- job description -->
                            <!-- package -->
                            <div class="row mt-3 ">
                                <div class="col-md-6">
                                    <p>RM 100 - RM 1,000</p>
                                </div>
                                <div class="col-md-6 featured">
                                    <h4><img src="../../../assets/images/feature.png"> FEATURED</h4>
                                </div>
                            </div>
                            <!-- package -->
                            <!-- more details -->
                            <div class="row">
                                <div class="col-md-12 text-right">

                                    <p>
                                        <a class="hover-effect" data-toggle="collapse" href="#collapseExample2"
                                            role="button" aria-expanded="false" aria-controls="collapseExample2">
                                            View More Details
                                            <img src="../../../assets/images/right-arrow.png">
                                        </a>
                                    </p>
                                    <div class="collapse" id="collapseExample2">
                                        <div class="card card-body">
                                            Handled ERR programs such as LinkedIn programs, Lead generation programs
                                            etc. which helped in quick sourcing of profiles
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- more details -->
                        </div>
                    </div>
                    <!-- talent preview -->
                    <!-- talent preview -->
                    <div class="col-md-12 mt-3">
                        <div class=" talent-result ">

                            <div class="row">
                                <!-- job details -->
                                <div class="col-md-8">
                                    <h3>Talent Specialist</h3>
                                    <p class="text-color-light">At Versatile Mobitech Pvt. Ltd</p>
                                    <p><img src="../../../assets/images/maps.png" class="maps"> Malaysia Kuala
                                        Lumpur
                                    </p>
                                    <ul>
                                        <li>
                                            <p>Skills : </p>
                                        </li>
                                        <li>
                                            <p>Screening</p>
                                        </li>
                                        <li>
                                            <p>Sourcing </p>
                                        </li>
                                        <li>
                                            <p>Interviewing</p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- job details -->
                                <!-- apply job -->
                                <div class="col-md-4 text-right">
                                    <button class="btn invite-job text-right">Posted :
                                        2days ago</button>
                                    <button class="btn review"><a href="#" routerLink="/jobsearch">VIEW
                                            MORE</a></button>
                                </div>
                                <!-- apply job -->


                            </div>
                            <!-- job description -->
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="details">Employing multiple sourcing strategies for multiple job families
                                        depending on complexity of the position to hire by effectively using sourcing
                                        channels like Naukri, LinkedIn, Internal ATS, and Employee Referrals. Hired Top
                                        Notch Talent for Various Job Families (Software Development Engineers/Data
                                        Engineers, Database Administrators and IT APP Dev Engineers).
                                    </p>
                                </div>
                            </div>
                            <!-- job description -->
                            <!-- package -->
                            <div class="row mt-3 ">
                                <div class="col-md-6">
                                    <p>RM 100 - RM 1,000</p>
                                </div>
                                <div class="col-md-6 featured">
                                    <h4><img src="../../../assets/images/feature.png"> FEATURED</h4>
                                </div>
                            </div>
                            <!-- package -->
                            <!-- more details -->
                            <div class="row">
                                <div class="col-md-12 text-right">

                                    <p>
                                        <a class="hover-effect" data-toggle="collapse" href="#collapseExample3"
                                            role="button" aria-expanded="false" aria-controls="collapseExample3">
                                            View More Details
                                            <img src="../../../assets/images/right-arrow.png">
                                        </a>
                                    </p>
                                    <div class="collapse" id="collapseExample3">
                                        <div class="card card-body">
                                            Handled ERR programs such as LinkedIn programs, Lead generation programs
                                            etc. which helped in quick sourcing of profiles
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- more details -->
                        </div>
                    </div>
                    <!-- talent preview -->
                    <!-- talent preview -->
                    <div class="col-md-12 mt-3">
                        <div class=" talent-result ">

                            <div class="row">
                                <!-- job details -->
                                <div class="col-md-8">
                                    <h3>Talent Specialist</h3>
                                    <p class="text-color-light">At Versatile Mobitech Pvt. Ltd</p>
                                    <p><img src="../../../assets/images/maps.png" class="maps"> Malaysia Kuala
                                        Lumpur
                                    </p>
                                    <ul>
                                        <li>
                                            <p>Skills : </p>
                                        </li>
                                        <li>
                                            <p>Screening</p>
                                        </li>
                                        <li>
                                            <p>Sourcing </p>
                                        </li>
                                        <li>
                                            <p>Interviewing</p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- job details -->
                                <!-- apply job -->
                                <div class="col-md-4 text-right">
                                    <button class="btn invite-job text-right">Posted :
                                        2days ago</button>
                                    <button class="btn review"><a href="#" routerLink="/jobsearch">VIEW
                                            MORE</a></button>
                                </div>
                                <!-- apply job -->


                            </div>
                            <!-- job description -->
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="details">Employing multiple sourcing strategies for multiple job families
                                        depending on complexity of the position to hire by effectively using sourcing
                                        channels like Naukri, LinkedIn, Internal ATS, and Employee Referrals. Hired Top
                                        Notch Talent for Various Job Families (Software Development Engineers/Data
                                        Engineers, Database Administrators and IT APP Dev Engineers).
                                    </p>
                                </div>
                            </div>
                            <!-- job description -->
                            <!-- package -->
                            <div class="row mt-3 ">
                                <div class="col-md-6">
                                    <p>RM 100 - RM 1,000</p>
                                </div>
                                <div class="col-md-6 featured">
                                    <h4><img src="../../../assets/images/feature.png"> FEATURED</h4>
                                </div>
                            </div>
                            <!-- package -->
                            <!-- more details -->
                            <div class="row">
                                <div class="col-md-12 text-right">

                                    <p>
                                        <a class="hover-effect" data-toggle="collapse" href="#collapseExample4"
                                            role="button" aria-expanded="false" aria-controls="collapseExample4">
                                            View More Details
                                            <img src="../../../assets/images/right-arrow.png">
                                        </a>
                                    </p>
                                    <div class="collapse" id="collapseExample4">
                                        <div class="card card-body">
                                            Handled ERR programs such as LinkedIn programs, Lead generation programs
                                            etc. which helped in quick sourcing of profiles
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- more details -->
                        </div>
                    </div>
                    <!-- talent preview -->
                </div>
                <!-- search results -->

            </div>
            <!-- search details -->
            <div class="col-md-4">
                <div class="company-profile">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img [src]="talentJobPreference[0].image">
                            <div class="online"></div>
                            <h3> {{talentPersonalDetails.full_name}}</h3>
                            <p>{{talentJobPreference[0].role}}</p>
                            <p>{{talentPersonalDetails.location}}</p>
                            <button class="btn review "> <a href="#" class="anchor-dark" routerLink="/talentaccount">
                                    EDIT PROFILE
                                </a></button>
                        </div>
                    </div>

                </div>
                <div class="company-profile">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Account Settings</h3>
                            <div class="row account-settings">
                                <div class="col-md-2 ">
                                    <img src="../../../assets/images/account.png" class="img-fluid">
                                </div>
                                <div class="col-md-10">
                                    <h4>Account Settings</h4>
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing .</p> -->
                                </div>
                            </div>
                            <div class="row account-settings">
                                <div class="col-md-2">
                                    <img src="../../../assets/images/message.png" class="img-fluid">
                                </div>
                                <div class="col-md-10">
                                    <h4>Communication Preferences</h4>
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing .</p> -->
                                </div>
                            </div>
                            <div class="row account-settings">
                                <div class="col-md-2">
                                    <img src="../../../assets/images/payment.png" class="img-fluid">
                                </div>
                                <div class="col-md-10">
                                    <h4>Payment Information</h4>
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing .</p> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="company-profile">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Profile Strength</h3>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing .</p> -->
                            <div class="col-md-12 text-center">
                                <!-- You can now use it in app.component.html -->
                                <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16"
                                    [innerStrokeWidth]="8" [outerStrokeColor]="'#0ac629'" [innerStrokeColor]="'#fed501'"
                                    [animation]="true" [animationDuration]="5000" [showSubtitle]="false">
                                </circle-progress>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>