<!-- heADER -->
<div class="container-fluid main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">

            <a class="navbar-brand" routerLink=""><img src="../../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#" routerLink="">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/jobsearch">Opportunities & Projects</a>
                    </li>



                </ul>
                <span class="navbar-text"> <a href="#"><img src="../../../assets/images/bell.png"
                            class="bell"></a></span>
                <span class="navbar-text">

                    <div class="dropdown dropdown-button">
                        <a class="nav-item " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="../../../assets/images/vm.png" class="vm-image"> John Peter <img
                                src="../../../assets/images/down-arrow.png">
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#" routerLink="/talentaccount">My Profile</a>
                            <a class="dropdown-item" href="#" routerLink="/changepassword">Change Password</a>
                            <a class="dropdown-item" href="#" routerLink="/subscriptions">Subscriptions</a>
                            <a class="dropdown-item" href="#" routerLink="">Logout</a>

                        </div>
                    </div>
                </span>
            </div>
        </nav>
    </div>
</div>

<!-- HEADER -->


<section class="login company-registration mt-3 mb-5">
    <div class="container create-account">

        <!-- serach talent -->
        <div class="row ">
            <div class="col-md-10">
                <div class="input-group button-search mb-3 mt-3">
                    <input type="text" class="form-control" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><img
                                src="../../../assets/images/search.png"></button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn test mb-3 mt-3 review" type="button" id="button-addon2"><a href="#"
                        routerLink="/takeatest">Take a
                        Test</a></button>
            </div>
        </div>
        <!-- search talent -->

        <div class="row justify-content-center ">
            <div class="col-md-6">
                <h1 class="text-center mb-3">Welcome, John Peter!
                </h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row dashboard">
            <!-- search details -->
            <div class="col-md-8 search-results">

                <!-- search results -->
                <div class="row ">
                    <!-- talent preview -->
                    <div class="col-md-12 mt-3">
                        <div class=" talent-result ">

                            <div class="row">
                                <!-- job details -->
                                <div class="col-md-8">
                                    <h3>UX / UI Designer</h3>
                                    <p class="text-color-light">At Versatile Mobitech Pvt. Ltd</p>
                                    <p><img src="../../../assets/images/maps.png" class="maps"> Malaysia Kuala
                                        Lumpur
                                    </p>
                                    <ul>
                                        <li>
                                            <p>Skills : </p>
                                        </li>
                                        <li>
                                            <p>Photoshop</p>
                                        </li>
                                        <li>
                                            <p>Adobe illustrartor</p>
                                        </li>
                                        <li>
                                            <p>Adobe XD</p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- job details -->
                                <!-- apply job -->
                                <div class="col-md-4 text-right">
                                    <button class="btn invite-job text-right">Posted :
                                        2days ago</button>
                                    <button class="btn review"><a href="#" routerLink="/jobsearch">VIEW
                                            MORE</a></button>
                                </div>
                                <!-- apply job -->


                            </div>
                            <!-- job description -->
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                            </div>
                            <!-- job description -->
                            <!-- package -->
                            <div class="row mt-3 ">
                                <div class="col-md-6">
                                    <p>$100 - $1,000</p>
                                </div>
                                <div class="col-md-6 featured">
                                    <h4><img src="../../../assets/images/feature.png"> FEATURED</h4>
                                </div>
                            </div>
                            <!-- package -->
                        </div>
                    </div>
                    <!-- talent preview -->
                    <!-- talent preview -->
                    <div class="col-md-12 mt-3">
                        <div class=" talent-result ">

                            <div class="row">
                                <!-- job details -->
                                <div class="col-md-8">
                                    <h3>UX / UI Designer</h3>
                                    <p class="text-color-light">At Versatile Mobitech Pvt. Ltd</p>
                                    <p><img src="../../../assets/images/maps.png" class="maps"> Malaysia Kuala
                                        Lumpur
                                    </p>
                                    <ul>
                                        <li>
                                            <p>Skills : </p>
                                        </li>
                                        <li>
                                            <p>Photoshop</p>
                                        </li>
                                        <li>
                                            <p>Adobe illustrartor</p>
                                        </li>
                                        <li>
                                            <p>Adobe XD</p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- job details -->
                                <!-- apply job -->
                                <div class="col-md-4 text-right">
                                    <button class="btn invite-job text-right">Posted :
                                        2days ago</button>
                                    <button class="btn review"><a href="#" routerLink="/jobsearch">VIEW
                                            MORE</a></button>
                                </div>
                                <!-- apply job -->


                            </div>
                            <!-- job description -->
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                            </div>
                            <!-- job description -->
                            <!-- package -->
                            <div class="row mt-3 ">
                                <div class="col-md-6">
                                    <p>$100 - $1,000</p>
                                </div>
                                <div class="col-md-6 featured">
                                    <h4><img src="../../../assets/images/feature.png"> FEATURED</h4>
                                </div>
                            </div>
                            <!-- package -->
                        </div>
                    </div>
                    <!-- talent preview -->
                    <!-- talent preview -->
                    <div class="col-md-12 mt-3">
                        <div class=" talent-result ">

                            <div class="row">
                                <!-- job details -->
                                <div class="col-md-8">
                                    <h3>UX / UI Designer</h3>
                                    <p class="text-color-light">At Versatile Mobitech Pvt. Ltd</p>
                                    <p><img src="../../../assets/images/maps.png" class="maps"> Malaysia Kuala
                                        Lumpur
                                    </p>
                                    <ul>
                                        <li>
                                            <p>Skills : </p>
                                        </li>
                                        <li>
                                            <p>Photoshop</p>
                                        </li>
                                        <li>
                                            <p>Adobe illustrartor</p>
                                        </li>
                                        <li>
                                            <p>Adobe XD</p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- job details -->
                                <!-- apply job -->
                                <div class="col-md-4 text-right">
                                    <button class="btn invite-job text-right">Posted :
                                        2days ago</button>
                                    <button class="btn review"><a href="#" routerLink="/jobsearch">VIEW
                                            MORE</a></button>
                                </div>
                                <!-- apply job -->


                            </div>
                            <!-- job description -->
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                            </div>
                            <!-- job description -->
                            <!-- package -->
                            <div class="row mt-3 ">
                                <div class="col-md-6">
                                    <p>$100 - $1,000</p>
                                </div>
                                <div class="col-md-6 featured">
                                    <h4><img src="../../../assets/images/feature.png"> FEATURED</h4>
                                </div>
                            </div>
                            <!-- package -->
                        </div>
                    </div>
                    <!-- talent preview -->
                    <!-- talent preview -->
                    <div class="col-md-12 mt-3">
                        <div class=" talent-result ">

                            <div class="row">
                                <!-- job details -->
                                <div class="col-md-8">
                                    <h3>UX / UI Designer</h3>
                                    <p class="text-color-light">At Versatile Mobitech Pvt. Ltd</p>
                                    <p><img src="../../../assets/images/maps.png" class="maps"> Malaysia Kuala
                                        Lumpur
                                    </p>
                                    <ul>
                                        <li>
                                            <p>Skills : </p>
                                        </li>
                                        <li>
                                            <p>Photoshop</p>
                                        </li>
                                        <li>
                                            <p>Adobe illustrartor</p>
                                        </li>
                                        <li>
                                            <p>Adobe XD</p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- job details -->
                                <!-- apply job -->
                                <div class="col-md-4 text-right">
                                    <button class="btn invite-job text-right">Posted :
                                        2days ago</button>
                                    <button class="btn review"><a href="#" routerLink="/jobsearch">VIEW
                                            MORE</a></button>
                                </div>
                                <!-- apply job -->


                            </div>
                            <!-- job description -->
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                            </div>
                            <!-- job description -->
                            <!-- package -->
                            <div class="row mt-3 ">
                                <div class="col-md-6">
                                    <p>$100 - $1,000</p>
                                </div>
                                <div class="col-md-6 featured">
                                    <h4><img src="../../../assets/images/feature.png"> FEATURED</h4>
                                </div>
                            </div>
                            <!-- package -->
                        </div>
                    </div>
                    <!-- talent preview -->
                </div>
                <!-- search results -->

            </div>
            <!-- search details -->
            <div class="col-md-4">
                <div class="company-profile">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="../../../assets/images/profile-image.jpg">
                            <div class="online"></div>
                            <h3>John Peter</h3>
                            <p>UX / UI Designer</p>
                            <p>Secunderabad , Telangana, India</p>
                            <button class="btn review" routerLink="/ratingsreview">EDIT PROFILE</button>
                        </div>
                    </div>

                </div>
                <div class="company-profile">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Account Settings</h3>
                            <div class="row account-settings">
                                <div class="col-md-2">
                                    <img src="../../../assets/images/account.png" class="img-fluid">
                                </div>
                                <div class="col-md-10">
                                    <h4>Account Settings</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing .</p>
                                </div>
                            </div>
                            <div class="row account-settings">
                                <div class="col-md-2">
                                    <img src="../../../assets/images/message.png" class="img-fluid">
                                </div>
                                <div class="col-md-10">
                                    <h4>Communication Preferences</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing .</p>
                                </div>
                            </div>
                            <div class="row account-settings">
                                <div class="col-md-2">
                                    <img src="../../../assets/images/payment.png" class="img-fluid">
                                </div>
                                <div class="col-md-10">
                                    <h4>Payment Information</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing .</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="company-profile">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Profile Strength</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing .</p>
                            <div class="col-md-12 text-center">
                                <!-- You can now use it in app.component.html -->
                                <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16"
                                    [innerStrokeWidth]="8" [outerStrokeColor]="'#0ac629'" [innerStrokeColor]="'#fed501'"
                                    [animation]="true" [animationDuration]="5000" [showSubtitle]="false">
                                </circle-progress>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>